{{ template "util/header" . }}
<div class="container">
	{{ with .Problems }}
		<h1> Probleme </h1>
		<div class="list-group">
			{{ range . }}
				<a href="/probleme/{{.ID}}" class="list-group-item list-group-item-action">#{{.ID}}: {{.Name}}</a>
			{{ end }}
		</div>
	{{ end }} 
</div>
{{ template "util/footer" . }}
