{{ template "util/header" . }}

<div class="c-container">
	<div id="changelog-content"></div>
	<script>
		$("#changelog-content").html(md.render({{ .Changelog }}))
		$("#changelog-content ul").addClass("list-disc list-inside")
		$("#changelog-content li").addClass("pl-8")
	</script>
</div>

{{ template "util/footer" . }}
