{{define "title"}}{{getText "donations"}}{{end}}
{{define "content"}}
<div class="segment-panel reset-list">
    {{if eq .Status "success"}}
    <h1>{{getText "donate_success"}}</h1>
    {{else if eq .Status "cancelled"}}
    <h1>{{getText "donate_cancelled"}}</h1>
    {{end}}
    
    <h2>{{getText "support_kn"}}</h2>

    <p>{{getText "donate_par"}}</p>

    <hr class="my-2"/>

    <h2>{{getText "donation_methods"}}:</h2>
    <ul>
        {{if .BMACName}}
        <li class="mb-2">
            Buy Me A Coffee:
            <a target="_blank" href="https://www.buymeacoffee.com/{{.BMACName}}"><img class="inline" src="https://img.buymeacoffee.com/button-api/?text=Donate&emoji=&slug={{.BMACName}}&button_colour=FFDD00&font_colour=000000&font_family=Lato&outline_colour=000000&coffee_colour=ffffff"/></a>
            {{getText "donate_bmac_disclaimer"}}
        </li>
        {{end}}
        {{if .PayPalID}}
        <li> 
            PayPal:
            <a target="_blank" class="btn btn-blue" href="https://www.paypal.com/donate/?hosted_button_id=5UK5BMN93KXFG"><i class="fab fa-paypal mr-2"></i> Donate with PayPal</a>
            {{getText "donate_paypal_disclaimer"}}
        </li>
        {{end}}
    </ul>

    

</div>


{{end}}