{{ define "title" }} Kilonova {{ end }}
{{ define "content" }}
<h1>Kilonova {{.Version}}</h1>

<p class="text-gray-600 dark:text-gray-300 text-sm">{{ getText .Ctx.Language "announcement"}} <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/Qa6Ytgh">Discord</a> </p>
<br />
{{ $user := .Ctx.User }}
{{ $root := . }}
{{ $ctx := .Ctx }}

{{ with visibleProblems $user.Brief }}
	<h2 class="text-2xl mb-2"> {{ getText $ctx.Language "problems" }} </h2>
	{{ template "pb_list_group" (genPbListParams $user.Brief $ctx.Language .) }}
	<div class="mb-6"></div>
{{ end }} 
<br />
{{end}}
