{{ define "title" }} Kilonova {{ end }}
{{ define "content" }}
<h1>Kilonova {{.Version}}</h1>

<p class="text-gray-600 dark:text-gray-300 text-md">{{ getText "announcement" `<a target="_blank" rel="noopener noreferrer" href="https://discord.gg/Qa6Ytgh">Discord</a>` }} </p>
<div class="alert mb-2">
	{{ renderMarkdown .Description }}
</div>
{{ $user := .Ctx.User.Brief }}
{{ $root := . }}
{{ $ctx := .Ctx }}


<div class="list-group mb-4">
    {{ range problemLists }}
        {{ range .SubLists }}
            {{ with problemList .ID }}
                {{template "problemlist_show" (genPblistParams $user $ctx . false)}}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ with (unassociatedProblems $user) }}
        <details class="list-group-head">
            <summary class="pb-1 mt-1">
                <span>{{getText "the_rest"}}</span>
                {{if $user}}
                    <span class="float-right badge">
                        {{ getText "num_solved" (numSolvedPbs $user .) (len .) }}
                    </span>
                {{else}}
                <span class="float-right badge">
                    {{ if eq 1 (len .)}}
                        {{ getText "single_problem" }}
                    {{ else }}
                        {{ getText "num_problems" (len .) }}
                    {{ end }}
                </span>
                {{end}}
            </summary>
            {{ with . }}
                <div class="mt-2">
                    {{ template "pb_list_group" (genProblemsParams $user . true false) }}
                </div>
            {{ end }}
        </details>
    {{ end }}
</div>

<div class="mb-4">
    {{ renderMarkdown (getText "all_problems_announcement") }}
</div>



{{end}}
