{{template "util/header" . }}

<div class="c-container">
	<h1>Welcome to Kilonova {{.Version}}{{if .LoggedIn}}, {{.User.Name}}{{end}}!</h1>
	
	<p class="text-gray-600 dark:text-gray-300 text-sm">Pssst! Anunță-mă ce mai vrei de la site, trimite-mi mesaj pe <a href="https://discord.gg/Qa6Ytgh">Discord</a></p>

	<br />
	{{template "util/pbprint" .}}
</div>
{{template "util/footer" . }}
