<!DOCTYPE html>
<html lang="{{language}}" {{if isDarkMode}}class="dark"{{else}}class="light"{{end}}>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{block "title" .}}Kilonova{{end}}</title>
	{{- $fav := hashedName "static/favicon.ico"}}
	{{$bundle := hashedName "static/bundle.js"}}
	{{$vendored := hashedName "static/vendored.js"}}
	{{$style := hashedName "static/styles.css" -}}

	<link rel="icon" type="image/x-icon" href="/{{$fav}}"/>
	<link rel="shortcut icon" type="image/x-icon" href="/{{$fav}}"/>
	
	<!-- OpenGraph stuff -->
	<meta property="og:title" content="{{template `title` .}}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{block `description` .}}Programming platform for learning and practising{{end}}" />
	<meta name="description" content="{{template `description` .}}" />
	<meta property="og:locale" content="ro_RO" />
	<meta property="og:site_name" content="Kilonova" />

	<!--Dependency bundle-->
	<script src="/{{$bundle}}"></script>
	<script src="/{{$vendored}}"></script>

	<script>
		// hljs.highlightAll(); // TODO: Remove

		var platform_info = {
			debug: {{debug}},
			admin: {{if .Ctx.User}}{{.Ctx.User.Admin}}{{else}}false{{end}},
			user_id: {{if .Ctx.User}}{{.Ctx.User.ID}}{{else}}0{{end}},
			language: {{language}},
            langs: {{pLanguages}},
		};
	</script>

	<script>
CodeMirror.defineInitHook(bundled.CodeMirrorThemeHook)
if(bundled.isDarkMode()) {  // Dark Mode
	CodeMirror.defaults.theme = "monokai";
}
	</script>

	{{ block "head" . }} {{ end }}

	<link rel="stylesheet" href="/static/chroma.css" />
	<link rel="stylesheet" href="/{{$style}}" />
</head>

<body>
	{{ template "navbar" . }}

	{{- if .Ctx.User }}
		{{ if not .Ctx.User.VerifiedEmail }}
			<div class="w-full py-1 px-2 bg-green-200 dark:bg-green-700 text-black dark:text-white text-center">{{ getText "unverifiedEmail" }}</div>
		{{ end }}
	{{ end -}}
	
	<div class="c-container mb-2">
		{{ block "content" . }}
			<h1> Well... this is awkward... There's no content </h1>
		{{ end }}
	</div>

    <div id="modals">

    </div>

	{{ template "footer" . }}
</body>

</html>
