<!DOCTYPE html>
<html lang="{{.Ctx.Language}}">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{block "title" .}}Kilonova{{end}}</title>
	{{- $fav := hashedName "static/favicon.ico"}}
	{{$bundle := hashedName "static/bundle.js"}}
	{{$style := hashedName "static/styles.css" -}}

	<link rel="icon" type="image/x-icon" href="/{{$fav}}"/>
	<link rel="shortcut icon" type="image/x-icon" href="/{{$fav}}"/>
	
	<!-- OpenGraph stuff -->
	<meta property="og:title" content='{{template "title" .}}' />
	<meta property="og:type" content="website" />
	<meta property="og:description" content='{{block "description" .}}Programming platform for learning and practising{{end}}' />
	<meta name="description" content='{{template "description" .}}' />
	<meta property="og:locale" content="ro_RO" />
	<meta property="og:site_name" content="Kilonova" />

	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">

	<!-- pretty icons (fontawesome) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

	<!--Dependency bundle-->
	<script src="/{{$bundle}}"></script>

	<!--highlight.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css" />
	<!--<style>@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/nnfx-dark.min.css") (prefers-color-scheme: dark);</style>-->
	<style>@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai.min.css") (prefers-color-scheme: dark);</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>

	<!--use KaTeX instead of MathJax-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.2/katex.min.css" />
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.2/katex.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.2/contrib/auto-render.min.js"></script>
	<script>
		function loadKaTeX() {
			renderMathInElement(document.body, {
				delimiters:	[
					{left: "$$", right: "$$", display: true},
					{left: "$", right: "$", display: false},
					{left: "\\(", right: "\\)", display: false},
					{left: "\\[", right: "\\]", display: true}
				]
			});
		}
		document.addEventListener('DOMContentLoaded', loadKaTeX);
		hljs.configure({languages:['c', 'cpp', 'py', 'go', 'haskell', 'python3']}) // TODO
		hljs.highlightAll();
		hljs.addPlugin(
			new bundled.CopyButtonPlugin({
				callback: (text, el) => bundled.apiToast({status: "success", data: bundled.getText("copied") }),
		  	})
		);
		var platform_info = {
			debug: {{debug}},
			admin: {{if .Ctx.User}}{{.Ctx.User.Admin}}{{else}}false{{end}},
			user_id: {{if .Ctx.User}}{{.Ctx.User.ID}}{{else}}0{{end}},
			language: {{.Ctx.Language}},
            langs: {{pLanguages}},
		};
	</script>

	<!--Codemirror-->
		<!--CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/codemirror.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/theme/monokai.css" />
		<!--JS-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/codemirror.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/addon/mode/overlay.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/mode/meta.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/mode/markdown/markdown.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/mode/gfm/gfm.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/mode/clike/clike.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/mode/go/go.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/mode/python/python.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.9/mode/haskell/haskell.min.js"></script>
	<script>
CodeMirror.defaults.lineNumbers = true;
CodeMirror.defaults.indentUnit = 4;
CodeMirror.defaults.tabSize = 4;
CodeMirror.defaults.indentWithTabs = true;
CodeMirror.defaults.lineWrapping = true;
CodeMirror.defaults.viewportMargin = Infinity;
if(window.matchMedia('(prefers-color-scheme: dark)').matches) { // Dark Mode
	CodeMirror.defaults.theme = "monokai";
}
	</script>
	<!-- production version, optimized for size and speed -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.prod.js"></script>

	{{ block "head" . }} {{ end }}

	<link rel="stylesheet" href="/{{$style}}" />
</head>

<body>
	{{ template "navbar" . }}

	{{- if .Ctx.User }}
		{{ if not .Ctx.User.VerifiedEmail }}
			<div class="w-full py-1 px-2 bg-green-200 dark:bg-green-700 text-black dark:text-white text-center">{{ getText .Ctx.Language "unverifiedEmail" }}</div>
		{{ end }}
	{{ end -}}
	
	<div class="c-container mb-2">
		{{ block "content" . }}
			<h1> Well... this is awkward... There's no content </h1>
		{{ end }}
	</div>

	{{ template "footer" . }}
</body>

</html>
