{{ define "title" }} {{getText "paste_title"}} #{{.Paste.ID}} {{ end }} 
{{ define "content" }}

{{$maxSize := intFlag "behavior.problem.default_source_size"}}

<kn-paste-viewer 
    paste_id="{{.Paste.ID}}" 
    authorEnc="{{.Paste.Author | encodeJSON}}" 
    subEnc="{{.FullSub | encodeJSON}}" 
    code="{{if (lt .FullSub.CodeSize $maxSize)}}{{with forceSubCode .FullSub}}{{syntaxHighlight . $.FullSub.Language}}{{end}}{{end}}"></kn-paste-viewer>

{{ if pasteEditor authedUser .Paste }}
    <button onclick="deletePaste()" class="btn btn-red my-2">{{getText "del_paste"}}</button>
{{ end }}

<script>
    const paste_id = {{.Paste.ID}};
    async function deletePaste() {
        if(!(await bundled.confirm(bundled.getText("pasteDeleteConfirm")))) {
            return;
        }
        const res = await bundled.postCall(`/paste/${paste_id}/delete`, {})
        if(res.status === "error") {
            bundled.apiToast(res)
            return
        }
        window.history.back()
    }
</script>

{{ end }}