{{ define "title" }} {{getText .Ctx.Language "problem" .Problem.ID .Problem.Name}} {{ end }}
{{ define "content" }}

<!--
<h1 class="mt-4">{{getText .Ctx.Language "problemSingle"}} <code>{{.Problem.Name}}</code>
{{- if .ProblemEditor -}}
	<a href="/problems/{{- .Problem.ID -}}/edit"> {{getText .Ctx.Language "edit"}}</a>	
{{- end -}}
</h1>
<hr/>
-->

<div class="mb-12">
	<h1 class="mb-2">{{getText .Ctx.Language "problemSingle"}} #{{.Problem.ID}}</h1>
	<div class="page-holder">
		<div class="page-content reset-list">
			<div class="w-full mb-6 text-center">
				<h1>{{.Problem.Name}}</h1>
				<h5>{{getText .Ctx.Language "timeLimit"}}: {{.Problem.TimeLimit}}s</h5>
				<h5>{{getText .Ctx.Language "memoryLimit"}}: {{KBtoMB .Problem.MemoryLimit}}MB</h5>
				<h5>{{getText .Ctx.Language "input"}}: {{if .Problem.ConsoleInput}}stdin{{else}}{{.Problem.TestName}}.in{{end}}</h5>
				<h5>{{getText .Ctx.Language "output"}}: {{if .Problem.ConsoleInput}}stdout{{else}}{{.Problem.TestName}}.out{{end}}</h5>
			</div>

			{{if ispdflink .Problem.Description}}
				<p><a target='_blank' href='{{.Problem.Description}}'>{{.Problem.Description}}</a></p> 
				<embed class='mx-2 my-2' type='application/pdf' src='{{.Problem.Description}}' style="width:95%; height: 90vh;"></embed>
			{{else}}
				<div class="text-justify">
					{{.Markdown}}
				</div>
			{{end}}
		</div>

		</script>
		<div class="page-sidebar">
			<div class="page-sidebar-box font-semibold">
				<h2 class="font-normal">
					{{getText .Ctx.Language "generalInfo"}}
					{{- if .ProblemEditor -}}
						<a href="/problems/{{- .Problem.ID -}}/edit"> {{getText .Ctx.Language "edit"}}</a>	
					{{- end -}}
				</h2>
                <div class="px-2">
                    {{ if .ProblemEditor }}
                    <p>{{getText .Ctx.Language "visibility"}}: 
                    {{if .Problem.Visible}}
                        <span class="rounded-md px-2 py-1 bg-green-700 text-white text-sm">{{getText .Ctx.Language "published"}}</span>
                    {{else}}
                        <span class="rounded-md px-2 py-1 bg-red-700 text-white text-sm">{{getText .Ctx.Language "unpublished"}}</span>
                    {{end}}
                    </p>
                    {{end}}
                    {{- if .Problem.AuthorCredits -}}
                        <p>{{getText .Ctx.Language "author"}}: {{.Problem.AuthorCredits}}</p>
                    {{- end -}}
                    {{- if .Problem.SourceCredits -}}
                        <p>{{getText .Ctx.Language "source"}}: {{.Problem.SourceCredits}}</p>
                    {{- end -}}
                    {{- if gt .Problem.DefaultPoints 0 -}}
                        <p>{{getText .Ctx.Language "defaultPoints"}}: {{.Problem.DefaultPoints}}p</p>
                    {{- end -}}
                    <p><a href="/submissions/?problem_id={{.Problem.ID}}">{{getText .Ctx.Language "submissions"}}</a></p>
                </div>
			</div>
			{{ if .Ctx.User }}
				<div class="page-sidebar-divider"></div>
				<div class="page-sidebar-box">
                    <older-subs problemid="{{.Problem.ID}}" userid="{{.Ctx.User.ID}}"></older-subs>
                </div>
			{{ end }}
			{{ $pbid := .Problem.ID }}
			{{ $ctx := .Ctx }}
			{{ with .Attachments }}
				<div class="page-sidebar-divider"></div>
				<div class="page-sidebar-box"> <!-- Attachments -->
                    <h2>{{getText $ctx.Language "attachments"}}</h2>
					<div class="px-2">
                        <div class="list-group list-group-mini">
                            {{ range . }}
                                <a style="word-wrap: break-word;" href="/problems/{{$pbid}}/attachments/{{.Name}}" class="list-group-item flex justify-between">
                                    <span id="att-name-{{.ID}}">{{.Name}}</span>
                                    <span 
                                        class="badge text-sm" 
                                        id="att-size-{{.ID}}">
                                        {{.Size}}
                                    </span>
                                </a>
                                <!-- <p class="segment-container"><a style="word-wrap: break-word;" href="/problems/{{$pbid}}/attachments/{{.Name}}">{{.Name}}</a></p> -->
                            {{ end }}
                        </div>
					</div>
				</div>
			{{ end }}
		</div>

	</div>

<script>
function prettifyAttachments() {
    for(let el of document.querySelectorAll("[id^='att-name-']")) {
        el.innerHTML = `<i class="fas ${bundled.getFileIcon(el.innerText)} fa-fw"></i> ${el.innerText}`
    }
    for(let el of document.querySelectorAll("[id^='att-size-']")) {
        el.innerText = bundled.sizeFormatter(Number(el.innerText))
    }
}

prettifyAttachments();
</script>

<script>
let loadingIDs = new Map();
function makeSubWaiter(id) {
	if(loadingIDs.has(id)) {
		return `Will not watch ${id}`
	}
	loadingIDs.set(id, "reserved")
	let interv = setInterval(async () => {
		let res = await bundled.getCall("/submissions/getByID", {id: id})
		if(res.status == "error") {
			console.error(res);
			return
		}
		var lastStatus = loadingIDs.get(id);
		if(res.data.sub.status !== lastStatus) {
			document.dispatchEvent(new CustomEvent("kn-poll"))
		}
		if(res.data.sub.status == "finished") {
			bundled.createToast({title: bundled.getText("finishedEval"), description: bundled.getText("finalScore", id, res.data.sub.score), status: "success"})
			clearInterval(interv);
		}
		loadingIDs.set(id, res.data.sub.status)
	}, 500)
	return `Watching ${id}...`
}
</script>

	{{ if .Ctx.User }}

	<h1 class="mt-4">{{getText .Ctx.Language "uploadSub"}}</h1>
		<label class="block mb-2">
			<span class="form-label">{{getText .Ctx.Language "language"}}:</span>
			<select id="sub_language" class="form-select">
				{{ range $name, $lang := .Languages }}
					{{ if not $lang.Disabled }}
					<option value="{{$name}}" {{if eq $name "cpp14"}}selected{{end}}>{{$lang.PrintableName}}</option>
					{{ end }}
				{{ end }}
			</select>
		</label>

		<textarea id="SubArea" style="display: none;"></textarea>
		<button class="btn btn-blue mt-2" onclick="sendSub()">{{getText .Ctx.Language "send"}}</button>
		<script>
var cm = CodeMirror.fromTextArea(document.getElementById("SubArea"), {
	mode: bundled.languages["cpp14"],
});

document.getElementById("sub_language").addEventListener("change", (e) => {
	let lang = bundled.languages[e.target.value]
	if(lang !== null) {
		cm.setOption("mode", lang)
	}
})

const sendSub = bundled.debounce(async () => {
	let sendData = {
		problemID: "{{ .Problem.ID }}",
		language: document.getElementById("sub_language").value,
		code: cm.getValue(),
	};
	
	let res = await bundled.postCall("/submissions/submit", sendData)
	if(res.status == "error") {
		bundled.apiToast(res)
		return
	}
	bundled.createToast({title: bundled.getText("uploaded"), description: `<a href="/submissions/${res.data}">${ bundled.getText("view") }</btn>`})
	console.log(res.data, makeSubWaiter(res.data));
	document.dispatchEvent(new CustomEvent("kn-poll"));
}, 200)
		</script>
	{{ else }}

	<h2 class="mt-3 mb-5">{{getText .Ctx.Language "submitLogin"}}</h2>

	{{ end }}

</div>
{{ end }} 
