{{ define "title" }} {{getText "profile"}} {{.ContentUser.Name}} {{ end }}
{{ define "content" }}

<div class="segment-panel">
	<img class="rounded-lg float-right" width="128" height="128" src="/api/user/getGravatar?name={{.ContentUser.Name}}&s=128" alt="{{getText `profilePic`}} {{.ContentUser.Name}}"/>
	<div>
		<h1>{{if isAdmin}} <span class="tag rounded-lg font-semibold badge-blue">#{{.ContentUser.ID}}</span> {{end}} {{if .ContentUser.DisplayName}} {{.ContentUser.DisplayName}} ({{.ContentUser.Name}}) {{else}} {{.ContentUser.Name}} {{ end }}</h1>
        <p>{{getText "created_at"}}: <span class="server_timestamp">{{.ContentUser.CreatedAt.UnixMilli}}</span></p>
        {{ if .ContentUser.Generated }}
            <p>!!!{{getText "generated_acc"}}</p>
        {{ end }}
		{{- if authed -}} {{if (or isAdmin (eq authedUser.ID .ContentUser.ID)) -}}
		<p>{{getText "email"}}: {{.ContentUser.Email}}
            ({{getText "email.verified"}}? 
			{{ if .ContentUser.VerifiedEmail -}}
            {{getText "yes"}}	
			{{- else -}}
            {{getText "no"}} | <a href="#" onclick="resendEmail()">{{getText "resend"}}</a>
			{{- end -}})
        </p>
		{{- end -}} {{- end -}}
        <div class="block my-2">
            <a class="btn btn-blue" href="/submissions/?user_id={{.ContentUser.ID}}">{{getText "submission.list"}}</a>
            {{if authed}}
                {{if eq .ContentUser.ID authedUser.ID}}
                    <a class="btn btn-blue" href="/settings">{{getText "profile.settings"}}</a>
                {{end}}
                
            {{end}}
        </div>
	</div>
</div>

{{ if isAdmin }}
<form id="managerUserForm" class="segment-panel" autocomplete="off">
    <h2>{{getText "manageUser"}}</h2>

    <p>
        <a class="btn btn-blue" href="/profile/{{.ContentUser.Name}}/sessions">{{getText "manage_sessions_btn"}}</a>
    </p>
    
    <div class="block my-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" name="can_login" id="can_login" type="checkbox" {{if not .ContentUser.LockedLogin}}checked{{end}}>
            <span class="ml-2">{{getText "can_login"}}</span>
        </label>
    </div>
    <div class="block my-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" name="must_change_uname" id="must_change_uname" type="checkbox" {{if .ContentUser.NameChangeForced}}checked{{end}}>
            <span class="ml-2">{{getText "must_change_uname"}}</span>
        </label>
    </div>
    <label class="block my-2">
        <span class="form-label">{{getText "change_name"}}:</span>
        <input type="text" id="manage_change_name" style="filter: none" class="form-input" value="{{.ContentUser.Name}}" autocomplete="off">
    </label>

    <button class="mr-2 btn btn-blue" type="submit">{{getText "button.update"}}</button>
    {{if not .ContentUser.Admin}}
    <button class="mr-2 btn btn-red" type="button" onclick="deleteAccount()">{{getText "deleteAccount"}}</button>
    {{end}}
    <button class="mr-2 btn btn-red" type="button" onclick="pruneBio()">{{getText "purgeBio"}}</button>
</form>
<script>
    async function updateUserStatus(e) {
        e.preventDefault()
        const data = {
            id: {{.ContentUser.ID}},
            lockout: !document.getElementById("can_login").checked,
            new_name: document.getElementById("manage_change_name").value,
            force_username_change: document.getElementById("must_change_uname").checked,
        }

        const rez = await bundled.postCall("/user/moderation/manage", data)
        if(rez.status == "error") {
            bundled.apiToast(rez)
            return
        }
        window.location.assign(`/profile/${data.new_name}`);
    }

    document.getElementById("managerUserForm").addEventListener("submit", updateUserStatus);
</script>
{{end}}

{{$isCUser := false}}
{{ if authed }}
{{ if eq .ContentUser.ID authedUser.ID}}
{{$isCUser = true}}
{{ end }}
{{ end }}

{{if (or .ContentUser.Bio $isCUser)}}
<div class="segment-panel reset-list enhance-images enhance-tables">
    <h2>{{getText "about_me_bio"}}
    {{ if and $isCUser (.ContentUser.Bio) }}
    <a href="/settings#bio"><i class="fas fa-edit"></i> {{getText "editBio"}}</a>
    {{ end }}
    </h2>
    {{ if and $isCUser (not .ContentUser.Bio) }}
        <a href="/settings#bio"><i class="fas fa-edit"></i> {{getText "createBio"}}</a>
    {{ end }}
    {{renderMarkdown .ContentUser.Bio}}
</div>
{{ end }}
	
<script>
async function resendEmail() {
    bundled.apiToast(await bundled.postCall('/user/resendEmail'))
}
async function deleteAccount() {
	
	if(!(await bundled.confirm(bundled.getText("delAccConfirmation")))) {
		return
	}

	let res = await bundled.postCall("/user/moderation/deleteUser", {id: {{.ContentUser.ID}} });
	if(res.status === "success") {
		window.history.back();
	}
	bundled.apiToast(res);
}

async function pruneBio() {
	if(!(await bundled.confirm(bundled.getText("bioPruneConfirmation")))) {
		return
	}

	let res = await bundled.postCall("/user/moderation/purgeBio", {id: {{.ContentUser.ID}} });
	if(res.status === "success") {
		window.location.reload();
	}
	bundled.apiToast(res);
}
</script>


{{ if .SolvedCount }}
    <div class="segment-panel">
        {{if or (isAdmin) $isCUser}}
        <h2>{{if eq 1 .SolvedCount}}{{getText "oneSolvedProblem"}}{{else}}{{getText "manySolvedProblems" .SolvedCount}}{{end}}</h2>
        {{else}}
        <h2>{{getText "solvedProblems"}}</h2>
        {{end}}
        <kn-pb-solvedby enc="{{.SolvedProblems | encodeJSON}}" count="{{.SolvedCount}}" userid="{{.ContentUser.ID}}"></kn-pb-solvedby>
    </div>
{{ end }}
{{ if .AttemptedCount }}
    <div class="segment-panel">
        {{if or (isAdmin) $isCUser}}
        <h2>{{if eq 1 .AttemptedCount}}{{getText "oneAttemptedProblem"}}{{else}}{{getText "manyAttemptedProblems" .AttemptedCount}}{{end}}</h2>
        {{else}}
        <h2>{{getText "attemptedProblems"}}</h2>
        {{end}}
        <kn-pb-attemptedby enc="{{.AttemptedProblems | encodeJSON}}" count="{{.AttemptedCount}}" userid="{{.ContentUser.ID}}"></kn-pb-solvedby>
    </div>
{{ end }}


{{ if gt (len .ChangeHistory) 1}}
<div class="segment-panel reset-list">
    <h2>{{getText "usernameChangeHistory"}}</h2>
    <ul>
        {{range .ChangeHistory}}
        <li>
            <code>{{.Name}}</code> (<span class="server_timestamp">{{.ChangedAt.UnixMilli}}</span>)
        </li>
        {{end}}
    </ul>
</div>
{{end}}

{{ end }}
