{{ define "title" }} {{getText .Ctx.Language "profile"}} {{.ContentUser.Name}} {{ end }}
{{ define "content" }}

<div class="flex">
	<img class="rounded-lg my-auto" width="128" height="128" src="/api/user/getGravatar?name={{.ContentUser.Name}}&s=128" alt='{{getText .Ctx.Language "profilePic"}} {{.ContentUser.Name}}'/>
	<div class="ml-3">
		<h1>{{.ContentUser.Name}}</h1>
		<span>{{.ContentUser.Bio}}
		{{ if .Ctx.User }}
			{{ if eq .ContentUser.ID .Ctx.User.ID }}
				{{if .ContentUser.Bio}}
				<a href="/settings#bio"><i class="fas fa-edit"></i> {{getText .Ctx.Language "editBio"}}</a>
				{{else}}
				<a href="/settings#bio"><i class="fas fa-edit"></i> {{getText .Ctx.Language "createBio"}}</a>
				{{end}}
			{{ end }}
		{{ end }}</span>
		<p><a href="/submissions/?user_id={{.ContentUser.ID}}">{{getText .Ctx.Language "submission.list"}}</a></p>
		{{- if .Ctx.User -}} {{if (or .Ctx.User.Admin (eq .Ctx.User.ID .ContentUser.ID)) -}}
		<p>{{getText .Ctx.Language "email"}}: {{.ContentUser.Email}}</p>
		<p>{{getText .Ctx.Language "email.verified"}}? 
			{{ if .ContentUser.VerifiedEmail -}}
				{{getText .Ctx.Language "yes"}}	
			{{- else -}}
				{{getText .Ctx.Language "no"}} | <button class="btn btn-blue" onclick="resendEmail()">{{getText .Ctx.Language "resend"}}</button>
			{{- end -}}</p>
		{{- end -}} {{- end -}}
	</div>
</div>
{{ if len .UserProblems }}
<p>{{if eq 1 (len .UserProblems)}}{{getText .Ctx.Language "oneSolvedProblem"}}{{else}}{{getText .Ctx.Language "solvedProblems" (len .UserProblems)}}{{end}} {{ range .UserProblems -}}
<a href="/problems/{{.ID}}">{{.Name}}</a>
{{ end -}}
{{ end }}
</p>
	
{{if .Ctx.User}}
{{if and .Ctx.User.Admin (not .ContentUser.Admin)}}
<button class="mt-6 block btn btn-red" onclick="deleteAccount()">{{getText .Ctx.Language "deleteAccount"}}</button>

<script>
async function resendEmail() {
    let res = await postCall('/user/resendEmail')
    apiToast(res)
    return res
}
async function deleteAccount() {
	
	if(!confirm('{{getText .Ctx.Language "delAccConfirmation"}}')) {
		return
	}

	let res = await bundled.postCall("/user/moderation/deleteUser", {id: {{.ContentUser.ID}} });
	if(res.status === "success") {
		window.location.assign("/");
	}
	bundled.apiToast(res);
}
</script>

{{end}}
{{end}}

{{ end }}
