{{ define "title" }} {{getText "profile"}} {{.ContentUser.Name}} {{ end }}
{{ define "content" }}

<div class="segment-container">
	<img class="rounded-lg float-right" width="128" height="128" src="/api/user/getGravatar?name={{.ContentUser.Name}}&s=128" alt="{{getText `profilePic`}} {{.ContentUser.Name}}"/>
	<div>
		<h1>{{.ContentUser.Name}}</h1>
		<span>{{safeHTML .ContentUser.Bio}} {{/* Bio was ensured safe on update by bluemonday */}}
            {{ if authed }}
            {{ if eq .ContentUser.ID .Ctx.User.ID }}
            {{if .ContentUser.Bio}}
            <a class="block" href="/settings#bio"><i class="fas fa-edit"></i> {{getText "editBio"}}</a>
            {{else}}
            <a class="block" href="/settings#bio"><i class="fas fa-edit"></i> {{getText "createBio"}}</a>
            {{end}}
            {{ end }}
            {{ end }}
        </span>
        <p>{{getText "created_at"}}: <span class="server_timestamp">{{.ContentUser.CreatedAt.UnixMilli}}</span></p>
        {{ if .ContentUser.Generated }}
            <p>!!!{{getText "generated_acc"}}</p>
        {{ end }}
		{{- if authed -}} {{if (or .Ctx.User.Admin (eq .Ctx.User.ID .ContentUser.ID)) -}}
		<p>{{getText "email"}}: {{.ContentUser.Email}}
            ({{getText "email.verified"}}? 
			{{ if .ContentUser.VerifiedEmail -}}
            {{getText "yes"}}	
			{{- else -}}
            {{getText "no"}} | <a href="#" onclick="resendEmail()">{{getText "resend"}}</a>
			{{- end -}})
        </p>
		{{- end -}} {{- end -}}
        <div class="block my-2">
            <a class="btn btn-blue" href="/submissions/?user_id={{.ContentUser.ID}}">{{getText "submission.list"}}</a>
            {{if authed}}
                {{if eq .ContentUser.ID .Ctx.User.ID}}
                    <a class="btn btn-blue" href="/settings">{{getText "profile.settings"}}</a>
                {{end}}

                {{if and .Ctx.User.Admin (not .ContentUser.Admin)}}
                <button class="btn btn-red" onclick="deleteAccount()">{{getText "deleteAccount"}}</button>
                {{end}}
                
            {{end}}
        </div>
	</div>
</div>
	
<script>
async function resendEmail() {
    bundled.apiToast(await bundled.postCall('/user/resendEmail'))
}
async function deleteAccount() {
	
	if(!confirm(bundled.getText("delAccConfirmation"))) {
		return
	}

	let res = await bundled.postCall("/user/moderation/deleteUser", {id: {{.ContentUser.ID}} });
	if(res.status === "success") {
		window.history.back();
	}
	bundled.apiToast(res);
}
</script>


{{ if .SolvedProblems }}
    <div class="segment-container">
        {{$pbs := .SolvedProblems }}
        {{ if len $pbs }}
        <h2>{{if eq 1 (len $pbs)}}{{getText "oneSolvedProblem"}}{{else}}{{getText "solvedProblems" (len $pbs)}}{{end}}</h2>
        {{ template "pb_list_group" (genProblemsParams .Ctx.User.Brief $pbs false true) }}
        {{ end }}
    </div>
{{ end }}
{{ if .AttemptedProblems }}
    <div class="segment-container">
        {{$pbs := .AttemptedProblems }}
        {{ if len $pbs }}
        <h2>{{if eq 1 (len $pbs)}}{{getText "oneAttemptedProblem"}}{{else}}{{getText "attemptedProblems" (len $pbs)}}{{end}}</h2>
        {{ template "pb_list_group" (genProblemsParams .ContentUser.Brief $pbs true true) }}
        {{ end }}
    </div>
{{ end }}

{{ end }}
