{{ define "title" }}{{getText "settings"}}{{ end }}
{{ define "content" }}

<h1> {{getText "settingsHeader"}} </h1>
<div class="segment-panel">
	<h2> {{getText "updateBio"}} </h2>
	<form id="bio_form">
		<textarea id="newBio" class="form-textarea w-full mb-1" autocapitalize="sentences" autocomplete="off" placeholder="Bio...">{{unescapeHTML fullAuthedUser.Bio}}</textarea>
        <p id="bio_len_notice" class="text-sm text-muted mb-2"><span id="bio_len">{{len fullAuthedUser.Bio}}</span> / 10000</p>
		<button class="btn btn-blue" onclick="updateBio()">{{getText "button.update"}}</button>
	</form>
    <script>
        const maxSize = 10000
        document.getElementById("newBio").addEventListener("input", e => {
            document.getElementById("bio_len").innerText = e.currentTarget.value.length 
            document.getElementById("bio_len_notice").classList.toggle("text-muted", !(e.currentTarget.value.length > maxSize))
            document.getElementById("bio_len_notice").classList.toggle("text-red-600", e.currentTarget.value.length > maxSize)
            document.getElementById("bio_len_notice").classList.toggle("dark:text-red-400", e.currentTarget.value.length > maxSize)
        })
    </script>
</div>

<div class="segment-panel">
	<h2> {{getText "updateLang"}} </h2>
	<form id="lang_form" autocomplete="off">
		<select id="langSelect" class="form-select block my-2">
			<option value="ro" {{if eq fullAuthedUser.PreferredLanguage `ro`}}selected{{end}}>🇷🇴 Română</option>
			<option value="en" {{if eq fullAuthedUser.PreferredLanguage `en`}}selected{{end}}>🇬🇧 English</option>
		</select>
		<button class="btn btn-blue" type="submit">{{getText "button.update"}}</textarea>
	</form>
</div>

<form class="segment-panel" id="name_change_form" autocomplete="off">
    <h2>{{getText "changeName"}}</h2>
    <label class="block my-2">
        <span class="form-label">{{getText "newUsername"}}:</span>
        <input type="text" id="name_change_name" class="form-input" required/>
    </label>
	<label class="block mb-2">
		<span class="form-label">{{getText "pwdConfirmation"}}: </span>
		<input class="form-input" type="password" id="name_change_pwd">
	</label>
    <button class="btn btn-blue">{{getText "button.update"}}</button>
</form>

<form class="segment-panel" id="avatar_change_form" autocomplete="off">
    <h2>{{getText "changeAvatar"}}</h2>
    <select id="avatarSelect" class="form-select block my-2">
        <option value="gravatar" {{if eq fullAuthedUser.AvatarType `gravatar`}}selected{{end}}>Gravatar</option>
        <option value="discord" {{if eq fullAuthedUser.AvatarType `discord`}}selected{{end}}>Discord</option>
    </select>
    {{with discordIdentity fullAuthedUser}}
        {{getText "changeAvatarWithDiscord" .String | renderMarkdown}}
    {{else}}
        {{getText "changeAvatarNoDiscord" | renderMarkdown}}
    {{end}}
    <button class="btn btn-blue">{{getText "button.update"}}</button>
</form>

<form class="segment-panel" id="pwd_change_form">
	<h2> {{getText "updatePwd"}} </h2>
	<label class="block mb-2">
		<span class="form-label">{{getText "password"}}: </span>
		<input class="form-input" type="password" id="pwd_change_org">
	</label>
	<label class="block mb-2">
		<span class="form-label">{{getText "newPwd"}}: </span>
		<input class="form-input" type="password" id="pwd_change_pwd" autocomplete="off">
	</label>
	<label class="block mb-2">
		<span class="form-label">{{getText "newPwdConfirm"}}: </span>
		<input class="form-input" type="password" id="pwd_change_pwd1" autocomplete="off">
	</label>
	<button type="submit" class="btn btn-blue">{{getText "button.update"}}</button>
</form>
<form class="segment-panel" id="email_change_form">
	<h2> {{getText "updateEmail"}} </h2>
	<label class="block mb-2">
		<span class="form-label">{{getText "newEmail"}}: </span>
		<input class="form-input" type="email" id="em_change_email" autocomplete="off">
	</label>
	<label class="block mb-2">
		<span class="form-label">{{getText "pwdConfirmation"}}: </span>
		<input class="form-input" type="password" id="em_change_pwd">
	</label>
	<button type="submit" class="btn btn-blue">{{getText "button.update"}}</button>
</form>

<script>
async function updateBio(e) {
	e.preventDefault()
	var bio = document.getElementById("newBio").value;

	let res = await bundled.postCall("/user/self/setBio", {bio})
	bundled.apiToast(res) 
}
async function updateLanguage(e) {
	e.preventDefault()
	var language = document.getElementById("langSelect").value;
    bundled.clearLanguageCookie()

	let res = await bundled.postCall("/user/self/setPreferredLanguage", {language})
	if(res.status === "success") {
		window.location.reload();
		return
	}
	bundled.apiToast(res)
}
async function updateName(e) {
    e.preventDefault()
    const data = {
        newName: document.getElementById("name_change_name").value,
        password: document.getElementById("name_change_pwd").value,
    }
    const rez = await bundled.postCall("/user/updateName", data)
    if(rez.status == "error") {
        bundled.apiToast(rez)
        return
    }
    window.location.reload()
}
async function updateAvatar(e) {
    e.preventDefault()
    const data = {
        avatarType: document.getElementById("avatarSelect").value
    }
    const rez = await bundled.postCall("/user/self/setAvatarType", data)
    bundled.apiToast(rez)
}
async function updatePassword(e) {
	e.preventDefault()
	let oldpwd = document.getElementById("pwd_change_org").value,
		pwd = document.getElementById("pwd_change_pwd").value,
		pwd1 = document.getElementById("pwd_change_pwd1").value;
	if(pwd != pwd1) {
		bundled.createToast({title: bundled.getText("differentPwds"), status: 'error'});
		return
	}
	let res = await bundled.postCall("/user/changePassword", {password:pwd, old_password:oldpwd})
	bundled.apiToast(res)
}
async function updateEmail(e) {
	e.preventDefault()
	let req = {
		password: document.getElementById("em_change_pwd").value,
		email: document.getElementById("em_change_email").value,
	};
	let res = await bundled.postCall("/user/changeEmail", req)
	if(res.status === "error") {
		bundled.apiToast(res)
		return
	}
	window.location.reload();
}
document.getElementById("bio_form").addEventListener("submit", updateBio)
document.getElementById("lang_form").addEventListener("submit", updateLanguage)
document.getElementById("name_change_form").addEventListener("submit", updateName)
document.getElementById("avatar_change_form").addEventListener("submit", updateAvatar)
document.getElementById("pwd_change_form").addEventListener("submit", updatePassword)
document.getElementById("email_change_form").addEventListener("submit", updateEmail)
</script>

{{end}}
