{{ define "title" }} {{getText "sub"}} {{.Submission.ID}} {{ end }} 
{{ define "head" }}
<meta name="robots" content="none">
{{ end }}
{{ define "content" }}

{{$maxSize := intFlag "behavior.problem.default_source_size"}}

<kn-sub-mgr 
    id="{{.Submission.ID}}" 
    enc="{{.Submission | encodeJSON}}" 
    code="{{if (lt .Submission.CodeSize $maxSize)}}{{with subCode .Submission}}{{syntaxHighlight . $.Submission.Language}}{{end}}{{end}}"></kn-sub-mgr>
<div class="mb-2"></div>

{{ if authed }}
    {{ if .Submission.CanDelete authedUser }}
    <button hx-delete="/submissions/{{.Submission.ID}}" class="btn btn-red mb-2">{{getText "removeSub"}}</button>
    <form method="post" action="/submissions/{{.Submission.ID}}/reevaluate">
        <button type="submit" class="btn btn-blue mb-2">{{getText "reevaluate"}}</button>
    </form>
    {{ end }}
    {{ if boolFlag "feature.pastes.enabled" }}
        {{ if .Submission.Submission.IsEditor authedUser }}
            <form method="post" action="/submissions/{{.Submission.ID}}/paste">
                <button type="submit" class="btn btn-blue mb-2">{{getText "create_paste"}}</button>
            </form>
        {{ end }}
    {{ end }}
{{ end }}


{{ end }}
