{{ define "title" }} Submisii {{ end }}

{{ define "content" }}

<h1>Stare submisii</h1>

<div id="subs" v-cloak>
	<div class="flex flex-wrap lg:border-t lg:border-gray-200">
		<div class="w-full lg:w-3/12 lg:pr-2 lg:border-r lg:border-gray-200" v-if="!hiddenBar">
			<div class="mt-6"></div>
			<label class="block mb-2">
				<span class="form-label">Pagină:</span>
				<input class="form-input" type="number" min="1" v-model="page">
			</label>
			<label class="block mb-2">
				<span class="form-label">ID User (0 = ignore):</span>
				<input class="form-input" type="number" min="0" v-model="filters.user_id">
			</label>
			<label class="block mb-2">
				<span class="form-label">ID Problemă (0 = ignore):</span>
				<input class="form-input" type="number" min="0" v-model="filters.problem_id">
			</label>
			<label class="block mb-2">
				<span class="form-label">Status:</span>
				<select class="form-select" v-model="filters.status">
					<option value="">-</option>
					<option value="finished">Finalizat</option>
					<option value="working">În lucru</option>
					<option value="waiting">În așteptare</option>
				</select>
			</label>
			<label class="block mb-2">
				<span class="form-label">Limbaj:</span>
				<select class="form-select" v-model="filters.lang">
					<option value="">-</option>
					<option value="cpp">C++</option>
				</select>
			</label>
			<label class="block mb-2">
				<span class="form-label">Scor (-1 = ignore):</span>
				<input class="form-input" type="number" min="-1" max="100" v-model="filters.score">
			</label>
			<label class="block mb-2">
				<span class="form-label">Vizibilă:</span>
				<select class="form-select" v-model="filters.visible">
					<option value="">-</option>
					<option value="true">Da</option>
					<option value="false">Nu</option>
				</select>
			</label>
			<label class="block mb-2">
				<span class="form-label">Evidențiată:</span>
				<select class="form-select" v-model="filters.quality">
					<option value="">-</option>
					<option value="true">Da</option>
					<option value="false">Nu</option>
				</select>
			</label>
			<label class="block mb-2">
				<span class="form-label">Eroare de Compilare:</span>
				<select class="form-select" v-model="filters.compile_error">
					<option value="">-</option>
					<option value="true">Da</option>
					<option value="false">Nu</option>
				</select>
			</label>
			<label class="block mb-2">
				<span class="form-label">Criteriu de ordonare:</span>
				<select class="form-select" v-model="filters.ordering">
					<option value="id" default>ID</option>
					<option value="score">Scor</option>
					<option value="max_time">Timp Maxim</option>
					<option value="max_mem">Memorie Maximă</option>
				</select>
			</label>
			<label class="block mb-2">
				<input type="checkbox" class="form-checkbox mr-2" v-model="filters.ascending">
				<span class="form-label">Criteriu crescător</span>
			</label>
			<button class="btn btn-blue mb-4 mr-2" @click="poll()">Încărcare</button>
		</div>
		<div class="mw-full mt-2 lg:flex-1 lg:px-2 lg:py-2">
			<div class="text-4xl mx-auto my-auto w-full my-10 text-center" v-if="loading">
				<div><i class="fas fa-spinner animate-spin"></i> Se încarcă...</div>
			</div>
			<div v-else-if="submissions.length > 0">
				<h1>${getRezStr()}</h1>
				<p v-if="Number(filters.problem_id) > 0">Problema <a :href="'/problems/'+submissions[0].problem.id">${submissions[0].problem.name}</a></p>
				<table class="kn-table">
					<thead>
						<tr>
							<th scope="col" class="w-12 text-center px-4 py-2">
								ID
							</th>
							<th scope="col">
								Autor
							</th>
							<th scope="col">
								Dată încărcare
							</th>
							<th scope="col" v-if="Number(filters.problem_id) == 0">
								Problemă
							</th>
							<th scope="col">
								Timp	
							</th>
							<th scope="col">
								Memorie
							</th>
							<th scope="col" class="w-1/6">
								Status	
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="kn-table-row" :style="sub.sub.quality ? 'background-color: #fbffc7;' : ''" v-for="sub in submissions" :key="sub.id">
							<th scope="row" class="text-center px-2 py-1">
								${sub.sub.id}
							</th>
							<td class="px-2 py-1">
								<!--<a class="inline-flex align-middle items-center" :href="'/profile/'+sub.author.name"><img class="flex-none mr-2 rounded" :src="'/api/user/getGravatar?s=32&name='+sub.author.name" width="32" height="32" alt="Avatar" /><span class="flex-1">${sub.author.name}</span></a>-->
								<a :href="'/profile/'+sub.author.name">${sub.author.name}</a>
							</td>
							<td class="text-center px-2 py-1">
								${timeStr(sub.sub.created_at)}
							</td>
							<td class="text-center px-2 py-1" v-if="Number(filters.problem_id) == 0">
								<a :href="'/problems/'+sub.problem.id">${sub.problem.name}</a>
							</td>
							<td class="text-center px-2 py-1">
								${sub.sub.max_time == -1 ? "-" : Math.floor(sub.sub.max_time * 1000) + "ms"}
							</td>
							<td class="text-center px-2 py-1">
								${sub.sub.max_memory == -1 ? "-" :sizeFormatter(sub.sub.max_memory)}
							</td>
							<td :class="sub.sub.status === 'finished' ? 'text-black' : '' + ' text-center px-4 py-2'" :style="sub.sub.status == 'finished' ? 'background-color: ' + getGradient(sub.sub.score, 100) : ''">
								<a :href="'/submissions/'+sub.sub.id">${formatStatus(sub.sub)}</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="text-4xl mx-auto my-auto w-full mt-10 mb-10 text-center" v-else>
				Nicio submisie găsită.
			</div>
			<button class="btn btn-left mr-2" @click="hiddenBar = !hiddenBar">${hiddenBar ? "Afișare" : "Ascunde"} bara de filtrare</button>
			<button class="btn mb-4" @click="getQuery()">Copiere link filtre</button>
		</div>
	</div>
</div>

<script>
Vue.createApp(bundled.SubmissionsApp).mount("#subs")
</script>

{{ end }} 
