{{ define "title" }} {{getText .Ctx.Language "submissions"}} {{ end }}

{{ define "content" }}

<h1 class="mb-2">{{getText .Ctx.Language "subStatus"}}</h1>

<div id="subs" v-cloak>
	<div class="flex flex-wrap lg:border-t-2 lg:border-gray-200">
		<div class="w-full border-b lg:border-b-0 lg:w-3/12 lg:pl-4 lg:border-l lg:border-gray-200 lg:order-last" v-if="!hiddenBar">
			<div class="pt-2"></div>
			<h2>{{getText .Ctx.Language "filters"}}</h2>
			<label class="block mb-2">
				<span class="form-label">{{getText .Ctx.Language "page"}}:</span>
				<input class="form-input" type="number" min="1" v-model="page">
			</label>
			<label class="block mb-2">
				<span class="form-label">{{getText .Ctx.Language "status"}}:</span>
				<select class="form-select" v-model="filters.status">
					<option value="">-</option>
					<option value="finished">{{getText .Ctx.Language "finished"}}</option>
					<option value="working">{{getText .Ctx.Language "working"}}</option>
					<option value="waiting">{{getText .Ctx.Language "waiting"}}</option>
				</select>
			</label>
			<label class="block mb-2">
				<span class="form-label">{{getText .Ctx.Language "language"}}:</span>
				<select class="form-select" v-model="filters.lang">
					<option value="">-</option>
					{{range $name, $lang := pLanguages}}
						{{ if not $lang.Disabled }}
						<option value="{{$name}}">{{$lang.PrintableName}}</option>
						{{ end }}
					{{end}}
				</select>
			</label>
			<label class="block mb-2">
				<span class="form-label">{{getText .Ctx.Language "sorting"}}:</span>
				<select class="form-select" v-model="filters.ordering">
					<option value="id" default>{{getText .Ctx.Language "id"}}</option>
					<option value="score">{{getText .Ctx.Language "score"}}</option>
					<option value="max_time">{{getText .Ctx.Language "maxTime"}}</option>
					<option value="max_mem">{{getText .Ctx.Language "maxMemory"}}</option>
				</select>
			</label>
			<label class="block mb-2">
				<input type="checkbox" class="form-checkbox mr-2" v-model="filters.ascending">
				<span class="form-label">{{getText .Ctx.Language "ascending"}}</span>
			</label>
            <details class="block mb-2">
                <summary class="form-label">{{getText .Ctx.Language "advancedOptions"}}</summary>
                <label class="block mb-2">
                    <span class="form-label">{{getText .Ctx.Language "userID"}} (0 = ignore):</span>
                    <input class="form-input" type="number" min="0" v-model="filters.user_id">
                </label>
                <label class="block mb-2">
                    <span class="form-label">{{getText .Ctx.Language "problemID"}} (0 = ignore):</span>
                    <input class="form-input" type="number" min="0" v-model="filters.problem_id">
                </label>
                <label class="block mb-2">
                    <span class="form-label">{{getText .Ctx.Language "score"}} (-1 = ignore):</span>
                    <input class="form-input" type="number" min="-1" max="100" v-model="filters.score">
                </label>
                <label class="block mb-2">
                    <span class="form-label">{{getText .Ctx.Language "compileErr"}}:</span>
                    <select class="form-select" v-model="filters.compile_error">
                        <option value="">-</option>
                        <option value="true">{{getText .Ctx.Language "yes"}}</option>
                        <option value="false">{{getText .Ctx.Language "no"}}</option>
                    </select>
                </label>
            </details>
			<button class="btn btn-blue mb-4 mr-2" @click="poll()">{{getText .Ctx.Language "fetch"}}</button>
		</div>
		<div class="w-full border-t lg:border-t-0 pt-2 lg:flex-1 lg:pr-4 lg:py-2 lg:border-r lg:w-9/12">
			<div class="text-4xl mx-auto w-full my-10 text-center" v-if="loading">
				<div><i class="fas fa-spinner animate-spin"></i> {{getText .Ctx.Language "loading"}}</div>
			</div>
			<div v-else-if="submissions.length > 0">
				<h2>${getRezStr()}</h2>
				<p v-if="Number(filters.problem_id) > 0">{{getText .Ctx.Language "problemSingle"}} <a :href="'/problems/'+submissions[0].problem.id">${submissions[0].problem.name}</a></p>
				<table class="kn-table">
					<thead>
						<tr>
							<th scope="col" class="w-12 text-center px-4 py-2">
								{{getText .Ctx.Language "id"}}	
							</th>
							<th scope="col">
								{{getText .Ctx.Language "author"}}	
							</th>
							<th scope="col">
								{{getText .Ctx.Language "uploadDate"}}	
							</th>
							<th scope="col" v-if="Number(filters.problem_id) == 0">
								{{getText .Ctx.Language "problemSingle"}}	
							</th>
							<th scope="col">
								{{getText .Ctx.Language "time"}}	
							</th>
							<th scope="col">
								{{getText .Ctx.Language "memory"}}	
							</th>
							<th scope="col" class="w-1/6">
								{{getText .Ctx.Language "status"}}	
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="kn-table-row" v-for="sub in submissions" :key="sub.id">
							<th scope="row" class="text-center px-2 py-1">
								${sub.sub.id}
							</th>
							<td class="px-2 py-1">
								<!--<a class="inline-flex align-middle items-center" :href="'/profile/'+sub.author.name"><img class="flex-none mr-2 rounded" :src="'/api/user/getGravatar?s=32&name='+sub.author.name" width="32" height="32" alt="Avatar" /><span class="flex-1">${sub.author.name}</span></a>-->
								<a :href="'/profile/'+sub.author.name">${sub.author.name}</a>
							</td>
							<td class="text-center px-2 py-1">
								${timeStr(sub.sub.created_at)}
							</td>
							<td class="text-center px-2 py-1" v-if="Number(filters.problem_id) == 0">
                                <span v-if="sub.hidden">
                                    ---
                                </span>
								<a :href="'/problems/'+sub.problem.id" v-else>${sub.problem.name}</a>
							</td>
							<td class="text-center px-2 py-1">
								${sub.sub.max_time == -1 ? "-" : Math.floor(sub.sub.max_time * 1000) + "ms"}
							</td>
							<td class="text-center px-2 py-1">
								${sub.sub.max_memory == -1 ? "-" :sizeFormatter(sub.sub.max_memory * 1024)}
							</td>
							<td :class="sub.sub.status === 'finished' && !sub.hidden ? 'text-black' : '' + ' text-center px-4 py-2'" :style="sub.sub.status == 'finished' && !sub.hidden ? 'background-color: ' + getGradient(sub.sub.score, 100) : ''">
                                <span v-if="sub.hidden">
                                    ---
                                </span>
                                <a :href="'/submissions/'+sub.sub.id" v-else>${formatStatus(sub.sub)}</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="text-4xl mx-auto my-auto w-full mt-10 mb-10 text-center" v-else>
				{{getText .Ctx.Language "noSubFound"}}	
			</div>
			<button class="btn btn-left mr-2" @click="hiddenBar = !hiddenBar">${hiddenBar ? '{{getText .Ctx.Language "show"}}' : '{{getText .Ctx.Language "hide"}}'} {{getText .Ctx.Language "filterBar"}}</button>
			<button class="btn mb-4" @click="getQuery()">{{getText .Ctx.Language "filterLink"}}</button>
		</div>
	</div>
</div>

<script>
Vue.createApp(bundled.SubmissionsApp).mount("#subs")
</script>

{{ end }} 
