{{ define "title" }} {{getText "sub"}} {{.Submission.ID}} {{ end }} 
{{ define "content" }}

<kn-sub-mgr id="{{.Submission.ID}}"/>

<div class="mb-2"></div>

{{ if authed }}
    {{ if .Ctx.User.Admin }}
    <button onclick="deleteSubmission()" class="btn btn-red mb-2">{{getText "removeSub"}}</button>
    <button onclick="reevaluateSubmission()" class="btn btn-blue mb-2">{{getText "reevaluate"}}</button>
    {{ end }}
    {{ if pastesEnabled }}
        {{ if submissionEditor .Ctx.User.Brief .Submission }}
            <button onclick="createPaste()" class="btn btn-blue mb-2">{{getText "create_paste"}}</button>
        {{ end }}
    {{ end }}
{{ end }}

<script>
const sub_id = {{.Submission.ID}};
async function createPaste() {
	const res = await bundled.postCall("/submissions/createPaste", { id: sub_id });
	if (res.status === "error") {
		apiToast(res);
	}
	const url = `${window.location.origin}/pastes/${res.data}`;
    await navigator.clipboard.writeText(url).then(
		() => {
			bundled.createToast({ status: "success", description: `${bundled.getText("paste_url_copied")} <a href="${url}">${bundled.getText("go_to_paste")}</a>` });
		},
		(err) => {
			bundled.createToast({ status: "error", description: bundled.getText("notCopied") });
			console.error(err);
		}
	);
}
async function deleteSubmission() {
    if(!confirm(bundled.getText("subDeleteConfirm"))) {
        return;
    }
    const args = {submission_id: sub_id};
    let res = await bundled.postCall("/submissions/delete", args)
    if(res.status === "success") {
        window.history.back();
        return
    }
    bundled.apiToast(res)
}
async function reevaluateSubmission() {
    const args = {id: sub_id};
    let res = await bundled.postCall("/admin/maintenance/reevaluateSubmission", args);
    if(res.status === "success") {
        window.location.reload();
        return
    }
    bundled.apiToast(res);
}
</script>

{{ end }}
