{{ template "util/header" . }}

<div class="c-container">

	<div id="submission_view">
		<div id="sub_placeholder" class="text-4xl mx-auto my-auto w-full mt-10 mb-10 text-center">
			<div><i class="fas fa-spinner animate-spin"></i> Se încarcă...</div>
		</div>
	</div>
		<script>
var mgr = new bundled.SubmissionManager({{.Submission.ID}}, 'sub_placeholder');
mgr.startPoller()
		</script>
</div>

{{ template "util/footer" . }}
