node_modules
.vscode
.idea
/config.*
/grader.toml
/flags.json
.env
!.env.example

/kn
knnnn

_translations.json

/run.sh
/prod.sh
teamsOut*


# Mkdocs
.cache
docs_site
/site

# General
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[]

# Resource forks
._*
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
