node_modules
.vscode
.idea
/config.*
/flags.json
!/config.example.toml
.env

/kn
knnnn

_translations.json

/run.sh
/prod.sh
teamsOut*


# Mkdocs
.cache
docs_site

# General
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[]

# Resource forks
._*
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
