
<div class="segment-panel">
    {{/*
        {{if gt .ContestCount 0 }}
        <h1>{{.ContestCount}} {{if eq .ContestCount 1}}{{getText "contest"}}{{else}}{{getText "contests"}}{{end}}</h1>
        {{else}}
        <h1>{{getText "contests"}}</h1>
        {{ end }}
    */}}
    <h1>{{getText "contests"}}</h1>

    <div class="mt-1">
        <a class="p-1 {{if eq .Page `/contests`}} topbar-selected {{end}}" href="/contests">{{getText "contest_index.all"}}</a>
        |
        <a class="p-1 {{if eq .Page `/contests/official`}} topbar-selected {{end}}" href="/contests/official">{{getText "contest_index.official"}}</a>
        |
        <a class="p-1 {{if eq .Page `/contests/virtual`}} topbar-selected {{end}}" href="/contests/virtual">{{getText "contest_index.virtual"}}</a>
        {{if authed}}
        |
        <a class="p-1 {{if eq .Page `/contests/personal`}} topbar-selected {{end}}" href="/contests/personal">{{getText "contest_index.personal"}}</a>
        
        {{if or (boolFlag "behavior.contests.anyone_virtual") (authedUser.IsProposer)}}
        |
        <a class="p-1 {{if eq .Page `create`}} topbar-selected {{end}}" href="/contests/create">{{getText "contest_index.create"}}</a>
        {{end}}
        {{end}}
    </div>
</div>