{{ define "title" }} {{ getText "leaderboard" }} {{ end }}
{{ define "content" }}
{{ template "topbar.html" .}}

<div class="page-holder">
    <div class="page-content-full">
        <h2>{{getText "leaderboard"}}</h2>
        {{ $editor := isContestEditor .Contest }}
        <kn-leaderboard contestid="{{.Contest.ID}}" editor="{{$editor}}"></kn-leaderboard>

        {{ if $editor }}
        <a href="/contests/{{.Contest.ID}}/leaderboard.csv">Download CSV</a>
        {{ end }}
    </div>
</div>

{{ end }}