{{ define "title" }} {{.Contest.Name}} {{ end }}
{{ define "head" }}
<link rel="canonical" href="{{printf `/contests/%d` .Contest.ID | formatCanonical}}" />
{{ end }}
{{ define "content" }}

{{ template "topbar.html" . }}

{{ $contest := .Contest }}

<div class="page-holder">
    <div class="page-content">
        {{ with contestProblems authedUser .Contest }}
            <h2> {{ getText "problems" }} </h2>
            {{ template "pb_list_group" (genContestProblemsParams authedUser . $contest) }}
        {{ else }}
            <p>{{getText "contest_no_problems"}}</p>
        {{ end }}
    </div>
    <div class="page-sidebar">
        {{ template "contest_sidebar.html" .Contest }}
    </div>
</div>

{{ end }}