{{define "title"}} {{getText "title.problem_archive" .Problem.ID .Problem.Name}} {{end}}
{{ define "head" }}
<meta name="robots" content="none">
{{ end }}
{{define "content"}}

{{ template "topbar.html" . }}

<form id="problemArchiveForm" class="segment-panel">
    <h2>{{getText "gen_title"}}</h2>
    {{if .Topbar.CanViewTests}}
    <div class="block mb-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" id="aTests" type="checkbox" checked>
            <span class="ml-2">{{getText "tests"}}</span>
        </label>
        {{if .Settings}}
            {{if and (not .Topbar.IsProblemEditor) (.Settings.CheckerName)}}
            <p class="text-sm text-muted">{{getText "gen_checker_warning"}}</p>
            {{end}}
        {{end}}
    </div>
    {{else}}
    <input class="hidden" id="aTests" type="checkbox"/>
    {{end}}
    
    <div class="block mb-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" id="aAtts" type="checkbox" checked>
            <span class="ml-2">{{getText "attachments"}}</span>
        </label>
    </div>
    {{if .Topbar.IsProblemEditor}}
    <div class="block mb-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" id="aPrivateAtts" type="checkbox" checked>
            <span class="ml-2">{{getText "privateAttachments"}}</span>
        </label>
    </div>
    {{else}}
    <input class="hidden" id="aPrivateAtts" type="checkbox"/>
    {{end}}

    <div class="block mb-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" id="aDetails" type="checkbox" checked>
            <span class="ml-2">{{getText "gen_details"}}</span>
        </label>
    </div>

    <div class="block mb-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" id="aTags" type="checkbox" checked>
            <span class="ml-2">{{getText "gen_tags"}}</span>
        </label>
    </div>
    
    <div class="block mb-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" id="aEditors" type="checkbox" checked>
            <span class="ml-2">{{getText "gen_editors"}}</span>
        </label>
    </div>

    <div class="block mb-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" id="aSubs" type="checkbox" checked>
            <span class="ml-2">{{getText "gen_submissions"}}</span>
        </label>
    </div>

    {{if .Topbar.IsProblemEditor}}
    <div class="block mb-2">
        <label class="inline-flex items-center text-lg">
            <input class="form-checkbox" id="aAllSubs" type="checkbox">
            <span class="ml-2">{{getText "gen_all_submissions"}}</span>
        </label>
    </div>
    {{else}}
    <input class="hidden" id="aAllSubs" type="checkbox"/>
    {{end}}

    <button class="btn btn-blue" type="submit">{{getText "download"}}</button>

</form>

<script>
    var problemID = {{.Problem.ID}}
    function startArchiveDownload(e) {
        e.preventDefault()
        let url = new URL(`/assets/problem/${problemID}/problemArchive`, window.location)
        url.search = new URLSearchParams({
            tests: document.getElementById("aTests").checked,

            attachments: document.getElementById("aAtts").checked,
            private_attachments: document.getElementById("aPrivateAtts").checked,

            details: document.getElementById("aDetails").checked,
            tags: document.getElementById("aTags").checked,
            editors: document.getElementById("aEditors").checked,

            submissions: document.getElementById("aSubs").checked,
            all_submissions: document.getElementById("aAllSubs").checked,
        }).toString()
        console.log(url, url.toString())
        let a = document.createElement("a")
        a.href = url.toString()
        document.body.appendChild(a)
        a.click()
        document.body.removeChild(a)
    }
    document.getElementById("problemArchiveForm").addEventListener("submit", startArchiveDownload)
</script>

{{with .Tests}}
<div class="segment-panel">
    <h2>{{getText "individual_tests"}}</h2>
    <table class="kn-table kn-table-slim">
        <thead>
            <tr>
                <th class="kn-table-cell" scope="col">
                    {{getText "id"}}
                </th>
                <th class="kn-table-cell" scope="col">
                    {{getText "input"}}
                </th>
                <th class="kn-table-cell" scope="col">
                    {{getText "output"}}
                </th>
                <th class="kn-table-cell" scope="col">
                    {{getText "score"}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr class="kn-table-row">
                <th class="kn-table-cell" scope="row">
                    {{.VisibleID}}.
                </th>
                <td class="kn-table-cell">
                    <a class="btn btn-blue mr-2" href="/assets/problem/{{$.Problem.ID}}/test/{{.VisibleID}}/input" download>Download input</a>
                </td>
                <td class="kn-table-cell">
                    <a class="btn btn-blue" href="/assets/problem/{{$.Problem.ID}}/test/{{.VisibleID}}/output" download>Download output</a>
                </td>
                <td class="kn-table-cell">
                    {{.Score}}      
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}

{{end}}
