{{ define "title" }} {{getText "title.problem_submit" .Problem.ID .Problem.Name}} {{ end }}
{{ define "content" }}


{{ template "topbar.html" . }}



<div class="page-holder no-bottom-border mb-0">
    {{ if .Topbar.Contest }}
    <div class="page-content min-h-0">
    {{ else }}
    <div class="page-content-full min-h-0">
    {{ end }}
        {{ template "pb_submit_form.html" .}}
    </div>
    {{ if .Topbar.Contest }}
        <div class="page-sidebar min-h-0">
            {{ template "contest_sidebar.html" .Topbar.Contest }}
        </div>
    {{ end }}
    <div class="page-content-full pt-0">
        <kn-sub-viewer problemID="{{.Problem.ID}}" userID="{{.Ctx.User.ID}}"
            {{if .Topbar.Contest}}contestID="{{.Topbar.Contest.ID}}"{{end}}
            title='{{getText "header.past_submissions"}}' />
    </div>
</div>

<script>

cm.setSize(null, "100%");
cm.focus();
cm.execCommand("goDocEnd");
</script>

<style>
    .CodeMirror {
        min-height: 250px;
    }
</style>


{{ end }}