{{ define "title" }} {{getText "problem" .Problem.ID .Problem.Name}} {{ end }}

{{ define "description" }} {{- .Problem.Name}} {{- if .Problem.SourceCredits}} - propusă la {{.Problem.SourceCredits}} {{- end}}{{if .Problem.AuthorCredits}} - de către {{.Problem.AuthorCredits}}{{end -}} {{ end }}

{{ define "head" }}
<link rel="canonical" href='{{printf "/problems/%d" .Problem.ID | formatCanonical}}' />
{{ end }}

{{ define "content" }}


{{ $pbid := .Problem.ID }}

{{ template "topbar.html" . }}

{{$stmtLang := .SelectedLang}}
{{$stmtFmt := .SelectedFormat}}

<div class="page-holder">
    <div class="page-content reset-list enhance-tables statement-images">
        {{ if gt (len .Variants) 1 }}
            <label class="block my-2">
                <span class="form-label">{{getText "statementFormat"}}:</span> 
                <select id="variant-select" class="form-select" autocomplete="off">
                    {{ range .Variants }}
                        <option value="{{.Language}};{{.Format}}" {{if and (eq .Language $stmtLang) (eq .Format $stmtFmt)}}selected{{end}}>{{formatStmtLang .Language}} - {{formatStmtFmt .Format}}</option>
                    {{ end }}
                </select>
            </label>    
        {{ end }}
        <div class="w-full mb-6 mt-2 text-center">
			<!--<h1>{{.Problem.Name}}</h1>-->
            <h5>{{getText "timeLimit"}}: {{.Problem.TimeLimit}}s</h5>
            <h5>{{getText "memoryLimit"}}: {{KBtoMB .Problem.MemoryLimit}}MB</h5>
            <h5>{{getText "input"}}: {{if .Problem.ConsoleInput}}stdin{{else}}{{.Problem.TestName}}.in{{end}}</h5>
            <h5>{{getText "output"}}: {{if .Problem.ConsoleInput}}stdout{{else}}{{.Problem.TestName}}.out{{end}}</h5>
            {{- if gt .Problem.DefaultPoints 0 -}}
            <h5>{{getText "defaultPoints"}}: {{.Problem.DefaultPoints}}p</h5>
            {{- end -}}
        </div>
        <div class="text-justify">
            {{.Statement}}
        </div>
    </div>

    <div class="page-sidebar">
        {{ if .Topbar.Contest }}
        {{ template "contest_sidebar.html" .Topbar.Contest }}
        {{ else }}
        <div class="page-sidebar-box font-semibold">
            <h2 class="font-normal">
                {{getText "problemInfo"}}
            </h2>
            <div class="px-2">
                <p>{{getText "id"}}: {{.Problem.ID}}</p>
                {{ if (eq (len .Problem.Editors) 1) }}
                <p>
                    {{getText "editor"}}:
                    {{ range .Problem.Editors }}
                    {{ with user . }}
                    <a href="/profile/{{.Name}}">{{.Name}}</a>
                    {{ end }}
                    {{ end }}
                </p>
                {{ else }}
                <details class="reset-list" {{ if .Topbar.IsProblemEditor }}open{{end}}>
                    <summary>{{getText "editors"}}:</summary>
                    <ul>
                        {{ range .Problem.Editors }}
                        {{ with user .}}
                        <li><a href="/profile/{{.Name}}">{{.Name}}</a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </details>
                {{ end }}
                {{ if .Topbar.IsProblemEditor }}
                {{ with .Problem.Viewers }}
                <details class="reset-list">
                    <summary>{{getText "viewers"}}:</summary>
                    <ul>
                        {{ range . }}
                        {{ with user .}}
                        <li><a href="/profile/{{.Name}}">{{.Name}}</a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </details>
                {{ end }}
                <p>{{getText "visibility"}}:
                    {{if .Problem.Visible}}
                    <span class="badge-lite bg-green-700 text-sm">{{getText "published"}}</span>
                    {{else}}
                    <span class="badge-lite bg-red-700 text-sm">{{getText "unpublished"}}</span>
                    {{end}}
                </p>
                {{end}}
                {{- if .Problem.AuthorCredits -}}
                <p>{{getText "author"}}: {{.Problem.AuthorCredits}}</p>
                {{- end -}}
                {{- if .Problem.SourceCredits -}}
                <p>{{getText "source"}}: {{.Problem.SourceCredits}}</p>
                {{- end -}}
                {{ if authed }}
                <p>{{getText "score"}}: {{if eq .Problem.ScoringStrategy `sum_subtasks`}}<a class="max_score_breakdown" href="#" data-problemid="{{.Problem.ID}}">{{end}}<span id="max_score_counter">{{subScore .Problem .Ctx.User.Brief}}</span> {{if eq .Problem.ScoringStrategy `sum_subtasks`}}</a>{{end}}</p>
                {{ end }}
            </div>
        </div>
        {{ range pbParentPblists .Problem }}
        <div class="page-sidebar-divider"></div>
        <details class="page-sidebar-box" open>
            <summary>
                <h2 class="font-normal inline-block">
                    <a href="/problem_lists/{{.ID}}">{{.Title}}</a>
                </h2>
            </summary>
            <div class="reset-list text-lg">
                {{ with listProblems authedUser . }}
                <ul>
                    {{ range . }}
                    {{ $score := spbMaxScore . }}    
                    <li>
                        <a {{ if eq $pbid .ID }} class="topbar-selected p-0" {{end}}
                            href="/problems/{{.ID}}">
                            {{.Name}}
                        </a> 
                        {{ if not (eq $score "")}} 
                            (
                                {{- if eq .ScoringStrategy `sum_subtasks` -}}
                                    <a class="max_score_breakdown" href="#" data-problemid="{{.ID}}">
                                {{- end -}}
                                {{$score}} {{- if not (eq $score "-") -}}p{{end}}
                                {{- if eq .ScoringStrategy `sum_subtasks` -}}
                                    </a>
                                {{- end -}}
                            ) 
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </details>
        {{ end }}
        {{ end }}
        {{ if authed }}
        <div class="page-sidebar-divider"></div>
        <div class="page-sidebar-box">
            <older-subs problemid="{{.Problem.ID}}" {{if (and .Topbar.Contest (not .Topbar.Contest.Ended))}}contestid="{{.Topbar.Contest.ID}}"{{end}} userid="{{.Ctx.User.ID}}"></older-subs>
        </div>
        {{ end }}
        {{ $topbar := .Topbar}}
        {{ with .Attachments }}
        <div class="page-sidebar-divider"></div>
        <details class="page-sidebar-box" open> <!-- Attachments -->
            <summary>
                <h2 class="inline-block">{{getText "attachments"}}</h2>
            </summary>
            <div class="px-2">
                <div class="list-group">
                    {{ range . }}
                    <a style="word-wrap: anywhere;" href="{{$topbar.URLPrefix}}/problems/{{$pbid}}/attachments/{{.Name}}"
                        class="list-group-item flex justify-between">
                        <span id="att-name-{{.ID}}">{{.Name}}</span>
                        <span class="badge-lite text-sm" id="att-size-{{.ID}}">
                            {{.Size}}
                        </span>
                    </a>
                    {{ end }}
                </div>
            </div>
        </details>
        {{ end }}
    </div>
</div>

<script>
    (() => {
        for (let el of document.querySelectorAll("[id^='att-name-']")) {
            el.innerHTML = `<i class="fas ${bundled.getFileIcon(el.innerText)} fa-fw"></i> ${el.innerText}`
        }
        for (let el of document.querySelectorAll("[id^='att-size-']")) {
            el.innerText = bundled.sizeFormatter(Number(el.innerText))
        }
    })()
</script>

<script>
    document.getElementById("variant-select")?.addEventListener("change", e => {
        const [lang, fmt] = e.target.value.split(";")
        var params = new URLSearchParams(window.location.search);
        params.set("pref_lang", lang)
        params.set("pref_format", fmt)
        window.location.search = params.toString()
    })
    const maxScoreElem = document.getElementById("max_score_counter");
    if(maxScoreElem !== null) {
        document.addEventListener("kn-poll", async () => {
            // Update max score on poll
            const res = await bundled.getCall("/problem/{{.Problem.ID}}/get/maxScore", {})
            if(res.status === "error") {
                console.error(res.data)
                return
            }
            maxScoreElem.innerText = res.data
        }) 
    }
</script>

{{ if authed }}
{{ template "pb_submit_form.html" .}}
{{ else }}

<h2 class="mt-3 mb-5">{{getText "submitLogin"}}</h2>

{{ end }}

</div>
{{ end }}
