{{ $topbar := .Topbar }}
{{ $problemPage := true }}
{{ $editProblemPage := true }}
<div class="segment-panel">
<h1>
    {{ if (eq $topbar.Page `contest_general`) }}
    <b>{{.Contest.Name}}</b>

    {{ $problemPage = false }}

    {{ else if (eq $topbar.Page `contest_edit`) }}
    <b>{{.Contest.Name}}</b>
    {{ $problemPage = false }}

    {{ else if (eq $topbar.Page `contest_registrations`) }}
    <b>{{.Contest.Name}} | {{getText "contest_registrations"}}</b>
    {{ $problemPage = false }}

    {{ else if (eq $topbar.Page `contest_communication`) }}
    <b>{{.Contest.Name}} | {{getText "communication"}}</b>
    {{ $problemPage = false }}

    {{ else if (eq $topbar.Page `contest_leaderboard`) }}
    <b>{{.Contest.Name}} | {{getText "leaderboard"}}</b>
    {{ $problemPage = false }}


    {{ else if (eq $topbar.Page `pb_statement`) }}

    {{ $editProblemPage = false }}
	<b>{{if $topbar.Contest}}{{$topbar.Contest.Name}} | {{end}}{{.Problem.Name}}</b>

    {{ else if (eq $topbar.Page `pb_submissions`) }}

    {{ $editProblemPage = false }}
	<b>{{if $topbar.Contest}}{{$topbar.Contest.Name}} | {{end}}{{.Problem.Name}}</b>

    {{ else if (eq $topbar.Page `pb_submit`) }}

    {{ $editProblemPage = false }}
	<b>{{if $topbar.Contest}}{{$topbar.Contest.Name}} | {{end}}{{.Problem.Name}}</b>

    {{ else }}

    {{/* Edit page */}}

	{{ getText "title.edit.problem" }} <b>{{.Problem.Name}}</b>

    {{ end }}
</h1>
<div id="topbar_wrapper" class="mt-1">
    {{ if $topbar.Contest }}
        <a class="p-1 {{if (eq $topbar.Page `contest_general`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/">
            {{getText "contest_info"}}
        </a>
        <div class="topbar-separator"></div>
        <a class="p-1 {{if (eq $topbar.Page `contest_communication`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/communication">
            <span>
                {{getText "communication"}}
                {{ if not $topbar.Contest.Ended }}
                    {{- if not (eq $topbar.Page `contest_communication`) -}}
                        <kn-comm-announcer class="inline-block" contestID="{{$topbar.Contest.ID}}" contestEditor="{{isContestEditor $topbar.Contest}}"></kn-comm-announcer> 
                    {{ end }}
                {{ end }}
            </span>
        </a>
        {{ if isContestEditor $topbar.Contest }}
        <div class="topbar-separator"></div>
        <a class="p-1 {{if (eq $topbar.Page `contest_edit`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/manage/edit">
            {{getText "contest_edit"}}
        </a>
        <div class="topbar-separator"></div>
        <a class="p-1 {{if (eq $topbar.Page `contest_registrations`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/manage/registrations">
            {{getText "contest_registrations"}}
        </a>
        {{ end }}
        {{ if contestLeaderboardVisible $topbar.Contest }}
        <div class="topbar-separator"></div>
        <a class="p-1 {{if (eq $topbar.Page `contest_leaderboard`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/leaderboard">
            {{getText "leaderboard"}}
        </a>
        {{ end }}
        {{ if $problemPage }}
        <div class="topbar-separator topbar-separator-lg"></div>
        {{ end }}
        {{ if not $topbar.Contest.Ended }}
            <script>
                bundled.startReloadingQnA(5000); // Trigger reload every 5 or so seconds
            </script>
        {{ end }}
    {{ end }}
{{ if $problemPage }}
    <a class="p-1 {{if (eq $topbar.Page `pb_statement`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/">
        {{getText "statement"}}
    </a>
    {{ if authed }}
        <div class="topbar-separator"></div>
        <a class="p-1 {{if (eq $topbar.Page `pb_submit`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/submit">
            {{getText "submit"}}
        </a>
    {{ end }}
    {{ if or (not $topbar.Contest) (or ($topbar.Contest.Ended) (canSubmitInContest authedUser $topbar.Contest))}}
        <div class="topbar-separator"></div>
        <a class="p-1 {{if (eq $topbar.Page `pb_submissions`)}} topbar-selected {{end}}"
            href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/submissions">
            {{getText "submissions"}}
        </a>
    {{ end }}
    {{ if problemFullyVisible }}
        <div class="topbar-separator"></div>
        <a class="p-1 problem_statistics" href="#" data-problem="{{encodeJSON $topbar.Problem}}">{{getText "problemStats"}}</a>
    {{ end }}
    {{ if $topbar.IsProblemEditor }}
        <div class="topbar-separator topbar-separator-lg"></div>
        <span id="problem_topbar_wrapper">
            <a id="topbar_edit_toggle" class="p-1 {{if $editProblemPage}}hidden{{end}}" href="#">
                {{getText "topbar.edit"}}
            </a>
            <span id="pb_edit_context" class="{{if not $editProblemPage}}hidden{{end}}">
                <a class="p-1 {{if (eq $topbar.Page `general`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit">
                    {{getText "general"}}
                </a>
                <div class="topbar-separator"></div>
                <a class="p-1 {{if (eq $topbar.Page `desc`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/desc">
                    {{getText "stmt"}}
                </a>
                <div class="topbar-separator"></div>
                <a class="p-1 {{if (eq $topbar.Page `access`)}} topbar-selected {{end}}" href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/access">
                    {{getText "access_control_short"}}
                </a>
                <div class="topbar-separator"></div>
                <a class="p-1 {{if (eq $topbar.Page `attachments`)}} topbar-selected {{end}}"
                    href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/attachments">
                    {{getText "attachments"}}
                </a>
                <div class="topbar-separator"></div>
                <a class="p-1 {{if and (eq $topbar.Page `tests`) (eq $topbar.PageID -2)}} topbar-selected {{end}}"
                    href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/test">
                    {{getText "tests"}}
                </a>
                <div class="topbar-separator"></div>
                <a class="p-1 {{if and (eq $topbar.Page `subtasks`) (eq $topbar.PageID -2)}} topbar-selected {{end}}"
                    href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/subtasks">
                    {{getText "subTasks"}}
                </a>
            </span>    
        </span>
        <script>
            let force_open = {{$editProblemPage}};

            if(force_open === false) {
                document.getElementById("topbar_edit_toggle")?.addEventListener("click", (e) => {
                    force_open = true;
                    e.preventDefault();
                    document.getElementById("topbar_edit_toggle").classList.toggle("hidden", force_open)
                    document.getElementById("pb_edit_context").classList.toggle("hidden", !force_open)
                });
                document.getElementById("problem_topbar_wrapper").addEventListener("mouseenter", (e) => {
                    document.getElementById("topbar_edit_toggle").classList.toggle("hidden", true)
                    document.getElementById("pb_edit_context").classList.toggle("hidden", false)    
                })
                document.getElementById("topbar_wrapper").addEventListener("mouseleave", (e) => {
                    document.getElementById("topbar_edit_toggle").classList.toggle("hidden", force_open)
                    document.getElementById("pb_edit_context").classList.toggle("hidden", !force_open)    
                })
            }
        </script>
    {{ end }}
{{ end }}
</div>
{{ if and $problemPage .Topbar.Contest }}
{{ if .Topbar.Contest.Ended }}
    <div>
        {{getText "problem_contest_page_warning"}}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("pb_link_rewrite_a").setAttribute("href", window.location.href.replace(/contests\/[0-9]+\//, ''))
        })
    </script>
{{ end }}
{{ end }}
</div>
