{{ $id := .Problem.ID }}
{{ $topbar := .Topbar }}
{{ $editPage := true }}
<h1>
    {{ if (eq $topbar.Page "pb_statement")}}

    {{ $editPage = false }}
	<b>{{.Problem.Name}}</b>

    {{ else if (eq $topbar.Page "pb_submissions") }}

    {{ $editPage = false }}
	<b>{{.Problem.Name}}</b>

    {{ else if (eq $topbar.Page "pb_submit") }}

    {{ $editPage = false }}
	<b>{{.Problem.Name}}</b>

    {{ else }}

	{{ getText "title.edit.problem" }} <b>{{.Problem.Name}}</b>

    {{ end }}
</h1>
<div class="mt-1 mb-2">
    <a class='p-1 {{if (eq $topbar.Page "pb_statement")}} topbar-selected {{end}}' href="/problems/{{$id}}/">
        {{getText "statement"}}
    </a>
    {{ if authed }}
    <div class="topbar-separator"></div>
    <a class='p-1 {{if (eq $topbar.Page "pb_submit")}} topbar-selected {{end}}' href="/problems/{{$id}}/submit">
        {{getText "submit"}}
    </a>
    {{ end }}
    <div class="topbar-separator"></div>
    <a class='p-1 {{if (eq $topbar.Page "pb_submissions")}} topbar-selected {{end}}'
        href="/problems/{{$id}}/submissions">
        {{getText "submissions"}}
    </a>
    {{ if $topbar.IsEditor }}
    <div class="topbar-separator topbar-separator-lg"></div>
    {{ if $editPage }}
    <a class='p-1 {{if (eq $topbar.Page "general")}} topbar-selected {{end}}' href="/problems/{{$id}}/edit">
        {{getText "general"}}
    </a>
    <div class="topbar-separator"></div>
    <a class='p-1 {{if (eq $topbar.Page "desc")}} topbar-selected {{end}}' href="/problems/{{$id}}/edit/desc">
        {{getText "desc"}}
    </a>
    <div class="topbar-separator"></div>
    <a class='p-1 {{if (eq $topbar.Page "access")}} topbar-selected {{end}}' href="/problems/{{$id}}/edit/access">
        {{getText "access_control_short"}}
    </a>
    <div class="topbar-separator"></div>
    <a class='p-1 {{if (eq $topbar.Page "attachments")}} topbar-selected {{end}}'
        href="/problems/{{$id}}/edit/attachments">
        {{getText "attachments"}}
    </a>
    <div class="topbar-separator"></div>
    <a class='p-1 {{if and (eq $topbar.Page "tests") (eq $topbar.PageID -2)}} topbar-selected {{end}}'
        href="/problems/{{$id}}/edit/test">
        {{getText "tests"}}
    </a>
    <div class="topbar-separator"></div>
    <a class='p-1 {{if and (eq $topbar.Page "subtasks") (eq $topbar.PageID -2)}} topbar-selected {{end}}'
        href="/problems/{{$id}}/edit/subtasks">
        {{getText "subTasks"}}
    </a>
    {{ else }}
    <a class='p-1 {{if (eq $topbar.Page "general")}} topbar-selected {{end}}' href="/problems/{{$id}}/edit">
        {{getText "topbar.edit"}}
    </a>
    {{ end }}

    {{ end }}
</div>
