{{ $topbar := .Topbar }}
{{ $problemPage := true }}
{{ $editProblemPage := true }}
<h1>
    {{ if (eq $topbar.Page "contest_general") }}
    <b>{{.Contest.Name}}</b>

    {{ $problemPage = false }}

    {{ else if (eq $topbar.Page "contest_edit") }}
    <b>{{.Contest.Name}}</b>
    {{ $problemPage = false }}

    {{ else if (eq $topbar.Page "contest_registrations") }}
    <b>{{getText "contest_registrations"}} | {{.Contest.Name}}</b>
    {{ $problemPage = false }}

    {{ else if (eq $topbar.Page "contest_communication") }}
    <b>{{getText "communication"}} | {{.Contest.Name}}</b>
    {{ $problemPage = false }}

    {{ else if (eq $topbar.Page "pb_statement") }}

    {{ $editProblemPage = false }}
	<b>{{if $topbar.Contest}}{{$topbar.Contest.Name}} | {{end}}{{.Problem.Name}}</b>

    {{ else if (eq $topbar.Page "pb_submissions") }}

    {{ $editProblemPage = false }}
	<b>{{if $topbar.Contest}}{{$topbar.Contest.Name}} | {{end}}{{.Problem.Name}}</b>

    {{ else if (eq $topbar.Page "pb_submit") }}

    {{ $editProblemPage = false }}
	<b>{{if $topbar.Contest}}{{$topbar.Contest.Name}} | {{end}}{{.Problem.Name}}</b>

    {{ else }}

    {{/* Edit page */}}

	{{ getText "title.edit.problem" }} <b>{{.Problem.Name}}</b>

    {{ end }}
</h1>
<div class="mt-1 mb-2">
    {{ if $topbar.Contest }}
        <a class='p-1 {{if (eq $topbar.Page "contest_general")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/">
            {{getText "contest_info"}}
        </a>
        <div class="topbar-separator"></div>
        <a class='p-1 {{if (eq $topbar.Page "contest_communication")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/communication">
            {{getText "communication"}}
        </a>
        {{ if isContestEditor $topbar.Contest }}
        <div class="topbar-separator"></div>
        <a class='p-1 {{if (eq $topbar.Page "contest_edit")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/manage/edit">
            {{getText "contest_edit"}}
        </a>
        <div class="topbar-separator"></div>
        <a class='p-1 {{if (eq $topbar.Page "contest_registrations")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/manage/registrations">
            {{getText "contest_registrations"}}
        </a>
        {{ end }}
        {{ if $problemPage }}
        <div class="topbar-separator topbar-separator-lg"></div>
        {{ end }}
    {{ end }}
{{ if $problemPage }}
    <a class='p-1 {{if (eq $topbar.Page "pb_statement")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/">
        {{getText "statement"}}
    </a>
    {{ if authed }}
        <div class="topbar-separator"></div>
        <a class='p-1 {{if (eq $topbar.Page "pb_submit")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/submit">
            {{getText "submit"}}
        </a>
    {{ end }}
    {{ if or (not $topbar.Contest) (isContestEditor $topbar.Contest)}}
        <div class="topbar-separator"></div>
        <a class='p-1 {{if (eq $topbar.Page "pb_submissions")}} topbar-selected {{end}}'
            href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/submissions">
            {{getText "submissions"}}
        </a>
    {{ end }}
    {{ if $topbar.IsProblemEditor }}
        <div class="topbar-separator topbar-separator-lg"></div>
        {{ if $editProblemPage }}
            <a class='p-1 {{if (eq $topbar.Page "general")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit">
                {{getText "general"}}
            </a>
            <div class="topbar-separator"></div>
            <a class='p-1 {{if (eq $topbar.Page "desc")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/desc">
                {{getText "desc"}}
            </a>
            <div class="topbar-separator"></div>
            <a class='p-1 {{if (eq $topbar.Page "access")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/access">
                {{getText "access_control_short"}}
            </a>
            <div class="topbar-separator"></div>
            <a class='p-1 {{if (eq $topbar.Page "attachments")}} topbar-selected {{end}}'
                href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/attachments">
                {{getText "attachments"}}
            </a>
            <div class="topbar-separator"></div>
            <a class='p-1 {{if and (eq $topbar.Page "tests") (eq $topbar.PageID -2)}} topbar-selected {{end}}'
                href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/test">
                {{getText "tests"}}
            </a>
            <div class="topbar-separator"></div>
            <a class='p-1 {{if and (eq $topbar.Page "subtasks") (eq $topbar.PageID -2)}} topbar-selected {{end}}'
                href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit/subtasks">
                {{getText "subTasks"}}
            </a>
        {{ else }}
            <a class='p-1 {{if (eq $topbar.Page "general")}} topbar-selected {{end}}' href="{{$topbar.URLPrefix}}/problems/{{$topbar.Problem.ID}}/edit">
                {{getText "topbar.edit"}}
            </a>
        {{ end }}
    {{ end }}
{{ end }}
</div>
