{{ define "title" }} {{getText .Ctx.Language "title.edit.attachments" .Problem.ID .Problem.Name}} {{ end }}
{{ define "content" }}
{{ template "topbar.html" . }}

{{ $pbid := .Problem.ID }}
{{ $lang := .Ctx.Language }}

<div class="segment-container">
	{{ with .Attachments }}
		<table class="kn-table my-2" style="table-layout: fixed">
			<thead>
				<th scope="col" class="w-1/8">
					<input class="form-checkbox" type="checkbox" id="selectAllBox" autocomplete="off" />
				</th>
				<th scope="col" class="w-1/2">
					{{getText $lang "name"}}
				</th>
				<th scope="col" class="w-3/8">
					{{getText $lang "size"}}	
				</th>
				<th scope="col" class="w-1/8">
					{{getText $lang "visible"}}
				</th>
				<th scope="col" class="w-1/8">
					{{getText $lang "private"}}
				</th>
			</thead>
			<tbody id="att-body">
			{{ range . }}
				<tr id="row-att-{{.ID}}" class="kn-table-row">
					<td class="kn-table-cell">
						<input class="form-checkbox" type="checkbox" id="pb-att-{{.ID}}" autocomplete="off" />
					</td>
					<td class="kn-table-cell" id="name-att-{{.ID}}">
						<a href="/problems/{{$pbid}}/attachments/{{.Name}}">{{.Name}}</a>
					</td>
					<td class="kn-table-cell" id="size-att-{{.ID}}">
						{{.Size}}
					</td>
					<td class="kn-table-cell">
						<input class="form-checkbox" type="checkbox" id="visible-att-{{.ID}}" {{if .Visible}}checked{{end}} disabled>
					</td>
					<td class="kn-table-cell">
						<input class="form-checkbox" type="checkbox" id="private-att-{{.ID}}" {{if .Private}}checked{{end}} disabled>
					</td>
				</tr>
			{{ end }}
			</tbody>
		</table>
		<button class="btn btn-red mr-2" onclick="deleteAttachments()">{{getText $lang "deleteAttachments"}}</button>
	{{ else }}
		{{getText .Ctx.Language "noAttachments"}}	
	{{ end }}
</div>

<script>
var pbid = {{.Problem.ID}}, rowreg = /row-att-([0-9]+)/;

const mgr = new bundled.CheckboxManager(document.getElementById("selectAllBox"), document.querySelectorAll("[id^='pb-att-']"))

async function deleteAttachments() {
	var attachments = [];
	for(let e of document.querySelectorAll("[id^='row-att-']")) {
		let id = rowreg.exec(e.id)[1];
		let checked = document.getElementById(`pb-att-${id}`).checked;
		if(checked) {
			attachments.push(id);
		}
	}
	let res = await bundled.bodyCall("/problem/{{.Problem.ID}}/update/bulkDeleteAttachments", attachments})
	if(res.status === "success") {
		window.location.reload();
		return;
	}
	bundled.apiToast(res)
}

function prettifyAttachments() {
	for(let el of document.querySelectorAll("[id^='name-att-']")) {
		el.innerHTML = `<i class="fas ${bundled.getFileIcon(el.innerText)} fa-fw"></i> ${el.innerText}`	
	}
	for(let el of document.querySelectorAll("[id^='size-att-']")) {
		console.log(el.innerText)
		el.innerText = bundled.sizeFormatter(Number(el.innerText))
	}
}
prettifyAttachments()

</script>

<form id="attCreate" class="segment-container">
	<label class="block my-2">
		<span class="mr-2 text-xl">{{getText .Ctx.Language "file"}}: </span>
		<input class="form-file" id="attFile" type="file" required/>
	</label>
	<label class="block my-2">
		<input class="form-checkbox" id="attPrivate" type="checkbox"/>
		<span class="ml-2 text-xl">{{getText .Ctx.Language "private"}}</span>
	</label>
	<label id="visibleLabel" class="block my-2">
		<input class="form-checkbox" id="attVisible" type="checkbox"/>
		<span class="ml-2 text-xl">{{getText .Ctx.Language "visible"}}</span>
	</label>
	<button type="submit" class="btn btn-blue">{{getText .Ctx.Language "upload"}}</button>
</div>

<script>
let visibleLabel = document.getElementById("visibleLabel")
let visibleNode = document.getElementById("attVisible")
let privateNode = document.getElementById("attPrivate")
privateNode.addEventListener("change", (e) => { 
	if(e.target.checked === true) {
		console.log("hiding")
		visibleLabel.style.display = "none"
	} else {
		console.log("showing")
		visibleLabel.style.display = null 
	}
})

async function createAttachment(e) {
	e.preventDefault()
	let files = document.getElementById("attFile").files;
	if(files === null || files.length == 0) {
		bundled.createToast({status: "error", title: '{{getText .Ctx.Language "noFiles"}}'});
		return
	}
	let form = new FormData();
	form.append("data", files[0]);
	form.append("visible", visibleNode.checked);
	form.append("private", privateNode.checked);

	let res = await bundled.multipartCall("/problem/{{.Problem.ID}}/update/addAttachment", form)
	if(res.status !== "success") {
		bundled.apiToast(res);
		return
	}
	window.location.reload();
}

document.getElementById("attCreate").addEventListener("submit", createAttachment)
</script>

{{ end }}
