{{ define "title" }} {{getText .Ctx.Language "editDesc" .Problem.ID .Problem.Name}} {{ end }}
{{ define "content" }}
{{ template "topbar.html" . }}

<div class="segment-container">
	<div class="mb-2">
		<textarea id="description" class="hidden">{{- .Problem.Description -}}</textarea>
	</div>
	<div class="mb-2">
		<button class="btn btn-blue" onclick="setDescription()">{{getText .Ctx.Language "update"}}</button>
	</div>
</div>
<script>
var cm = CodeMirror.fromTextArea(document.getElementById("description"), {
	mode: {
		name: "gfm",
		gitHubSpice: false,
		emoji: false,
	},
});
cm.setSize(null, "100%");

async function setDescription() {
	let desc = cm.getValue();
	let res = await bundled.postCall("/problem/{{.Problem.ID}}/update", {description: desc})
	bundled.apiToast(res)
};
</script>

{{ end }}
