{{ define "title" }}{{getText .Ctx.Language "title.edit.subtask_edit" .SubTask.VisibleID}}{{ end }}
{{ define "content" }}
{{ template "topbar.html" . }}

{{ $root := . }}
{{ $lang := .Ctx.Language }}

<form class="segment-container" id="subtask-update">
	<h2> {{getText .Ctx.Language "title.edit.subtask_edit" .SubTask.VisibleID}} </h2>
	{{ if not (len .SubTask.Tests) }} {{getText $lang "warning.emptySubTask"}} {{ end }}

	{{ with .ProblemTests }}
		<div class="block my-2">
			<label>
				<span class="form-label">{{getText $lang "id"}}: </span>
				<input class="form-input" id="subtask-id" type="number" min="0" value="{{$root.SubTask.VisibleID}}" autocomplete="off">
			</label>
		</div>
		<div class="block my-2">
			<label>
				<span class="form-label">{{getText $lang "score"}}: </span>
				<input class="form-input" id="subtask-score" type="number" min="0" max="100" value="{{$root.SubTask.Score}}" autocomplete="off">
			</label>
		</div>
		<table class="kn-table my-2" style="table-layout: fixed">
			<thead>
				<th scope="col" class="w-1/2">
					<input class="form-checkbox" type="checkbox" id="selectAllBox" />
				</th>
				<td scope="col" class="w-1/2 text-center px-4 py-2">
					{{getText $lang "testID"}}
				</td>
			</thead>
			<tbody>
			{{ range . }}
				<tr id="row-test-{{.VisibleID}}" class="kn-table-row">
					<td class="kn-table-cell">
						<input class="form-checkbox" type="checkbox" id="pb-test-{{.VisibleID}}" autocomplete="off" {{if $root.TestInSubTask .}}checked{{end}}>
					</td>
					<td class="kn-table-cell">
						{{.VisibleID}}
					</td>
				</tr>
			{{ end }}
			</tbody>
		</table>
		<button class="btn btn-blue block my-2" type="submit">{{getText $lang "button.update"}}</button>
	{{ else }}
		<h3> {{getText .Ctx.Language "noTestsError"}} </h3>
	{{ end }}
</form>

<script>
var pbid = {{.Problem.ID}}, rowreg = /row-test-([0-9]+)/;

const mgr = new bundled.CheckboxManager(document.getElementById("selectAllBox"), document.querySelectorAll("[id^='pb-test-']"))

async function updateSubTask(e) {
	e.preventDefault();
	let data = {
		subtask_id: {{.SubTask.VisibleID}},
		new_id: document.getElementById('subtask-id').value,
		score: document.getElementById('subtask-score').value,
		tests: []
	};
	
	for(let e of document.querySelectorAll("[id^='row-test-']")) {
		let id = rowreg.exec(e.id)[1];
		let checked = document.getElementById(`pb-test-${id}`).checked;
		if(checked) {
			data.tests.push(id);
		}
	}

	console.log(data);
	let res = await bundled.bodyCall(`/problem/${pbid}/update/updateSubTask`, data)
	if(res.status === "success") {
		window.location.assign(`/problems/${pbid}/edit/subtasks/${data.new_id}`);
		return;
	}
	bundled.apiToast(res);
}

document.getElementById("subtask-update").addEventListener("submit", updateSubTask);
</script>

{{ end }}
