{{ $id := .Problem.ID }}
{{ $tid := .Test.VisibleID }}
<div class="segment-container">
	<h1>Editare teste <a href="/problems/{{$id}}">{{ .Problem.Name }}</a></h1>
	{{ if (eq $tid -2) }}
	<a class="p-1 rounded bg-gray-200 dark:bg-gray-700" href="/problems/{{$id}}/edit/test/">Teste</a>
	{{ else }}
	<a class="p-1" href="/problems/{{$id}}/edit/test">Teste</a>
	{{ end }}
	| 
	{{ if (eq $tid -1) }}
	<a class="p-1 rounded bg-gray-200 dark:bg-gray-700" href="/problems/{{$id}}/edit/test/add">Creare Test</a>
	{{ else }}
	<a class="p-1" href="/problems/{{$id}}/edit/test/add">Creare Test</a>
	{{ end }}
	{{ range (.ProblemTests) }}
		| 
		{{ if (eq .VisibleID $tid) }}
		<a class="p-1 rounded bg-gray-200 dark:bg-gray-700" href="/problems/{{$id}}/edit/test/{{.VisibleID}}">Testul #{{.VisibleID}}</a>
		{{ else }}
		<a class="p-1" href="/problems/{{$id}}/edit/test/{{.VisibleID}}">Testul #{{.VisibleID}}</a>
		{{ end }}
	{{ end }}
</div>
