{{ $id := .Problem.ID }}
{{ $topbar := .Topbar }}
{{ $lang := .Ctx.Language }}
<div class="segment-container">
	<h1>{{getText .Ctx.Language "title.edit.problem"}} <a href="/problems/{{$id}}">{{.Problem.Name}}</a></h1>
	<div class="mb-2">
		<a class="p-1 {{if (eq $topbar.Page "general")}} topbar-selected {{end}}" href="/problems/{{$id}}/edit">{{getText .Ctx.Language "general"}}</a>
		|
		<a class="p-1 {{if (eq $topbar.Page "desc")}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/desc">{{getText .Ctx.Language "desc"}}</a>
		|
		<a class="p-1 {{if (eq $topbar.Page "access")}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/access">{{getText .Ctx.Language "access_control_short"}}</a>
        |
		<a class="p-1 {{if (eq $topbar.Page "attachments")}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/attachments">{{getText .Ctx.Language "attachments"}}</a>
		|
		<a class="p-1 {{if and (eq $topbar.Page "tests") (eq $topbar.PageID -2)}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/test">{{getText .Ctx.Language "tests"}}</a>
		|
		<a class="p-1 {{if and (eq $topbar.Page "subtasks") (eq $topbar.PageID -2)}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/subtasks">{{getText .Ctx.Language "subTasks"}}</a>
	</div>

	{{ if (eq $topbar.Page "tests") }}
		<div class="mb-2">
			<a class="p-1 {{if (eq $topbar.PageID -1)}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/test/add">{{getText $lang "createTest"}}</a>
			{{ range .ProblemTests }}
				|
				<a class="p-1 {{if (eq $topbar.PageID .VisibleID)}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/test/{{.VisibleID}}">{{getText $lang "nthTest" .VisibleID}}</a>
			{{ end }}
		</div>
	{{ end }}

	{{ if (eq $topbar.Page "subtasks") }}
		<div class="mb-2">
			<a class="p-1 {{if (eq $topbar.PageID -1)}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/subtasks/add">{{getText $lang "createSubTask"}}</a>
			{{ range .ProblemSubTasks }}
				|
				<a class="p-1 {{if (eq $topbar.PageID .VisibleID)}} topbar-selected {{end}}" href="/problems/{{$id}}/edit/subtasks/{{.VisibleID}}">{{getText $lang "nthSubTask" .VisibleID}}</a>
			{{ end }}
		</div>
	{{ end }}
</div>
