<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{{with .Title}}
		<title>{{- . }} | Kilonova</title>
	{{else}}
		<title>Kilonova</title>
	{{end}}

	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">

	<!--jQuery-->
	<script src="/static/jquery.js"></script>

	<!--bootstrap-->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />

	<!--Toastr.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

	<!--highlight.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>

	<!--markdown-it.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js"></script>


	<!--Codemirror (it's gonna be a long list)-->
	<!--CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/codemirror.min.css" />
	<!--JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/addon/mode/overlay.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/meta.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/markdown/markdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/gfm/gfm.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/clike/clike.min.js"></script>

	<style>
		html {
			tab-size: 4;
			-moz-tab-size: 4;
			-o-tab-size: 4;
		}

		pre {
			tab-size: 4;
			-moz-tab-size: 4;
			-o-tab-size: 4;
			background-color: #f0f0f0;
		}

		code {
			background-color: #f3f3f3;
		}
	</style>
	<script>
		var md = window.markdownit({
			xhtmlOut: true,
			breaks: true,
			linkify: true,
			highlight: function (str, lang) {
				if (lang && hljs.getLanguage(lang)) {
					try { return hljs.highlight(lang, str).value; } catch (err) { console.error(err); }
				}
				return "";
			},
		});
		hljs.initHighlightingOnLoad();
	</script>

	<script>
		// Util functions
		toastr.options = {
			closeButton: true,
			newestOnTop: true,
			positionClass: "toast-bottom-right",
		}

		/* createToast SETTINGS
			title: the toast title
			status: the toast status (default "info")
			position: the toast position (default "toast-bottom-right")
			onclick: onClick handler
		*/
		function createToast(options) {
			if (options.status == null) options.status = "info"
			if (options.position == null) options.position = "toast-bottom-right"
			if (options.onclick == null) options.onclick = function () { }
			toastr[options.status](options.description, options.title, {
				positionClass: options.position,
				onclick: options.onclick
			})
		}

		function apiToast(res) {
			createToast({
				status: res.status,
				description: res.data
			})
		}

		async function getCall(call, params) {
			if(call.startsWith('/')) {
				call = call.substr(1)
			}
			let resp = await fetch(`/api/${call}?${$.param(params)}`, {headers: {'Accept': 'application/json'}});
			return await resp.json()
		}
		async function postCall(call, params) {
			if(call.startsWith('/')) {
				call = call.substr(1)
			}
			let resp = await fetch(`/api/${call}`, {
				method: 'POST',
				headers: {'Content-Type': 'application/x-www-form-urlencoded','Accept': 'application/json'},
				body: $.param(params)
			});
			return await resp.json();
		}
		
		async function getUser(name) {
			return await getCall('/user/getByName', {name: name})
		}
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">Kilonova</a>
			<button class="navbar-toggler" 
				type="button" 
				data-toggle="collapse" 
				data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="nav navbar-nav mr-auto">
					<a class="nav-link" href="/tasks">Listă task-uri</a>
				</div>
				<div class="nav navbar-nav">
					{{if not .LoggedIn}}
						<a class="nav-link" href="/signup">Sign Up</a>
						<a class="nav-link" href="/login">Log In</a>
					{{else}}
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button" id="profileMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ .User.Name }}
							</button>
							<div class="dropdown-menu" aria-labelledby="profileMenuButton">
								{{if (or .User.Proposer .User.Admin)}}
									<a class="dropdown-item" href="/probleme/create">Creare Problemă</a>	
								{{end}}
								{{if .User.Admin}}
									<a class="dropdown-item" href="/admin">Butoane Admin</a>
								{{end}}
								<a class="dropdown-item" href="/logout">Log Out</a>
							</div>
						</div>
					{{end}}
				</div>
			</div>
		</div>
	</nav>
