<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{{with .Title}}
		<title>{{- . }} | Kilonova</title>
	{{else}}
		<title>Kilonova</title>
	{{end}}

	<!-- OpenGraph stuff -->
	{{with .OGTitle}}
		<meta property="og:title" content="{{- . -}}" />
	{{else}}
		{{with .Title}}
			<meta property="og:title" content="{{- . -}}" />
		{{else}}
		<meta property="og:title" content="Kilonova" />
		{{end}}
	{{end}}
	{{with .OGType}}
		<meta property="og:type" content="{{- . -}}" />
	{{else}}
		<meta property="og:type" content="website" />
	{{end}}
	<meta property="og:url" content="https://alpha.kilonova.ro{{- .OGUrl -}}" />
	{{with .OGImage}}
		<meta property="og:image" content="{{- .OGImage -}}" />
	{{else}}
		<meta property="og:image" content="https://cdn.kilonova.ro/m/ti2SMt/logo.png" />
	{{end}}
	{{with .OGDesc}}
		<meta property="og:description" content="{{- .OGDesc -}}" />
		<meta name="description" content="{{- .OGDesc -}}" />
	{{else}}
		<meta property="og:description" content="Programming platform for learning and exercising" />
		<meta name="description" content="Programming platform for learning and exercising" />
	{{end}}
	<meta property="og:locale" content="ro_RO" />
	<meta property="og:site_name" content="Kilonova" />

	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">

	<!--jQuery-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
	<!--bootstrap-->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
	
	<!-- pretty icons (fontawesome) -->
	<script src="https://kit.fontawesome.com/bf2ce59e80.js"></script>

	<!--Toastr.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

	<!--highlight.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>

	<!--markdown-it.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js"></script>


	<!--Codemirror (it's gonna be a long list)-->
	<!--CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/codemirror.min.css" />
	<!--JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/addon/mode/overlay.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/meta.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/markdown/markdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/gfm/gfm.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/clike/clike.min.js"></script>


	<style>
		html {
			tab-size: 4;
			-moz-tab-size: 4;
			-o-tab-size: 4;
		}

		body {
			font-family: 'Open Sans';
		}

		h1 h2 h3 h4 h5 h6 {
			font-family: 'Roboto';
		}

		pre {
			tab-size: 4;
			-moz-tab-size: 4;
			-o-tab-size: 4;
			background-color: #f0f0f0;
		}

		code {
			background-color: #f3f3f3;
		}
	</style>
	<script>
		var md = window.markdownit({
			xhtmlOut: true,
			breaks: true,
			linkify: true,
			highlight: function (str, lang) {
				if (lang && hljs.getLanguage(lang)) {
					try { return hljs.highlight(lang, str).value; } catch (err) { console.error(err); }
				}
				return "";
			},
		});
		hljs.initHighlightingOnLoad();
	</script>

	<script>
		// Util functions
		toastr.options = {
			closeButton: true,
			newestOnTop: true,
			positionClass: "toast-bottom-right",
		}

		/* createToast OPTIONS
			title: the toast title
			status: the toast status (default "info")
			position: the toast position (default "toast-bottom-right")
			onclick: onClick handler
		*/
		function createToast(options) {
			if (options.status == null) options.status = "info"
			if (options.position == null) options.position = "toast-bottom-right"
			if (options.onclick == null) options.onclick = function () { }
			toastr[options.status](options.description, options.title, {
				positionClass: options.position,
				onclick: options.onclick
			})
		}

		function apiToast(res, overwrite) {
			if(overwrite === null || overwrite === undefined) {
				overwrite = {}
			}
			overwrite["status"] = res.status 
			overwrite["description"] = res.data
			createToast(overwrite)
		}

		async function getCall(call, params) {
			if(call.startsWith('/')) {
				call = call.substr(1)
			}
			let resp = await fetch(`/api/${call}?${$.param(params)}`, {headers: {'Accept': 'application/json'}});
			return await resp.json()
		}
		async function postCall(call, params) {
			if(call.startsWith('/')) {
				call = call.substr(1)
			}
			let resp = await fetch(`/api/${call}`, {
				method: 'POST',
				headers: {'Content-Type': 'application/x-www-form-urlencoded','Accept': 'application/json'},
				body: $.param(params)
			});
			return await resp.json();
		}
		
		async function getUser(name) {
			return await getCall('/user/getByName', {name: name})
		}
	</script>
</head>

<body>
	<nav class="shadow-sm navbar navbar-expand-md navbar-light bg-light">
		{{ if .Sidebar }}
		<button class="btn btn-outline-secondary" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
		{{ end }}
		<div class="container">
			<a class="navbar-brand" href="/">Kilonova {{.Version -}}</a>
			<button class="navbar-toggler" 
				type="button" 
				data-toggle="collapse" 
				data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" 
				aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="nav navbar-nav mr-auto">
					<a class="nav-link" href="/changelog">Changelog</a>
				</div>
				<div class="nav navbar-nav">
					<a class="nav-link" href="/submissions">Listă submisii</a>
					{{if not .LoggedIn}}
						<a class="nav-link" href="/signup">Sign Up</a>
						<a class="nav-link" href="/login">Log In</a>
					{{else}}
						<div class="nav-item dropdown">
							<button class="btn nav-link dropdown-toggle" type="button" id="profileMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ .User.Name }}
							</button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenuButton">
								<a class="dropdown-item" href="/profile"><i class="ml-n2 fas fa-user fa-fw"></i> Profil</a>	
								<a class="dropdown-item" href="/settings"><i class="ml-n2 fas fa-cog fa-fw"></i> Setări</a>
								{{if (or .User.Proposer .User.Admin)}}
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/probleme/create"><i class="ml-n2 fas fa-plus-square fa-fw"></i> Creare Problemă</a>	
								{{end}}
								{{if .User.Admin}}
									<a class="dropdown-item" href="/admin"><i class="ml-n2 fas fa-sliders-h fa-fw"></i> Butoane Admin</a>
								{{end}}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout"><i class="ml-n2 fas fa-sign-out-alt fa-fw"></i> Log Out</a>
							</div>
						</div>
					{{end}}
				</div>
			</div>
		</div>
	</nav>
	{{ if .Sidebar }}
	<script>
		$("#menu-toggle").click(e => {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled")
		})
	</script>
	{{ end }}
	{{ if not .Sidebar }}
		<br/>
	{{ end }}
