{{ $user := .User }}
{{ with .Problems }}
	<h2> Probleme </h2>
	<div class="list-group">
		{{ range . }}
			<a href="/probleme/{{.ID}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
				#{{.ID}}: {{.Name}}
				<span class="badge badge-pill badge-info">{{ taskScore . $user }}</span>
			</a>
					{{ end }}
	</div>
{{ end }} 

