{{ define "title" }} {{getText "panel.admin"}} {{ end }}
{{ define "content" }}

<h1>
	{{getText "panel.admin"}}
</h1>
<button class="btn-blue font-bold py-2 px-4 rounded-lg mt-3 mb-2" onclick="resetSubs()">{{getText "resetSubs"}}</button>
<button class="btn-blue font-bold py-2 px-4 rounded-lg mt-3 mb-2" onclick="invalidateAtts()">{{getText "invalidateAtts"}}</button>

<div class="segment-panel">
	<h2>{{getText "changeRoles"}}:</h2>
	<label class="block">
		<span class="form-label">{{getText "username"}}:</span>
		<input class="form-input my-1 block" type="text" id="userToChange" placeholder="AlexVasiluta" autocomplete="off">
	</label>
	<div class="mt-2 mb-2 inline-flex">
		<button type="button" class="btn-blue font-bold py-2 px-4 rounded-l" onclick="setFormAdmin(true)">{{getText "makeAdmin"}}</button>
		<button type="button" class="btn-blue font-bold py-2 px-4 rounded-r" onclick="setFormProposer(true)">{{getText "makeProposer"}}</button>
	</div>
</div>

<div class="segment-panel">
	<h2 class="text-2xl">{{getText "admins"}}:</h2>
	<div id="admin-group" class="block list-group list-group-rounded mb-2">
		<div class="list-group-head">
            {{getText "loading"}}
        </div>
	</div>
	<h2 class="text-2xl">{{getText "proposers"}}:</h2>
	<div id="proposer-group" class="block list-group list-group-rounded mb-2">
		<div class="list-group-head">
            {{getText "loading"}}
        </div>
	</div>
</div>

<form id="configForm" class="segment-panel" autocomplete="off">
    <h2 class="text-2xl">{{getText "config.title"}}</h2>

    <label class="block my-2">
		<span class="form-label">{{getText "config.defaultLang"}}:</span>
        <select name="default_lang" id="default_lang" class="form-select">
            <option value="ro" {{if eq defaultLang "ro"}}selected{{end}}>🇷🇴 Română</option>
            <option value="en" {{if eq defaultLang "en"}}selected{{end}}>🇬🇧 English</option>
        </select>
    </label>

    <label class="block my-2">
		<span class="form-label">{{getText "config.testMaxMemKB"}}:</span>
        <input type="number" id="test_max_mem" name="test_max_mem" class="form-input" value="{{testMaxMemMB}}" /> 
        <span class="form-label">MB</span>
    </label>

    <label class="block my-2">
		<span class="form-label">{{getText "config.globalMaxMemKB"}}:</span>
        <input type="number" id="global_max_mem" name="global_max_mem" class="form-input" value="{{globalMaxMem}}" /> 
        <span class="form-label">MB</span>
    </label>

    <label class="block my-2">
		<span class="form-label">{{getText "config.numWorkers"}}:</span>
        <input type="number" id="num_workers" name="num_workers" class="form-input" value="{{numWorkers}}" /> 
    </label>

    <div class="segment-panel">
        <h3>{{getText "featureSet"}}</h3>
        <div class="block">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="grader" id="grader_feature" type="checkbox" {{if graderEnabled}}checked{{end}}>
                <span class="ml-2">{{getText "featureSet.grader"}}</span>
            </label>
        </div>
        <div class="block">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="signup" id="signup_feature" type="checkbox" {{if boolFlag `feature.platform.signup`}}checked{{end}}>
                <span class="ml-2">{{getText "featureSet.signup"}}</span>
            </label>
        </div>
        <div class="block">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="pastes" id="pastes_feature" type="checkbox" {{if pastesEnabled}}checked{{end}}>
                <span class="ml-2">{{getText "featureSet.pastes"}}</span>
            </label>
        </div>
        <div class="block">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="all_subs" id="all_subs_feature" type="checkbox" {{if allSubsView}}checked{{end}}>
                <span class="ml-2">{{getText "featureSet.all_subs"}}</span>
            </label>
        </div>
        <div class="block">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="ccDisclaimer" id="cc_disclaimer_feature" type="checkbox" {{if (boolFlag `feature.frontend.cc_disclaimer`)}}checked{{end}}>
                <span class="ml-2">{{getText "featureSet.ccDisclaimer"}}</span>
            </label>
        </div>
        <div class="block">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="frontPagePbs" id="frontPagePbs_feature" type="checkbox" {{if frontPagePbs}}checked{{end}}>
                <span class="ml-2">{{getText "featureSet.frontPagePbs"}}</span>
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-blue">{{getText "button.update"}}</button>
</form>

<script>
	async function resetSubs() {
		let res = await bundled.postCall("/admin/maintenance/resetWaitingSubs", {});
		bundled.apiToast(res)
	}
	async function invalidateAtts() {
		let res = await bundled.postCall("/admin/maintenance/invalidateAttachments", {});
		bundled.apiToast(res)
	}
	async function setAdmin(id, set) {
		let res = await bundled.postCall("/admin/setAdmin", {id, set})
		bundled.apiToast(res)
		if(res.status == "error") {
			return
		}
		loadUsers({admin: true}, "admin-group", "setAdmin");
		loadUsers({proposer: true}, "proposer-group", "setProposer");
	}
	async function setProposer(id, set) {
		let res = await bundled.postCall("/admin/setProposer", {id, set})
		bundled.apiToast(res)
		if(res.status == "error") {
			return
		}
		loadUsers({proposer: true}, "proposer-group", "setProposer");
	}

	async function setFormAdmin(toSet) {
		let user = document.getElementById("userToChange").value;
		let res = await bundled.getCall('/user/getByName', {name: user})
		if(res.status == "error") {
			bundled.apiToast(res)
			return
		}
		await setAdmin(res.data.id, toSet)
	}
	async function setFormProposer(toSet) {
		let user = document.getElementById("userToChange").value;
		let res = await bundled.getCall('/user/getByName', {name: user})
		if(res.status == "error") {
			bundled.apiToast(res)
			return
		}
		await setProposer(res.data.id, toSet)
	}

	async function loadUsers(q, id = "admin-group", cb) {
		document.getElementById(id).innerHTML = `<div class="list-group-head">${bundled.getText("loading")}</div>`
		let res = await bundled.getCall("/admin/getAllUsers", q)
		if(res.status == "error") {
			bundled.apiToast(res)
			return
		}
		let outhtml = ""
		for(let user of res.data.users) {
			outhtml += `<div class="list-group-item flex justify-between items-center"><a href="/profile/${user.name}"><img class="rounded inline-block mr-2" src="/api/user/getGravatar?name=${user.name}&s=32" width="32" height="32" alt="Avatar"/>${user.name}</a>`
			if(user.id != 1 && {{authedUser.ID}} == 1) {
				outhtml += `<span style="cursor: pointer;" onclick="${cb}(${user.id}, false)">X</span>`
			}
			outhtml += `</div>`
		}
		document.getElementById(id).innerHTML = outhtml
	}
	loadUsers({admin: true}, "admin-group", "setAdmin");
	loadUsers({proposer: true}, "proposer-group", "setProposer");
    document.getElementById("configForm").addEventListener("submit",async (e) => {
        e.preventDefault()
        const data = {
            default_lang: document.getElementById("default_lang").value,
            grader: document.getElementById("grader_feature").checked,
            signup: document.getElementById("signup_feature").checked,
            pastes: document.getElementById("pastes_feature").checked,
            all_subs: document.getElementById("all_subs_feature").checked,
            ccDisclaimer: document.getElementById("cc_disclaimer_feature").checked,
            frontPagePbs: document.getElementById("frontPagePbs_feature").checked,
            num_workers: document.getElementById("num_workers").value,
            test_max_mem: document.getElementById("test_max_mem").value * 1024,
            global_max_mem: document.getElementById("global_max_mem").value * 1024,
        };
        bundled.apiToast(await bundled.postCall("/admin/updateConfig", data))
    })
</script>

{{ end }}
