{{ define "title" }} {{getText "panel.audit_log"}} {{ end }}
{{ define "content" }}

<h1>
	{{getText "panel.audit_log"}}
</h1>

<div class="segment-container">
    <table class="kn-table">
        <thead>
            <tr>
                <th scope="col" class="w-12 text-center px-4 py-2">
                    {{getText "id"}}
                </th>
                <th scope="col">
					{{getText "author"}}	
                </th>
                <th scope="col">
					{{getText "text"}}	
                </th>
                <th scope="col">
					{{getText "logDate"}}	
                </th>
            </tr>
        </thead>
        <tbody>
            {{range .Logs}}
                <tr class="kn-table-row">
                    <th scope="row" class="text-center px-2 py-1">
                        {{.ID}}
                    </th>
                    <th class="text-center px-2 py-1">
                        {{if .Author}}
                            <i class="fas fa-user fa-fw"></i> {{.Author.Name}} (#{{.Author.ID}})
                        {{else}}
                            {{if .SystemLog}}
                                <i class="fas fa-cog fa-fw"></i> {{getText "system"}}	
                            {{else}}
                                <i class="fas fa-question-square fa-fw"></i> {{getText "unknownUser"}}	
                            {{end}}
                        {{end}}
                    </th>
                    <th class="text-center px-2 py-1">
                        {{.Message}}
                    </th>
                    <th class="text-center px-2 py-1 server_timestamp">
                        {{.LogTime.UnixMilli}}
                    </th>
                </tr>
            {{end}}
        </tbody>
    </table>
</div>

{{ end }}