{{ define "title" }} {{getText "panel.audit_log"}} {{ end }}
{{ define "content" }}

<div class="segment-panel">
    <h1>
        {{getText "panel.audit_log"}}
    </h1>

    <div id="audit_log_paginator"></div>

    <table class="kn-table mt-4">
        <thead>
            <tr>
                <th scope="col" class="w-12 text-center px-4 py-2">
                    {{getText "id"}}
                </th>
                <th scope="col">
					{{getText "author"}}	
                </th>
                <th scope="col">
					{{getText "text"}}	
                </th>
                <th scope="col">
					{{getText "logDate"}}	
                </th>
            </tr>
        </thead>
        <tbody>
            {{range .Logs}}
                <tr class="kn-table-row">
                    <th scope="row" class="text-center px-2 py-1">
                        {{.ID}}
                    </th>
                    <td class="text-center px-2 py-1">
                        {{if .Author}}
                            <i class="fas fa-user fa-fw"></i> <a href="/profile/{{.Author.Name}}">{{.Author.Name}}</a> (#{{.Author.ID}})
                        {{else}}
                            {{if .SystemLog}}
                                <i class="fas fa-cog fa-fw"></i> {{getText "system"}}	
                            {{else}}
                                <i class="fas fa-question-square fa-fw"></i> {{getText "unknownUser"}}	
                            {{end}}
                        {{end}}
                    </td>
                    <td class="text-center px-2 py-1">
                        {{.Message}}
                    </td>
                    <td class="text-center px-2 py-1 server_timestamp">
                        {{.LogTime.UnixMilli}}
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>

    <script>
        const page = {{.Page}};
        const numpages = {{.NumPages}};
        bundled.preactRender(bundled.Paginator({page, numpages, setPage: (page) => {
            const params = new URLSearchParams(window.location.search)
            params.set("page", page)
            window.location.search = params.toString()
        }}), document.getElementById("audit_log_paginator"))
    </script>
</div>

{{ end }}
