{{ define "title" }}Administrare fișiere .kna{{ end }}
{{ define "content" }}

<form id="archive-create" class="segment-container">
	<h1> Creare Arhivă </h1>
	<div class="block my-2">
		<label>
			<span class="form-label">Probleme:</span>
			<input id="kna-problems" class="form-input" type="text" name="problems" pattern="([0-9]+,?)+" required>
		</label>
	</div>
	<button type="submit" class="btn btn-blue">Creare arhivă</button>
</form>

<form id="archive-load" class="segment-container">
	<div class="block my-2">
		<label>
			<span class="form-label">Arhivă:</span>
			<input id="kna-archive" class="form-file" type="file" accept=".kna" name="archive" required>
		</label>
	</div>
	<div class="block my-2">
		<label>
			<span class="form-label">ID Autor:</span>
			<input id="kna-authorid" class="form-text" type="number" name="author_id" required value="{{.User.ID}}">
		</label>
	</div>
	<button type="submit" class="btn btn-blue">Încărcare</button>
</form>

<script>
async function createArchive(e) {
	e.preventDefault();
	let problems = document.getElementById("kna-problems").value
	window.location.assign("/admin/makeKNA?pbs="+problems);
	/*
	let res = await bundled.getCall("/kna/createArchive", {problems})
	if(res.status === "success"){
		let blob = base64toBlob(res.data)
		bundled.downloadBlob(blob, "archive.kna")
		return
	}
	bundled.apiToast(res)
	*/
}

async function loadArchive(e) {
	e.preventDefault();
	let form = new FormData();
	let files = document.getElementById("kna-archive").files;
	if(files === null || files.length === 0){
		bundled.createToast({status: "error", title: "Niciun fișier specificat"})
		return
	}
	form.append("archive", files[0])
	let author_id = document.getElementById("kna-authorid").value
	form.append("author_id", author_id)

	let res = await bundled.multipartCall("/kna/loadArchive", form)
	bundled.apiToast(res)
}

document.getElementById("archive-create").addEventListener("submit", createArchive)
document.getElementById("archive-load").addEventListener("submit", loadArchive)

function base64toBlob(base64Data, contentType) {
    contentType = contentType || '';
    var sliceSize = 1024;
    var byteCharacters = atob(base64Data);
    var bytesLength = byteCharacters.length;
    var slicesCount = Math.ceil(bytesLength / sliceSize);
    var byteArrays = new Array(slicesCount);

    for (var sliceIndex = 0; sliceIndex < slicesCount; ++sliceIndex) {
        var begin = sliceIndex * sliceSize;
        var end = Math.min(begin + sliceSize, bytesLength);

        var bytes = new Array(end - begin);
        for (var offset = begin, i = 0; offset < end; ++i, ++offset) {
            bytes[i] = byteCharacters[offset].charCodeAt(0);
        }
        byteArrays[sliceIndex] = new Uint8Array(bytes);
    }
    return new Blob(byteArrays, { type: contentType });
}

</script>

{{ end }}
