{{define "title"}} {{.Topbar.Post.Title}} | Kilonova {{end}}
{{define "content"}}

{{$post := .Topbar.Post}}
{{ template "topbar.html" .Topbar }}

<div class="segment-panel reset-list enhance-tables statement-content">
    <div class="text-justify">
        {{.Statement}}
    </div>
    <div style="clear: both"></div>

    <div class="block mt-4">    
        {{ if gt (len .Variants) 1 }}
        <label class="block mb-1">
            <span class="text-base">{{getText "postFormat"}}:</span> 
            <select id="variant-select" class="form-select-mini" autocomplete="off">
                {{ range .Variants }}
                    <option value="{{.Language}}-{{.Format}}-{{.Type}}" {{if $.SelectedVariant.Equals .}}selected{{end}}>{{formatStmtVariant .}}</option>
                {{ end }}
            </select>
        </label>    
        {{ end }}
        {{if .StatementAtt}}
            <span class="block text-sm text-muted italic">{{getText "updated_at"}}: <server-timestamp timestamp="{{.StatementAtt.LastUpdatedAt.UnixMilli}}"></server-timestamp></span>
        {{end}}
        {{if $post.PublishedAt}}
            <span class="block text-sm text-muted italic">{{getText "posted_at"}}: <server-timestamp timestamp="{{$post.PublishedAt.UnixMilli}}"></server-timestamp></span>
        {{end}}
        {{if .Topbar.IsPostEditor }}
        <span class="block text-sm text-muted italic">{{getText "created_at"}}: <server-timestamp timestamp="{{$post.CreatedAt.UnixMilli}}"></server-timestamp></span>
        {{end}}
    </div>
</div>

{{ with .Attachments }}
    <div class="segment-panel">
        <h2>{{getText "attachments"}}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-1">
            {{range .}}
            <a style="word-wrap: anywhere;" href="/assets/blogPost/{{$post.Slug}}/attachment/{{.Name}}"
                class="segment-panel m-0 flex justify-between black-anchor">
                <h3 class="inline" id="att-name-{{.ID}}">{{.Name}}</h3>
                <span class="badge-lite text-sm" id="att-size-{{.ID}}">
                    {{.Size}}
                </span>
            </a>
            {{end}}
        </div>
    </div>
{{ end }}

<script>
document.getElementById("variant-select")?.addEventListener("change", e => {
    var params = new URLSearchParams(window.location.search);
    params.set("var", e.target.value.replace(/-+$/, ""))
    window.location.search = params.toString()
});
(() => {
    for (let el of document.querySelectorAll("[id^='att-name-']")) {
        el.innerHTML = `<i class="fas ${bundled.getFileIcon(el.innerText)} fa-fw"></i> ${el.innerText}`
    }
    for (let el of document.querySelectorAll("[id^='att-size-']")) {
        el.innerText = bundled.sizeFormatter(Number(el.innerText))
    }
})()
</script>
{{end}}