{{ define "title" }} {{ getText "create_list" }} {{ end }}
{{ define "content" }}

<form id="list-form">
	<div class="block my-2">
		<label>
			<span class="form-label">{{ getText "name" }}</span>
			<input id="list-title" type="text" class="form-input" required>
		</label>
	</div>
	<div class="block my-2">
		<label>
			<span class="form-label">{{getText "desc"}}: </span>
			<textarea id="desc_tarea" class="hidden"></textarea>
			{{/* <input id="list-desc" type="text" class="form-input"> */}}
		</label>
	</div>
	<div class="block my-2">
		<label>
			<span class="form-label">{{ getText "pbs" }}</span>
			<input id="list-pbs" type="text" class="form-input" pattern="([0-9]+,?)+" required>
		</label>
	</div>
	<button type="submit" class="btn btn-blue">{{ getText "button.create" }}</button>
</form>

<script>
var cm = CodeMirror.fromTextArea(document.getElementById("desc_tarea"), {
	mode: {
		name: "gfm",
		gitHubSpice: false,
		emoji: false,
	}
});
cm.setSize(null, "100%");

async function createList(e) {
	e.preventDefault()

	let data = {
		title: document.getElementById("list-title").value,
		description: cm.getValue(),
		ids: bundled.stringIntToNumber(document.getElementById("list-pbs").value.split(',')),
	};

	let res = await bundled.bodyCall("/problemList/create", data)
	if(res.status === "success") {
		window.location.assign(`/problem_lists/${res.data}`);
		return
	}
	bundled.apiToast(res)
}

document.getElementById("list-form").addEventListener("submit", createList)
</script>

{{ end }}}
