{{ define "title" }} {{getText .Ctx.Language "lists"}} {{ end }}
{{ define "content" }}

{{ $root := . }}
{{ $user := .Ctx.User.Brief }}
{{ $ctx := .Ctx }}

{{ if $user }}
<a class="mb-2" href="/problem_lists/create">{{getText $root.Ctx.Language "create"}}</a>
{{ end }}

{{ range problemLists }}
	<div class="segment-container">
		<span class="flex justify-between">
			<h1 class="inline"><a href="/problem_lists/{{.ID}}">#{{.ID}}</a> {{.Title}}</h1>
			<span>{{if $user}} {{ getText $ctx.Language "num_solved" (numSolved $user .List) (len .List) }}{{end}}</span>
		</span>
		{{ if .Description }}<div class="my-1">{{renderMarkdown .Description}}</div>{{end}}
		<div class="mt-2">
			{{ with (listProblems $user .) }}
				{{ template "pb_list_group" (genPbListParams $user $root.Ctx.Language .) }}
			{{ else }}
				<p> {{ getText $ctx.Language "problem.none_in_list" }} </p>
			{{ end }}
		</div>
	</div>
{{ else }}
	<p> {{getText $root.Ctx.Language "problem_list.none"}} </p>
{{ end }}

{{ end }}
