{{ define "title" }} {{getText "lists"}} {{ end }}
{{ define "content" }}

{{ $root := . }}
{{ $user := .Ctx.User.Brief }}
{{ $ctx := .Ctx }}

<h2 class="mb-2">{{getText "problem_lists"}}</h2>

<div class="list-group">
{{ range problemLists }}
    {{template "problemlist_show" (genPblistParams $user $ctx . false)}}
{{ end }}
{{ with (unassociatedProblems $user) }}
    <details class="list-group-head">
        <summary class="pb-1 mt-1">
            <span>{{getText "the_rest"}}</span>
            {{if $user}}
                <span class="float-right badge">
                    {{ getText "num_solved" (numSolvedPbs $user .) (len .) }}
                </span>
            {{end}}
        </summary>
        {{ with . }}
            <div class="mt-2">
                {{ template "pb_list_group" (genProblemsParams $user . true false) }}
            </div>
        {{ end }}
    </details>
{{ end }}
</div>


{{ end }}
