{{define "title"}}{{getText "title.progressChecklist"}} | {{.ProblemList.Title}}{{end}}
{{define "render_list"}}
    {{- if computeChecklistSpan . -}}
    <tr class="kn-table-simple">
        {{- if not .Root -}}
        <td class="kn-table-cell" rowspan="{{computeChecklistSpan .}}">
            {{- if not (eq .DepthLevel 1) -}}
            <a class="white-anchor font-bold" href="/problem_lists/{{.ID}}">
                {{- .Title -}}:</a>{{if authed}}<br/>({{.SolvedCount}}/{{.NumProblems}}){{end}}
            {{- else -}}
            <a class="white-anchor font-bold" href="/problem_lists/{{.ID}}">
                {{- .Title -}}</a> {{if authed}}({{.SolvedCount}}/{{.NumProblems}}){{end}}
            {{- end -}}
        </td>
        {{- else if gt (len .Problems) 0 -}}
        <td class="kn-table-cell"><a class="white-anchor font-bold" href="/problem_lists/{{.ID}}">{{.Title}}</a></td>
        {{- end -}}
        {{- $listID := .ID -}}
        {{- range .Problems -}}
            <td class="kn-table-cell score-cell" data-score="{{checklistMaxScore .}}"><a href="/problems/{{.ID}}?list_id={{$listID}}" title="{{getText `score`}}: {{spbMaxScore . true}}">{{.Name}}</a></td>
        {{- end -}}
    </tr>
    {{- range .SubLists -}}
    {{- template "render_list" . -}}
    {{- end -}}
    {{- end -}}
{{end}}

{{define "content"}}

<div class="segment-panel">
    <a class="block mb-2" href="/problem_lists/{{.ProblemList.ID}}"><i class="fas fa-arrow-left"></i> {{getText "list.view_list"}}</a>

    <table class="kn-table kn-table-slim">
        <thead>
            <tr>
                <th class="kn-table-cell" colspan="9999"><a class="text-2xl white-anchor font-bold" href="/problem_lists/{{.ProblemList.ID}}">{{.ProblemList.Title}} {{if authed}}({{.ProblemList.SolvedCount}}/{{.ProblemList.NumProblems}}){{end}}</a></th>
            </tr>
        </thead>
        <tbody>

            {{template "render_list" .ProblemList}}
        </tbody>
    </table>
</div>

{{end}}