{{ define "title" }} #{{.ProblemList.ID}}: {{.ProblemList.Title}} {{ end }}
{{ define "content" }}

{{ $user := .Ctx.User.Brief }}
{{ $root := . }}
{{ $ctx := .Ctx }}
{{ with .ProblemList }}
    <div class="list-group mb-4">
        {{ template "problemlist_show" (genPblistParams $user $ctx . true)}}
    </div>
	{{ if $user }}
	{{ if or (eq $user.ID .AuthorID) $user.Admin }}
	<form id="pblist-update" class="segment-container" autocomplete="off">
		<h1> {{getText "list.update"}} </h1>
		<div class="block my-2">
			<label>
				<span class="form-label">{{getText "title"}}: </span>
				<input type="text" id="pblist-title" class="form-input" value="{{.Title}}">
			</label>
		</div>
		<div class="block my-2">
			<label>
				<span class="form-label">{{getText "sublist_label"}}:</span>
				<input type="text" id="pblist-sublists" class="form-input" pattern="([0-9]+,?)+" value="{{intList (shallowPblistIDs .SubLists)}}">
			</label>
		</div>
		<div class="block my-2">
			<label>
				<span class="form-label">{{getText "pbs"}}:</span>
				<input type="text" id="pblist-list" class="form-input" pattern="([0-9]+,?)+" value="{{intList .List}}">
			</label>
		</div>
		<div class="block mt-2 mb-4">
			<label>
				<span class="form-label">{{getText "desc"}}: </span>
				<textarea id="desc_tarea" class="hidden">{{- .Description -}}</textarea>
				{{/* <input type="text" id="pblist-desc" class="form-input" value="{{.Description}}"> */}}
			</label>
		</div>
		<button class="btn btn-blue mr-2" type="submit">{{getText "button.update"}}</button>
        <button id="delButton" class="btn btn-red">{{getText "button.delete"}}</button>
	</form>
<script>
let problemListID = {{.ID}};
var cm = CodeMirror.fromTextArea(document.getElementById("desc_tarea"), {
	mode: {
		name: "gfm",
		gitHubSpice: false,
		emoji: false,
	}
});
cm.setSize(null, "100%");

async function updateProblemList(e) {
	e.preventDefault();
	let data = {
		id: problemListID,
		title: document.getElementById("pblist-title").value,
		description: cm.getValue(),
		list: bundled.stringIntToNumber(document.getElementById("pblist-list").value.split(',')),
        sublists: bundled.stringIntToNumber(document.getElementById("pblist-sublists").value.split(',')),
	};
	let res = await bundled.bodyCall("/problemList/update", data)
	if(res.status === "success") {
		window.location.reload();
		return
	}
	bundled.apiToast(res)
}
async function deleteProblemList(e) {
    e.preventDefault();
    let data = {
        id: problemListID
    }
    let res = await bundled.postCall("/problemList/delete", data)
    if(res.status === "success") {
        window.location.assign("/problem_lists");
        return
    }
    bundled.apiToast(res);
}
document.getElementById("pblist-update").addEventListener("submit", updateProblemList)
document.getElementById("delButton").addEventListener("click", deleteProblemList);
</script>
	{{ end }}
	{{ end }}
{{ end }}


{{ end }}
