{{ define "title" }} {{.ProblemList.Title}} {{ end }}

{{ define "head" }}
<link rel="canonical" href="{{printf `/problem_lists/%d` .ProblemList.ID | formatCanonical}}">
{{ end }}

{{ define "content" }}

{{ range pblistParent .ProblemList }}

<a class="block mb-2" href="/problem_lists/{{.ID}}"><i class="fas fa-arrow-left"></i> {{.Title}}</a>

{{ end }}

<a class="block mb-2" href="/problem_lists/{{.ProblemList.ID}}/progress">{{getText "list.view_checklist"}} <i class="fas fa-arrow-right"></i></a>

{{ with .ProblemList }}
    <div class="list-group mb-4">
        {{ template "problemlist_show" (genPblistParams . true)}}
    </div>
    <div class="segment-panel">    
        <p>
            {{getText "created_by"}}:
            {{if .AuthorID}}
                {{with user .AuthorID}}
                    <a href="/profile/{{.Name}}">
                        <img class="rounded-sm inline-block mx-1" src="/api/user/byName/{{.Name}}/avatar?s=32" width="24" height="24" alt="Avatar"/>
                        {{.Name}}</a>
                {{else}}-{{end}}
            {{else}}-{{end}} (<server-timestamp timestamp="{{.CreatedAt.UnixMilli}}"></server-timestamp>)
        </p>
        <div class="my-2">
            <a class="btn btn-blue mr-2" href="/problems?deep_list_id={{.ID}}">{{getText "use_in_search"}}</a>
            <a class="btn btn-blue mr-2" href="/submissions?problem_list_id={{.ID}}">{{getText "pblist_submissions"}}</a>
        </div>
        <div class="block my-2">
            <a class="btn btn-blue mr-2" href="/problems/random?list_id={{.ID}}">{{getText "random_problem"}}</a>
            {{if authed}}
            <a class="btn btn-blue" href="/problems/random?list_id={{.ID}}&unsolved=true">{{getText "random_unsolved_problem"}}</a>
            {{end}}
        </div>
        {{if authed}}
        {{if gt (len .List) 0}}
        <form id="sim_create" class="segment-panel" autocomplete="off">
            <h2>{{getText "create_simulation"}}</h2>
            <label class="block my-2">
                <span class="form-label">{{getText "sim_name"}}: </span>
                <input type="text" id="sim_name" class="form-input" value="{{getText `simulation`}} - {{.Title}}">
            </label>
            <div class="block my-2">
                <label class="inline-flex items-center text-lg">
                    <input class="form-checkbox" name="start_now" id="start_now" type="checkbox" checked>
                    <span class="ml-2">{{getText "start_now"}}</span>
                </label>
            </div>
            <label id="dur_label" class="block my-2">
                <span class="form-label">{{getText "duration"}}: </span>
                <input type="number" id="sim_duration" class="form-input" value="180"> {{getText "minutes"}}
            </label>
            <button id="sim_submit" type="submit" class="btn btn-blue my-2">{{getText "button.create"}}</button>
        </form>
        <script>
            document.getElementById("start_now").addEventListener("change", (e) => {
                document.getElementById("dur_label").classList.toggle("hidden", !e.currentTarget.checked)
                document.getElementById("sim_submit").innerText = (e.currentTarget.checked ? bundled.getText("button.create") : bundled.getText("create_edit"))
            })
            async function createSimulation(e) {
                e.preventDefault()
                let name = document.getElementById("sim_name").value;
                let startNow = document.getElementById("start_now").checked;
                let dur = document.getElementById("sim_duration").value;
                let res = await bundled.postCall("/contest/create", {
                    name,
                    type: "virtual"
                })
                if(res.status === "error") {
                    bundled.apiToast(res)
                    return
                }
                bundled.apiToast({status: "success", data: "Created contest. Initializing..."})
                let id = res.data
                res = await bundled.bodyCall(`/contest/${id}/update/problems`, {list: {{.List}}})
                if(res.status === "error") {
                    res.data = `Contest created with errors: ${res.data}. <a href="/contests/${id}">View it here</a>`
                    bundled.apiToast(res)
                    return
                }
                if(!startNow) {
                    window.location.assign(`/contests/${id}/manage/edit`)
                    return
                }
                res = await bundled.postCall(`/contest/${id}/register`, {});
                if (res.status === "error") {
                    res.data = `Contest created with errors: ${res.data}. <a href="/contests/${id}">View it here</a>`
                    apiToast(res);
                    return;
                }
                let startTime = bundled.dayjs(), endTime = startTime.add(dur, 'minute')
                res = await bundled.postCall(`/contest/${id}/update`, {
                    start_time: bundled.formatISO3601(startTime),
                    end_time: bundled.formatISO3601(endTime)
                })
                if(res.status === "error") {
                    bundled.apiTost(res)
                    return
                }
                window.location.assign(`/contests/${id}`)
            }
            document.getElementById("sim_create").addEventListener("submit", createSimulation)
        </script>
        {{end}}
        {{end}}
    </div>
	{{ if authed }}
	{{ if or (eq authedUser.ID .AuthorID) isAdmin }}
	<form id="pblist-update" class="segment-panel" autocomplete="off">
		<h1> {{getText "list.update"}} </h1>
        <label class="block my-2">
            <span class="form-label">{{getText "title"}}: </span>
            <input type="text" id="pblist-title" class="form-input" value="{{.Title}}">
        </label>
        <label class="block my-2">
            <span class="form-label">{{getText "sublist_label"}}:</span>
            <input type="text" id="pblist-sublists" class="form-input" pattern="([0-9]+,?)+" value="{{intList (shallowPblistIDs .SubLists)}}">
        </label>
        <label class="block my-2">
            <span class="form-label">{{getText "pbs"}}:</span>
            <input type="text" id="pblist-list" class="form-input" pattern="([0-9]+,?)+" value="{{intList .List}}">
        </label>
        <div class="block my-2">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="sidebar_hidable" id="sidebar_hidable" type="checkbox" {{if .SidebarHidable}}checked{{end}}>
                <span class="ml-2">{{getText "sidebar_hidable"}}</span>
            </label>
        </div>
        <div class="block my-2">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="featured_checklist" id="featured_checklist" type="checkbox" {{if .FeaturedChecklist}}checked{{end}}>
                <span class="ml-2">{{getText "featured_checklist"}}</span>
            </label>
        </div>
        <label class="block my-2 mb-4">
            <span class="form-label">{{getText "desc"}}: </span>
            <textarea id="desc_tarea" class="hidden">{{- .Description -}}</textarea>
        </label>
		<button class="btn btn-blue mr-2" type="submit">{{getText "button.update"}}</button>
        <button id="delButton" class="btn btn-red">{{getText "button.delete"}}</button>
	</form>

{{if isAdmin}}
    <form id="problemBulkVizForm" class="segment-panel" autocomplete="off">
        <span class="text-lg">{{getText "updateProblems1"}}</span>
        <select class="form-select" name="deep" id="updProblemsDeep" required autocomplete="off">
            <option value="" selected disabled hidden>-</option>
            <option value="false">{{getText "updateProblemsShallow"}}</option>
            <option value="true">{{getText "updateProblemsRecursive"}}</option>
        </select>
        <span class="text-lg">{{getText "updateProblems2"}}</span>
        <select class="form-select" name="property" id="updProblemsDeep" required autocomplete="off">
            <option value="" selected disabled hidden>-</option>
            <option value="visible.false">{{getText "updateProblemsHidden"}}</option>
            <option value="visible.true">{{getText "updateProblemsVisible"}}</option>
            <option value="visibleTests.false">{{getText "updateProblemTestsHidden"}}</option>
            <option value="visibleTests.true">{{getText "updateProblemTestsVisible"}}</option>
        </select>
        <button class="btn btn-blue" type="submit">{{getText "button.update"}}</button>
    </form>
<script>

async function updateProblemVisibilities(e) {
    e.preventDefault();
    let data = new FormData(e.currentTarget)
    let [propertyName, propertyVal] = data.get("property").split('.', 2);
    const res = await bundled.postCall("/problemList/{{.ID}}/toggleProblems", {
        deep: data.get("deep"),
        [propertyName]: propertyVal
    })
    if(res.status === "error") {
        bundled.apiToast(res)
        return
    }
    window.location.reload()
}

document.getElementById("problemBulkVizForm").addEventListener("submit", updateProblemVisibilities);

</script>

{{ end }}
<script>
let problemListID = {{.ID}};
var cm = CodeMirror.fromTextArea(document.getElementById("desc_tarea"), {
	mode: {
		name: "gfm",
		gitHubSpice: false,
		emoji: false,
	}
});
cm.setSize(null, "100%");

async function updateProblemList(e) {
	e.preventDefault();
	let data = {
		title: document.getElementById("pblist-title").value,
		description: cm.getValue(),
		list: bundled.stringIntToNumber(document.getElementById("pblist-list").value.split(',')),
        sublists: bundled.stringIntToNumber(document.getElementById("pblist-sublists").value.split(',')),
        sidebar_hidable: document.getElementById("sidebar_hidable").checked,
        featured_checklist: document.getElementById("featured_checklist").checked,
    };
	let res = await bundled.bodyCall("/problemList/{{.ID}}/update", data)
	if(res.status === "success") {
		window.location.reload();
		return
	}
	bundled.apiToast(res)
}
async function deleteProblemList(e) {
    e.preventDefault();
    if(!(await bundled.confirm(bundled.getText("pblistDeleteConfirm")))) {
        return
    }
    let res = await bundled.postCall("/problemList/{{.ID}}/delete", {})
    if(res.status === "success") {
        window.location.assign("/problem_lists");
        return
    }
    bundled.apiToast(res);
}
document.getElementById("pblist-update").addEventListener("submit", updateProblemList)
document.getElementById("delButton").addEventListener("click", deleteProblemList);
</script>

{{ template "createpblist.html" $}}

    {{if authedUser.IsAdmin}}
        {{$.ProblemSources | renderComponent}}
    {{end}}
	{{ end }}
	{{ end }}
{{ end }}


{{ end }}
