{{ define "title" }} {{getText .Ctx.Language "title.list" .ProblemList.ID}} {{ end }}
{{ define "content" }}

{{ $user := .Ctx.User.Brief }}
{{ $root := . }}
{{ $ctx := .Ctx }}
{{ with .ProblemList }}
	<div class="segment-container">
		<span class="flex justify-between">
			<h1 class="inline"><a href="/problem_lists/{{.ID}}">#{{.ID}}</a> {{.Title}}</h1>
			<span>{{if $user}} {{ getText $ctx.Language "num_solved" (numSolved $user .List) (len .List) }}{{end}}</span>
		</span>
		{{ if .Description }}<div class="my-1">{{renderMarkdown .Description}}</div>{{end}}
		<div class="mt-2">
			{{ with (listProblems $user .) }}
				{{ template "pb_list_group" (genPbListParams $user $root.Ctx.Language .) }}
			{{ else }}
				<p> {{ getText $ctx.Language "noListProblems" }} </p>
			{{ end }}
		</div>
	</div>
	{{ if $user }}
	{{ if or (eq $user.ID .AuthorID) $user.Admin }}
	<form id="pblist-update" class="segment-container" autocomplete="off">
		<h1> {{getText $root.Ctx.Language "list.update"}} </h1>
		<div class="block my-2">
			<label>
				<span class="form-label">{{getText $root.Ctx.Language "title"}}: </span>
				<input type="text" id="pblist-title" class="form-input" value="{{.Title}}">
			</label>
		</div>
		<div class="block my-2">
			<label>
				<span class="form-label">{{getText $root.Ctx.Language "pbs"}}:</span>
				<input type="text" id="pblist-list" class="form-input" pattern="([0-9]+,?)+" value="{{intList .List}}">
			</label>
		</div>
		<div class="block mt-2 mb-4">
			<label>
				<span class="form-label">{{getText $root.Ctx.Language "desc"}}: </span>
				<textarea id="desc_tarea" class="hidden">{{- .Description -}}</textarea>
				{{/* <input type="text" id="pblist-desc" class="form-input" value="{{.Description}}"> */}}
			</label>
		</div>
		<button class="btn btn-blue mr-2" type="submit">{{getText $root.Ctx.Language "button.update"}}</button>
        <button id="delButton" class="btn btn-red">{{getText $root.Ctx.Language "button.delete"}}</button>
	</form>
<script>
let problemListID = {{.ID}};
var cm = CodeMirror.fromTextArea(document.getElementById("desc_tarea"), {
	mode: {
		name: "gfm",
		gitHubSpice: false,
		emoji: false,
	}
});
cm.setSize(null, "100%");


async function updateProblemList(e) {
	e.preventDefault();
	let data = {
		id: problemListID,
		title: document.getElementById("pblist-title").value,
		description: cm.getValue(),
		list: bundled.stringIntToNumber(document.getElementById("pblist-list").value.split(',')),
	};
	let res = await bundled.bodyCall("/problemList/update", data)
	if(res.status === "success") {
		window.location.reload();
		return
	}
	bundled.apiToast(res)
}
async function deleteProblemList(e) {
    e.preventDefault();
    let data = {
        id: problemListID
    }
    let res = await bundled.postCall("/problemList/delete", data)
    if(res.status === "success") {
        window.location.assign("/problem_lists");
        return
    }
    bundled.apiToast(res);
}
document.getElementById("pblist-update").addEventListener("submit", updateProblemList)
document.getElementById("delButton").addEventListener("click", deleteProblemList);
</script>
	{{ end }}
	{{ end }}
{{ end }}


{{ end }}
