<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{{with .Title}}
		<title>{{- . }} | Kilonova</title>
	{{else}}
		<title>Kilonova</title>
	{{end}}

	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">

	<!--jQuery-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
	
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
	<!--Material Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--materialize-->
	<link rel="stylesheet" href="/static/style.css">

	<!--Toastr.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

	<!--highlight.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>

	<!--markdown-it.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js"></script>


	<!--Codemirror (it's gonna be a long list)-->
	<!--CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/codemirror.min.css" />
	<!--JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/addon/mode/overlay.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/meta.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/markdown/markdown.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/gfm/gfm.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/mode/clike/clike.min.js"></script>

	<script>
		var md = window.markdownit({
			xhtmlOut: true,
			breaks: true,
			linkify: true,
			highlight: function (str, lang) {
				if (lang && hljs.getLanguage(lang)) {
					try { return hljs.highlight(lang, str).value; } catch (err) { console.error(err); }
				}
				return "";
			},
		});
		hljs.initHighlightingOnLoad();
	</script>

	<script>
		// Util functions
		toastr.options = {
			closeButton: true,
			newestOnTop: true,
			positionClass: "toast-bottom-right",
		}

		/* createToast SETTINGS
			title: the toast title
			status: the toast status (default "info")
			position: the toast position (default "toast-bottom-right")
			onclick: onClick handler
		*/
		function createToast(options) {
			if (options.status == null) options.status = "info"
			if (options.position == null) options.position = "toast-bottom-right"
			if (options.onclick == null) options.onclick = function () { }
			toastr[options.status](options.description, options.title, {
				positionClass: options.position,
				onclick: options.onclick
			})
		}

		function apiToast(res) {
			createToast({
				status: res.status,
				description: res.data
			})
		}

		async function getCall(call, params) {
			if(call.startsWith('/')) {
				call = call.substr(1)
			}
			let resp = await fetch(`/api/${call}?${$.param(params)}`, {headers: {'Accept': 'application/json'}});
			return await resp.json()
		}
		async function postCall(call, params) {
			if(call.startsWith('/')) {
				call = call.substr(1)
			}
			let resp = await fetch(`/api/${call}`, {
				method: 'POST',
				headers: {'Content-Type': 'application/x-www-form-urlencoded','Accept': 'application/json'},
				body: $.param(params)
			});
			return await resp.json();
		}
		
		async function getUser(name) {
			return await getCall('/user/getByName', {name: name})
		}
	</script>
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<div class="container">
				<a class="brand-logo" href="/">Kilonova</a>
				<a data-target="navbarside" href="#" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/tasks">Listă task-uri</a></li>
					{{ if not .LoggedIn }}
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/login">Log In</a></li>
					{{ else }}
					<li><a class="dropdown-trigger" data-target="userDropdown">{{.User.Name}}<i class="material-icons right">arrow_drop_down</i></a></li>
					{{ end }}
				</ul>
			</div>
		</div>
	</nav>
	<ul class="sidenav" id="navbarside">
		<li><a href="/tasks">Listă task-uri</a></li>
		{{ if not .LoggedIn }}
		<li><a href="/signup">Sign Up</a></li>
		<li><a href="/login">Log In</a></li>
		{{ end}}

		{{if (or .User.Proposer .User.Admin)}}
		<li><a href="/probleme/create">Creare Problemă</a></li>
		{{end}}
		{{if .User.Admin}}
		<li><a href="/admin">Butoane Administrative</a></li>
		{{end}}
		<li><a href="/logout">Log Out</a></li>
	</ul>
	<ul id="userDropdown" class="dropdown-content">
		{{if (or .User.Proposer .User.Admin)}}
		<li><a href="/probleme/create">Creare Problemă</a></li>
		{{end}}
		{{if .User.Admin}}
		<li><a href="/admin">Butoane Administrative</a></li>
		{{end}}
		<li><a href="/logout">Log Out</a></li>
	</ul>
	{{ if .Sidebar }}
	<script>
		$("#menu-toggle").click(e => {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled")
		})
	</script>
	{{ end }}
	{{ if not .Sidebar }}
		<br/>
	{{ end }}
