<div class="segment-panel">
    <h2 class="font-normal">
        {{getText "contestInfo"}}
    </h2>

    <div class="px-2">
        <p>{{getText "startTime"}}: <span class="server_timestamp">{{.StartTime.UnixMilli}}</span></p>
        <p>{{getText "duration"}}: {{contestDuration .}}</p>
        {{ if not currentProblem}}
            {{ with .Editors }}
                <details class="reset-list" open>
                    <summary>{{getText "organisedBy"}}:</summary>
                    <ul>
                        {{ range . }}
                        <li><a href="/profile/{{.Name}}">{{.Name}}</a></li>
                        {{ end }}
                    </ul>
                </details>
            {{ end }}
        {{ end }}
        <p>{{getText "status"}}: 
            {{if .Ended}}
                {{getText "contest_ended"}}
            {{else if .Running}}
                <kn-contest-countdown target_time="{{(remainingContestTime . (contestRegistration .)).UnixMilli}}" type="running"></kn-contest-countdown> 
                {{getText "contest_remaining"}}
            {{else}}
                {{getText "contest_starting_in"}}
                <kn-contest-countdown target_time="{{.StartTime.UnixMilli}}" type="before_start"></kn-contest-countdown>
            {{end}}
        </p>
        {{ if isUSACOstyle . }}
            <p>{{getText "contest_user_time"}}: {{usacoDuration .}}</p>
        {{ end }}
        {{ if isContestEditor . }}
        <p class="my-1">{{getText "visibility"}}:
            {{if .Visible}}
            <span class="badge-lite bg-green-700 text-sm font-semibold">{{getText "visible"}}</span>
            {{else}}
            <span class="badge-lite bg-red-700 text-sm font-semibold">{{getText "invisible"}}</span>
            {{end}}
        </p>
        <p class="my-1">{{getText "registration_status"}}:
            {{if .PublicJoin}}
            <span class="badge-lite bg-green-700 text-sm font-semibold">{{getText "registration_open"}}</span>
            {{else}}
            <span class="badge-lite bg-red-700 text-sm font-semibold">{{getText "registration_closed"}}</span>
            {{end}}
        </p>
        {{ end }}

        {{ if (and authed (canJoinContest .)) }}
            {{ $reg := (contestRegistration .) }}
            {{ if $reg }}
                <div class="my-2">
                {{ if (and .Running (isUSACOstyle .)) }}
                    {{ if not (startedUSACO . $reg) }}
                        <button class="btn btn-blue" onclick="bundled.startContestRegistration({{.ID}})">{{getText "start_contest"}}</button>
                    {{ else if (endedUSACO . $reg) }}
                        <span class="badge-lite">{{getText "time_elapsed"}}</span>
                    {{ else }}
                        <span class="badge-lite">{{getText "started"}}</span>
                    {{ end }}
                {{ else }}
                    <span class="badge-lite">{{getText "registered"}}</span>
                {{ end }}
                </div>
            {{ else }}
            <button class="btn btn-blue my-2" onclick="bundled.registerForContest({{.ID}})">{{getText "register_btn"}}</button>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ $contest := . }}
{{ with contestProblems (authedUser) . }}
    <div class="segment-panel">
        <h2>{{getText "problems"}}</h2>
        <div class="reset-list text-lg">
            <ul>
                {{ range . }}
                {{ $score := spbMaxScore .}}
                <li>
                    <a {{ if currentProblem }} {{ if eq (currentProblem).ID .ID }} class="topbar-selected p-0" {{end}} {{ end }}
                        href="/contests/{{$contest.ID}}/problems/{{.ID}}"> 
                        {{.Name}} 
                    </a>                         
                    {{ if not (eq $score "")}} 
                    (
                        {{- if eq .ScoringStrategy `sum_subtasks` -}}
                            <a class="max_score_breakdown" href="#" data-problemid="{{.ID}}" data-contestid="{{$contest.ID}}">
                        {{- end -}}
                        {{$score}} {{- if not (eq $score "-") -}}p{{end}}
                        {{- if eq .ScoringStrategy `sum_subtasks` -}}
                            </a>
                        {{- end -}}
                    ) 
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
{{ end }}