
<!-- Required:
    - Template data: a StatementEditorParams, which contains:
        - .Lang - language, probably "ro" or "en"
        - .Data - string of contents
        - .Att - attachment reference of file
        - .APIPrefix - prefix, such as `/problem/{.Problem.ID}` or `/blogPosts/{.Post.ID}`, with no trailing `/`
-->


<div class="page-holder">
    <form id="statementUpdForm" class="page-content-full" autocomplete="off">
        <h2>{{ getText "header.edit.description" }}</h2>
        <label class="block mb-2">
            <span class="form-label">{{getText "spokenLanguage"}}:</span> 
            <select id="variantSelect" class="form-select" autocomplete="off">
                <option value="ro" {{if (eq "ro" .Lang)}} selected {{end}}>{{formatStmtLang "ro"}}</option>
                <option value="en" {{if (eq "en" .Lang)}} selected {{end}}>{{formatStmtLang "en"}}</option>
            </select>
        </label>
        <input type="hidden" id="attID" value="{{if not .Att}}-1{{else}}{{.Att.ID}}{{end}}"/>
        <div class="block mb-2">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="private" id="private_checkbox" type="checkbox" {{if .Att}}{{if .Att.Private}}checked{{end}}{{end}}>
                <span class="ml-2">{{getText "private"}}</span>
            </label>
        </div>
        <div class="mb-2">
            <textarea id="description" class="hidden" autofocus>{{- .Data -}}</textarea>
        </div>
        <div class="mb-2">
            <button class="btn btn-blue">{{getText "button.update"}}</button>
        </div>
    </form>
</div>

<style>
    .CodeMirror {
        min-height: 250px;
    }
</style>

<script>
    const apiPrefix = {{.APIPrefix}};
    var cm = CodeMirror.fromTextArea(document.getElementById("description"), {
        mode: {
            name: "gfm",
            gitHubSpice: false,
            emoji: false,
        },
    });
    cm.setSize(null, "100%");
    cm.focus();

    async function reloadStatement(newLang) {
        const rez = await bundled.getCall(`${apiPrefix}/get/attachmentByName/statement-${newLang}.md`)
        if(rez.status !== "success") {
            document.getElementById("private_checkbox").checked = false
            if (document.getElementById("attID").value != -1) {
                cm.setValue("")
            }
            document.getElementById("attID").value = -1
            return
        }

        document.getElementById("private_checkbox").checked = rez.data.metadata.private
        document.getElementById("attID").value = rez.data.metadata.id
        cm.setValue(bundled.fromBase64(rez.data.data))
    }

    async function updateStatement(e) {
        e.preventDefault();
        let content = cm.getValue();
        let filename = `statement-${document.getElementById("variantSelect").value}.md`;
        let id = document.getElementById("attID").value

        let form = new FormData();
        form.append("data", new File([content], filename, {type: "text/plain"}));
        form.append("private", document.getElementById("private_checkbox").checked);
        
        console.log(id)
        if(id.toString() !== "-1") {
            // Update attachment
            form.append("id", id)
    
            let res = await bundled.multipartCall(apiPrefix+"/update/attachmentData", form)
            bundled.apiToast(res);
        } else {
            // Create attachment
            let res = await bundled.multipartCall(apiPrefix+"/update/addAttachment", form)
            if (res.status !== "success") {
                bundled.apiToast(res);
                return
            }

            bundled.apiToast({status: "success", data: "Created statement."})
            document.getElementById("attID").value = res.data
        }
    }

    document.getElementById("variantSelect").addEventListener("change", e => reloadStatement(e.target.value))
    document.getElementById("statementUpdForm").addEventListener("submit", updateStatement)
</script>