
<!-- Required:
    - Template data: a StatementEditorParams, which contains:
        - .Variants - existing variants
        - .Variant - an existing or non-existing *markdown* variant
        - .Data - string of contents
        - .Att - attachment reference of file
        - .APIPrefix - prefix, such as `/problem/{.Problem.ID}` or `/blogPosts/{.Post.ID}`, with no trailing `/`
-->

{{with .Variants}}
<div class="segment-panel reset-list" id="variantDiv">
    {{getText "existingVariants"}}:
    <ul id="variantList">
        {{range .}}
        {{if eq .Format "md"}}
        <li><a href="?pref_lang={{.Language}}&pref_type={{.Type}}" data-type="{{.Type}}" data-lang="{{.Language}}">{{formatStmtVariant .}}{{if .Private}} ({{getText "private"}}){{end}}</a></li>
        {{end}}
        {{end}}
    </ul>
</div>
{{if lt (mdVariantCount .) 2}}
<!--TODO: Remove this hack-->
<style>#variantDiv {display: none}</style>
{{end}}
{{end}}

<div class="page-holder">
    <form id="statementUpdForm" class="page-content-full" autocomplete="off">
        <h2>{{ getText "header.edit.description" }}</h2>
        <label class="block mb-2">
            <span class="form-label">{{getText "spokenLanguage"}}:</span> 
            <select id="variantSelect" class="form-select" autocomplete="off">
                <option value="ro" {{if (eq "ro" .Variant.Language)}} selected {{end}}>🇷🇴 Română</option>
                <option value="en" {{if (eq "en" .Variant.Language)}} selected {{end}}>🇬🇧 English</option>
            </select>
        </label>
        <input type="hidden" id="attID" value="{{if not .Att}}-1{{else}}{{.Att.ID}}{{end}}"/>
        <span id="selectedVariant" class="block mb-2"></span>
        <input type="hidden" id="variantType" value=""/>
        <div class="block mb-2">
            <label class="inline-flex items-center text-lg">
                <input class="form-checkbox" name="private" id="private_checkbox" type="checkbox" {{if .Att}}{{if .Att.Private}}checked{{end}}{{end}}>
                <span class="ml-2">{{getText "private"}}</span>
            </label>
        </div>
        <div class="mb-2">
            <textarea id="description" class="hidden" autofocus>{{- .Data -}}</textarea>
        </div>
        <div class="mb-1">
            <button class="btn btn-blue">{{getText "button.update"}}</button>
            <span class="block mt-2 text-muted text-sm">{{getText "hint.edit.description_save"}}</span>
        </div>
    </form>

    <details class="page-content-full">
        <summary><h2 class="inline-block">{{getText "header.edit.advanced_settings"}}</h2></summary>
        <div class="block mb-2">
            <label class="inline-flex items-center text-sm">
                <!-- TODO: Hook into codemirror paste -->
                <input id="autoformat_paste" class="form-checkbox" type="checkbox">
                <span class="form-label ml-2">{{getText "edit.option.autoformat_paste"}}</span>
            </label>
        </div>
        <div class="block mb-2">
            <!-- TODO: run format function on document -->
            <button id="formatDocumentButton" class="btn btn-blue">{{getText "edit.command.format_document"}}</button>
        </div>
    </details>
</div>

<style>
    .CodeMirror {
        min-height: 250px;
    }
</style>

<script>
    let changed = false;
    window.addEventListener("beforeunload", e => {
        if(changed) {
            e.preventDefault();
            e.returnValue = true
            return true
        }
    })
</script>

<script>
    const rewriteRules = [
        {
            pattern: /\\textbf{([^}]*)}/g,
            replacement: "**$1**"
        },
        {
            pattern: /\\textsc{([^}]*)}/g,
            replacement: "**$1**"
        },
        {
            pattern: /\\emph{([^}]*)}/g,
            replacement: "**$1**"
        },
        {
            pattern: /\\textit{([^}]*)}/g,
            replacement: "_$1_"
        },
        {
            pattern: /\\texttt{([^}]*)}/g,
            replacement: "`$1`"
        },
        {
            pattern: /\\item (.*)/g,
            replacement: "* $1"
        },
        {
            pattern: /\\section{([^}]*)}/g,
            replacement: "# $1"
        },
        {
            pattern: /\\np{([0-9]*)}/g,
            replacement: (match, p1) => {
                const spl = p1.split('').reverse().join('')
                    .match(/.{1,3}/g).map(group => group.split('').reverse().join('')).reverse();
                console.log(match, p1, spl)
                return spl.join(' \\ ')
            }
        },
        {
            pattern: /\\restr{(.*)}{(.*)}/g,
            replacement: "| x | $1 | $2 |",
        },
    ]

    function rewriteLaTeXMarkdown(snippet) {
        for(let rule of rewriteRules) {
            snippet = snippet.replaceAll(rule.pattern, rule.replacement)
        }
        return snippet
    }
</script>

<script>
    const apiPrefix = {{.APIPrefix}};
    var cm = CodeMirror.fromTextArea(document.getElementById("description"), {
        mode: {
            name: "gfm",
            gitHubSpice: false,
            emoji: false,
        },
    });
    cm.setSize(null, "100%");
    cm.focus();
    cm.on("change", () => changed = true)

    document.getElementById("formatDocumentButton").addEventListener("click", () => {
        let val = cm.getValue();
        let newVal = rewriteLaTeXMarkdown(val);
        if(val === newVal) {
            bundled.createToast({
                status: "info",
                description: bundled.getText("notif.edit.no_changes")
            })
            return
        }
        cm.setValue(newVal);
        bundled.createToast({
            status: "success",
            description: bundled.getText("notif.edit.rewrote_rule")
        })
    })

    cm.on('beforeChange', (cm, event) => {
        if(event.origin === "paste") {
            if(document.getElementById("autoformat_paste").checked) {
                let newVal = event.text.map(rewriteLaTeXMarkdown);
                if(!bundled.isEqual(newVal, event.text)) {
                    event.update(null, null, newVal);
                    bundled.createToast({
                        status: "success",
                        description: bundled.getText("notif.edit.rewrote_rule")
                    })
                }
            }
        }
    })

    function formatStatement(lang, type) {
        if(type == "") {
            return `statement-${lang}.md`
        }
        return `statement-${lang}-${type}.md`
    }

    function setType(newType) {
        document.getElementById("variantType").value = newType
        let varText = ""
        if(typeof newType == 'string' && newType.length > 0) {
            varText = `${bundled.getText("selectedType")}: ${bundled.maybeGetText("stmt_type."+newType)}`
        }
        document.getElementById("selectedVariant").innerText = varText
    }
    setType({{.Variant.Type}})

    var currentLang = "{{.Variant.Language}}"
    async function reloadStatement(newLang, newType) {
        const rez = await bundled.getCall(`${apiPrefix}/get/attachmentByName/${formatStatement(newLang, newType)}`)
        if(rez.status !== "success") {
            document.getElementById("private_checkbox").checked = false
            document.getElementById("variantSelect").value = newLang
            currentLang = newLang
            setType(newType)
            if (document.getElementById("attID").value != -1) {
                cm.setValue("")
                changed = false
            }
            document.getElementById("attID").value = -1
            return
        }

        document.getElementById("private_checkbox").checked = rez.data.metadata.private
        document.getElementById("attID").value = rez.data.metadata.id
        document.getElementById("variantSelect").value = newLang
        currentLang = newLang
        setType(newType)
        cm.setValue(bundled.fromBase64(rez.data.data))
        changed = false
    }

    document.querySelectorAll("#variantList a").forEach(val => {
        val.addEventListener("click",async e => {
            e.preventDefault()
            if (changed && !(await bundled.confirm(bundled.getText("variantChangeConfirm")))) {
                return
            }
            await reloadStatement(e.target.dataset.lang, e.target.dataset.type)
        })
    })

    async function updateStatement(e) {
        e.preventDefault();
        let content = cm.getValue();
        let filename = formatStatement(document.getElementById("variantSelect").value, document.getElementById("variantType").value);
        let id = document.getElementById("attID").value

        let form = new FormData();
        form.append("data", new File([content], filename, {type: "text/plain"}));
        form.append("private", document.getElementById("private_checkbox").checked);
        
        console.log(id)
        if(id.toString() !== "-1") {
            // Update attachment
            form.append("id", id)
    
            let res = await bundled.multipartCall(apiPrefix+"/update/attachmentData", form)
            bundled.apiToast(res);
            if(res.status === "success") {
                changed = false
            }
        } else {
            // Create attachment
            let res = await bundled.multipartCall(apiPrefix+"/update/addAttachment", form)
            if (res.status !== "success") {
                bundled.apiToast(res);
                return
            }

            changed = false
            bundled.apiToast({status: "success", data: "Created statement."})
            document.getElementById("attID").value = res.data
        }
    }

    document.addEventListener('keydown', e => {
        if ((e.ctrlKey || e.metaKey) && e.key === 's') {
            updateStatement(e);
        }
    });

    document.getElementById("variantSelect").addEventListener("change", async e => {
        if (changed && !(await bundled.confirm(bundled.getText("variantChangeConfirm")))) {
            e.preventDefault()
            e.target.value = currentLang
            return
        }
        reloadStatement(e.target.value, document.getElementById("variantType").value)
    })
    document.getElementById("statementUpdForm").addEventListener("submit", updateStatement)
</script>