<form class="segment-panel" id="sendSubForm" autocomplete="off">    
    {{ if .Topbar.Contest }}
        {{ if canSubmitInContest .Ctx.User.Brief .Topbar.Contest}}
            <h1 class="mt-2">{{getText "uploadContestSub"}}</h1>
            <input type="hidden" id="sub_contestid" value="{{.Topbar.Contest.ID}}">
        {{ else }}
            <h1 class="mt-2">{{getText "upsolveSub"}}</h1>
            <input type="hidden" id="sub_contestid" value="-1">
        {{ end }}
    {{ else }}    
        <h1 class="mt-2">{{getText "uploadSub"}}</h1>
        {{ with problemContests .Ctx.User.Brief .Problem }}
        <label class="block mb-2">
            <span class="form-label">{{getText "contest"}}: </span>
            <select id="sub_contestid" class="form-select">
                <option value="-1" selected>-</option>
                {{ range . }}
                <option value="{{.ID}}">{{.Name}}</option>
                {{ end }}
            </select>
        </label>
        {{ else }}
            <input type="hidden" id="sub_contestid" value="-1">
        {{ end }}
    {{ end }}

    <label class="block mb-2">
        <span class="form-label">{{getText "language"}}:</span>
        <select id="sub_language" class="form-select">
            {{ range $name, $lang := .Languages }}
            {{ if not $lang.Disabled }}
            <option value="{{$name}}" {{if eq $name "cpp17" }}selected{{end}}>{{$lang.PrintableName}}</option>
            {{ end }}
            {{ end }}
        </select>
    </label>

    <label class="block mb-2">
        <span class="form-label">{{getText "submit_style"}}:</span>
        <select id="submit_style" class="form-select" autocomplete="off">
            <option value="code">{{getText "code_insert"}}</option>
            <option value="file">{{getText "file"}}</option>
        </select>
    </label>

    <label id="cm_label" class="block mb-2">
        <textarea id="SubArea" style="display: none;" autocomplete="off"></textarea>
    </label>

    <label id="file_label" class="block mb-2 hidden">
        <span class="form-label">{{getText "upload_file"}}:</span>
        <input class="form-input" id="submit_file" type="file" autocomplete="off">
    </label>

    <button type="submit" class="btn btn-blue my-2">{{getText "send"}}</button>
</form>

<script>
    // cm name should remain, or be updated in pb_submit.html as well
    var cm = CodeMirror.fromTextArea(document.getElementById("SubArea"), {
        mode: bundled.languages["cpp17"],
    });

    document.getElementById("submit_style").addEventListener("change", (e) => {
        const val = e.currentTarget.value;
        bundled.setSubmitStyle(val);
        document.getElementById("file_label")?.classList.toggle("hidden", val === "code");
        document.getElementById("cm_label")?.classList.toggle("hidden", val !== "code");
    })

    document.addEventListener("DOMContentLoaded", () => {
        const val = bundled.getSubmitStyle();
        document.getElementById("submit_style").value = val;
        document.getElementById("file_label")?.classList.toggle("hidden", val === "code");
        document.getElementById("cm_label")?.classList.toggle("hidden", val !== "code");
        
        var pref = bundled.getCodeLangPreference();
        if(Object.values(document.getElementById("sub_language").options).map(x => x.value).includes(pref)) {
            document.getElementById("sub_language").value = pref
        }
    })

    document.getElementById("sub_language").addEventListener("change", (e) => {
        bundled.setCodeLangPreference(e.target.value)
        let lang = bundled.languages[e.target.value]
        if (lang !== null) {
            cm.setOption("mode", lang)
        }
    })

    async function sendSub() {
        let sendData = {
            problemID: "{{ .Problem.ID }}",
            language: document.getElementById("sub_language").value,
            code: "",
        };
        
        if(bundled.getSubmitStyle() == "code") {
            sendData.code = cm.getValue();
        } else {
            const fInput = document.getElementById("submit_file");
            if(fInput.files.length !== 1) {
                bundled.apiToast({status: "error", data: bundled.getText("invalid_file")})
                return
            }
            sendData.code = await fInput.files[0].text();
        }

        if(sendData.code === "") {
            bundled.apiToast({status: "error", data: bundled.getText("no_code")})
            return
        }

        if(document.getElementById("sub_contestid").value !== "-1") {
            const val = parseInt(document.getElementById("sub_contestid").value);
            if(isNaN(val)) {
                console.warn("Submission form's contest ID is not a number")
            } else {
                sendData.contestID = val
            }
        }

        let res = await bundled.postCall("/submissions/submit", sendData)
        if (res.status == "error") {
            bundled.apiToast(res)
            return
        }
        bundled.createToast({ title: bundled.getText("uploaded"), description: `<a href="/submissions/${res.data}">${bundled.getText("view")}</btn>` })
        console.log(res.data, bundled.makeSubWaiter(res.data));
        document.dispatchEvent(new CustomEvent("kn-poll"));
    }

    const debounced = bundled.debounce(() => sendSub().catch(console.error), 200)

    document.getElementById("sendSubForm").addEventListener("submit", (e) => {
        e.preventDefault();
        debounced()
    })

</script>