<form class="segment-panel" id="sendSubForm" autocomplete="off">   
    {{$initiallyContest := false}}
    {{ if .Topbar.Contest }}
        {{ if canSubmitInContest authedUser .Topbar.Contest}}
            <h1 class="mt-2">{{getText "uploadContestSub"}}</h1>
            <input type="hidden" id="sub_contestid" value="{{.Topbar.Contest.ID}}">
            {{$initiallyContest = true}}
        {{ else }}
            <h1 class="mt-2">{{getText "upsolveSub"}}</h1>
            <input type="hidden" id="sub_contestid" value="-1">
        {{ end }}
    {{ else }}    
        <h1 class="mt-2">{{getText "uploadSub"}}</h1>
        {{ with problemContests authedUser .Problem }}
        <label class="block mb-2">
            <span class="form-label">{{getText "contest"}}: </span>
            <select id="sub_contestid" class="form-select" required>
                {{if problemFullyVisible}}
                    <option value="-1" selected>-</option>
                    {{ range . }}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{ end }}
                {{ else }}
                    {{$initiallyContest = true}}
                    {{ if eq (len .) 1}}
                        {{ range . }}
                        <option value="{{.ID}}" selected>{{.Name}}</option>
                        {{ end }}
                    {{ else }}
                        <option value="" disabled selected>{{getText "selectContest"}}</option>
                        {{ range . }}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </select>
        </label>
        {{ else }}
            <input type="hidden" id="sub_contestid" value="-1">
        {{ end }}
    {{ end }}

    <span id="submit_attempts_label" class="block mb-2 form-label {{if not $initiallyContest}}hidden{{end}}">
        {{getText "remainingAttempts"}}: <span id="submit_attempts">{{getText "loading"}}</span>
    </span>

    <label class="block mb-2">
        <span class="form-label">{{getText "language"}}:</span>
        <select id="sub_language" class="form-select">
            {{ range .Languages }}
            <option value="{{.InternalName}}" {{if eq .InternalName "cpp17" }}selected{{end}}>{{.PrintableName}}</option>
            {{ end }}
        </select>
    </label>

    <label class="block mb-2">
        <span class="form-label">{{getText "submit_style"}}:</span>
        <select id="submit_style" class="form-select" autocomplete="off">
            <option value="code">{{getText "code_insert"}}</option>
            <option value="file">{{getText "file"}}</option>
        </select>
    </label>

    <div id="cm_label" class="block mb-2">
        <textarea id="SubArea" style="display: none;" autocomplete="off" aria-hidden="true"></textarea>
    </div>

    <label id="file_label" class="block mb-2 hidden">
        <span class="form-label">{{getText "upload_file"}}:</span>
        <input class="form-input" id="submit_file" type="file" autocomplete="off">
    </label>

    <button type="submit" class="btn btn-blue my-2">{{getText "send"}}</button>
</form>

<script>
    let problemID = {{.Problem.ID}};

    function isOutputOnly() {
        const languages = Object.values(document.getElementById("sub_language").options).map(x => x.value);
        return languages.length == 1 && languages[0] == "outputOnly"
    }

    // cm name should remain, or be updated in pb_submit.html as well
    var cm = CodeMirror.fromTextArea(document.getElementById("SubArea"), {
        mode: bundled.languages[bundled.getCodeLangPreference()],
    });

    document.getElementById("submit_style").addEventListener("change", (e) => {
        const val = e.currentTarget.value;
        if(!isOutputOnly()) {
            bundled.setSubmitStyle(val);
        }
        document.getElementById("file_label")?.classList.toggle("hidden", val === "code");
        document.getElementById("cm_label")?.classList.toggle("hidden", val !== "code");
    })

    document.addEventListener("DOMContentLoaded", () => {
        let val = bundled.getSubmitStyle();
        if(isOutputOnly()) val = "file";

        document.getElementById("submit_style").value = val;
        document.getElementById("file_label")?.classList.toggle("hidden", val === "code");
        document.getElementById("cm_label")?.classList.toggle("hidden", val !== "code");
        
        var pref = bundled.getCodeLangPreference();
        if(Object.values(document.getElementById("sub_language").options).map(x => x.value).includes(pref)) {
            document.getElementById("sub_language").value = pref
        }
    })

    document.getElementById("sub_language").addEventListener("change", (e) => {
        bundled.setCodeLangPreference(e.target.value)
        let lang = bundled.languages[e.target.value]
        if (lang !== null) {
            cm.setOption("mode", lang)
        }
    })

    async function sendSub() {
        let form = new FormData();
        form.set("problem_id", problemID);
        form.set("language", document.getElementById("sub_language").value)

        if(document.getElementById("submit_style").value == "code") {
            const code = cm.getValue().trim()
            if(code.length == 0) {
                bundled.apiToast({status: "error", data: bundled.getText("no_code")})
                return;
            }
            form.set("code", new File([code], "code", {type: "text/plain;charset=utf-8"}));
        } else {
            const fInput = document.getElementById("submit_file");
            if(fInput.files.length > 1) {
                bundled.apiToast({status: "error", data: bundled.getText("invalid_file")})
                return
            } else if(fInput.files.length == 0) {
                bundled.apiToast({status: "error", data: bundled.getText("no_code")})
                return
            }
            form.set("code", fInput.files[0]);
        }

        if(document.getElementById("sub_contestid").value !== "-1") {
            const val = parseInt(document.getElementById("sub_contestid").value);
            if(isNaN(val)) {
                console.warn("Submission form's contest ID is not a number")
            } else {
                form.set("contest_id", val);
            }
        }

        let res = await bundled.multipartCall("/submissions/submit", form)
        if (res.status == "error") {
            bundled.apiToast(res)
            return
        }
        bundled.createToast({ title: bundled.getText("uploaded"), description: `<a href="/submissions/${res.data}">${bundled.getText("view")}</btn>` })
        console.log(res.data, bundled.makeSubWaiter(res.data));
        document.dispatchEvent(new CustomEvent("kn-poll"));
    }

    let oldContestID = "";

    function reloadRemainingAttempts() {
        let contestID = document.getElementById("sub_contestid").value
        let attemptsLabel = document.getElementById("submit_attempts_label");
        let attemptsText = document.getElementById("submit_attempts");
        if(oldContestID != contestID) {
            attemptsText.innerText = bundled.getText("loading")
        }
        attemptsLabel.classList.toggle("hidden", contestID == "-1");
        if( contestID!= "-1") {
            bundled.getCall(`/contest/${contestID}/problemRemainingCount`).then(rez => {
                if(rez.status == "error") {
                    bundled.apiToast(rez)
                    return
                }
                if(problemID in rez.data.counts) {
                    let pb = rez.data.counts[problemID];
                    if(!pb.limited) {
                        attemptsText.innerText = bundled.getText("unlimitedAttempts")
                    } else {
                        attemptsText.innerText = Math.max(pb.remaining, 0);
                    }
                } else {
                    attemptsText.innerText = "N/A"
                }
                oldContestID = contestID
            })
        } else {
            oldContestID = contestID
        }
    }

    {{if $initiallyContest}}
    reloadRemainingAttempts()
    {{end}}

    document.getElementById("sub_contestid").addEventListener("change", (e) => {
        reloadRemainingAttempts();
    })
    document.addEventListener("kn-poll", () => {
        reloadRemainingAttempts();
    })

    const debounced = bundled.debounce(() => sendSub().catch(console.error), 400, {leading: true, trailing: false})

    // send submission on ctrl + enter
    document.body.addEventListener('keydown', (event) => {
        if(event.key === "Enter" && (event.metaKey || event.ctrlKey)) {
            debounced()
        }
    });

    document.getElementById("sendSubForm").addEventListener("submit", (e) => {
        e.preventDefault();
        debounced()
    })

</script>
