{{define "problemlist_show"}}
{{ with .Pblist }}
    <details class="list-group-head" {{if $.Open}}open{{end}}>
        <summary class="pb-1 mt-1">
			<span>{{.Title}} <a href="/problem_lists/{{.ID}}">(#{{.ID}})</a></span>
            {{if gt (.NumProblems) 0}}
                {{if authed}}
                <span class="float-right badge">
                    {{ getText "num_solved" (numSolvedPblist .ID) (.NumProblems) }}
                </span>
                {{else}}
                <span class="float-right badge">
                    {{ if eq 1 (.NumProblems)}}
                        {{ getText "single_problem" }}
                    {{ else }}
                        {{ getText "num_problems" (.NumProblems) }}
                    {{ end }}
                </span>
                {{end}}
            {{end}}
        </summary>
        {{ if .Description }}
            <div class="list-group mt-2">
                <div class="list-group-head statement-content">{{renderMarkdown .Description}}</div>
            </div>
        {{end}}
        {{ with .SubLists }}
            <div class="list-group mt-2">
                {{ range . }}
                    <details class="list-group-head" hx-get="/problem_lists/{{.ID}}" hx-swap="outerHTML" hx-trigger="toggle once">
                        <summary class="pb-1 mt-1">
                            <span>{{.Title}} <a href="/problem_lists/{{.ID}}">(#{{.ID}})</a></span>
                            {{if gt (.NumProblems) 0}}
                                {{if authed}}
                                <span class="float-right badge">
                                    {{ getText "num_solved" (numSolvedPblist .ID) (.NumProblems) }}
                                </span>
                                {{else}}
                                <span class="float-right badge">
                                    {{ if eq 1 (.NumProblems)}}
                                        {{ getText "single_problem" }}
                                    {{ else }}
                                        {{ getText "num_problems" (.NumProblems) }}
                                    {{ end }}
                                </span>
                                {{end}}
                            {{end}}
                        </summary>
                        <noscript><a href="/problem_lists/{{.ID}}">{{getText "sublist_noscript"}}</a> </noscript>
                        <div class="text-4xl mx-auto w-full my-10 text-center">
                            <div>
                                <i class="fas fa-spinner animate-spin"></i> {{getText "loading"}}
                            </div>
                        </div>
                    </details>
                {{ end }}
            </div>
        {{ end }}
        {{$listID := .ID}}
        {{ with (listProblems authedUser .) }}
            <div class="mt-2">
                {{ template "pb_list_group" (genListProblemsParams . true $listID) }}
            </div>
        {{ end }}
    </details>
{{end}}
{{end}}
