{{define "problemlist_show"}}
{{ $open := .Open }}
{{ with .Pblist }}
    <details class="list-group-head" {{if $open}}open{{end}}>
        <summary class="pb-1 mt-1">
			<span>{{.Title}} <a href="/problem_lists/{{.ID}}">(#{{.ID}})</a></span>
            {{if gt (.NumProblems) 0}}
                {{if authed}}
                <span class="float-right badge">
                    {{ getText "num_solved" (numSolvedPblist .ID) (.NumProblems) }}
                </span>
                {{else}}
                <span class="float-right badge">
                    {{ if eq 1 (.NumProblems)}}
                        {{ getText "single_problem" }}
                    {{ else }}
                        {{ getText "num_problems" (.NumProblems) }}
                    {{ end }}
                </span>
                {{end}}
            {{end}}
        </summary>
        {{ if .Description }}
            <div class="list-group mt-2">
                <div class="list-group-head">{{renderMarkdown .Description}}</div>
            </div>
        {{end}}
        {{ with .SubLists }}
            <div class="list-group mt-2">
                {{ range . }}
                    <kn-dom-sublist encoded="{{encodeJSON .}}" {{if authed}}numsolved="{{numSolvedPblist .ID}}"{{end}}></kn-dom-sublist>
                {{ end }}
            </div>
        {{ end }}
        {{ with (listProblems authedUser .) }}
            <div class="mt-2">
                {{ template "pb_list_group" (genProblemsParams . true true) }}
            </div>
        {{ end }}
    </details>
{{end}}
{{end}}
