{{ define "pb_list_group" }}
{{ $user := .User }}
{{ $lang := .Language }}
<div class="list-group list-group-mini">
	{{ range .Problems }}
		<a href="/problems/{{.ID}}" class="list-group-item flex justify-between">
			<span>#{{.ID}}: {{.Name}}</span>
			{{ if $user }}
				<div>
					{{ if (or $user.Admin (eq $user.ID .AuthorID)) }}
						{{ if .Visible }}
							<span class="badge-lg bg-green-700">{{ getText $lang "published" }}</span>
						{{ else }}
							<span class="badge-lg bg-red-700">{{ getText $lang "unpublished" }}</span>
						{{ end }}
					{{ end }}
					<span class="badge-lg bg-teal-700">{{ subScore . $user }}</span>
				</div>
			{{ end }}
		</a>
	{{ end }}
</div>
{{ end }}
