{{ define "pb_list_group" }}
{{ $user := authedUser }}
{{ $showScore := .ShowScore }}
{{ $scoreUser := .ScoreUser }}
{{ $contestIDScore := .ContestIDScore }}
<div class="list-group grid grid-cols-1 {{if .MultiCols }} md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 {{end}}">
	{{ range .Problems }}
		<a href="/{{if not (eq $contestIDScore -1)}}contests/{{$contestIDScore}}/{{end}}problems/{{.ID}}" class="list-group-item flex justify-between">
			<span>{{.Name}} (#{{.ID}})</span>
            <div>
			    {{- if $user -}}
					{{ if (problemEditor .) }}
						{{- if .Visible }}
							<span class="badge badge-green">{{ getText "published" }}</span>
						{{- else -}}
							<span class="badge badge-red">{{ getText "unpublished" }}</span>
						{{- end -}}
					{{ end }}
                {{- end -}}
                {{- if $scoreUser -}}
                    {{ if $showScore }}
                        {{ if (eq $contestIDScore -1) }}
					        <span class="badge">{{ subScore . $scoreUser }}</span>
                        {{ else }}
                            <span class="badge">{{ contestSubScore . $scoreUser $contestIDScore }}</span>
                        {{ end }}
                    {{ end }}
                {{- end }}
            </div>
		</a>
	{{ end }}
</div>
{{ end }}
