{{ define "pb_list_group" }}
{{ $user := .User }}
{{ $lang := .Language }}
{{ $showScore := .ShowScore }}
<div class="list-group list-group-mini">
	{{ range .Problems }}
		<a href="/problems/{{.ID}}" class="list-group-item flex justify-between">
			<span>{{.Name}} (#{{.ID}})</span>
			{{ if $user }}
				<div>
					{{ if (problemEditor $user .) }}
						{{ if .Visible }}
							<span class="badge badge-green">{{ getText $lang "published" }}</span>
						{{ else }}
							<span class="badge badge-red">{{ getText $lang "unpublished" }}</span>
						{{ end }}
					{{ end }}
                    {{ if $showScore }}
					    <span class="badge">{{ subScore . $user }}</span>
                    {{ end }}
                </div>
			{{ end }}
		</a>
	{{ end }}
</div>
{{ end }}
