{{define "title"}}{{getText "manage_sessions"}}{{if .ContentUser}}: {{.ContentUser.Name}}{{end}} {{end}}
{{define "content"}}

<p class="text-muted text-sm">{{getText "session_mgmt_wip"}}</p>

<div class="segment-panel">
    <h1>{{getText "manage_sessions"}}</h1>

    {{if gt .NumPages 1}}
    <div id="session_paginator"></div>
    <script>
        const page = {{.Page}};
        const numpages = {{.NumPages}};
        bundled.preactRender(bundled.Paginator({page, numpages, setPage: (page) => {
            const params = new URLSearchParams(window.location.search)
            params.set("page", page)
            window.location.search = params.toString()
        }}), document.getElementById("session_paginator"))
    </script>
    {{end}}

    {{range .Sessions}}
    <div class="segment-panel reset-list">
        <ul>
            {{if isAdmin}}
            <li>{{getText "id"}}: <code>{{.ID}}</code></li>
            {{end}}
            <li>{{getText "created_at"}}: <span class="server_timestamp">{{.CreatedAt.UnixMilli}}</span></li>
            <li>{{getText "expires_at"}}: <span class="server_timestamp">{{.ExpiresAt.UnixMilli}}</span></li>
            <li>{{getText "expired"}}: {{.Expired}}</li>
            {{if isAdmin}}
            {{if not $.ContentUser}}
                {{with user .UserID}}
                <li>
                    {{getText "username"}}: <a href="/profile/{{.Name}}">{{.Name}} (#{{.ID}})</a>
                </li>
                {{end}}
            {{end}}
            {{with sessionDevices .ID}}
            <li>
                {{getText "session_devices"}}:
                <ul>
                    {{range .}}
                    <li>{{with .IPAddr}}
                            {{.String}}
                            {{with ipData . }}
                            {{if or .City .Country}}
                            ({{with .City}}{{.}},{{end}}{{with .Country}} {{.}}{{end}})
                            {{end}}
                            {{end}}
                        {{end}} 
                        {{if .UserAgent}}
                            (<code>{{.UserAgent}}</code>)
                        {{end}}
                    </li>
                    {{end}}
                </ul>  
            </li>
            {{end}}
            {{end}}
        </ul>
    </div>
    {{end}}

</div>

{{end}}