{{ define "title" }} {{getText "auth.signup"}} {{ end }}

{{ define "content_signup_disabled" }}
<h1>{{getText "disabled_signup"}}</h1>
{{ end }}

{{ define "content_signup_enabled" }}
<h1 class="mb-2">{{getText "auth.signup"}}</h1>
<form class="segment-container" id="signup_form" autocomplete="off">
	<label class="block mb-2">
		<span>{{getText "email"}}</span>
		<input class="form-input w-full" type="email" id="email" name="email" autocomplete="email" required />
	</label>
	<label class="block mb-2">
		<span>{{getText "username"}}</span>
		<input class="form-input w-full" type="text" id="name" name="username" autocomplete="username" required />
	</label>
	<label class="block mb-2">
		<span>{{getText "password"}}</span>
		<input class="form-input w-full" type="password" id="pwd" name="password" autocomplete="new-password" required />
	</label>
	<label class="block mb-2">
		<span>{{getText "passwordCheck"}}</span>
		<input class="form-input w-full" type="password" id="pwd_check" name="pwd_check" autocomplete="new-password" required />
	</label>
    <label class="block mb-2">
		<span>{{getText "displayLang"}}</span>
        <select id="langSelect" name="langSelect" class="form-select w-full">
			<option value="ro" {{if eq language "ro" }}selected{{end}}>🇷🇴 Română</option>
			<option value="en" {{if eq language "en" }}selected{{end}}>🇬🇧 English</option>
		</select>
    </label>
	<button type="submit" class="block btn btn-blue">{{getText "auth.signup"}}</button>
	<p class="text-gray-500 dark:text-gray-300"> {{getText "loginReminder"}}</p>
</form>

<script>
let email = document.querySelector("#signup_form #email")
let username = document.querySelector("#signup_form #name")
let pwd = document.querySelector("#signup_form #pwd")
let pwd_check = document.querySelector("#signup_form #pwd_check")
let langSelect = document.querySelector("#signup_form #langSelect")
function updateCheck() {
	let pval = pwd.value;
	let cval = pwd_check.value;
	if(cval == "" || pval == "") {
		pwd_check.classList.remove("is-valid", "is-invalid")
	} else {
		pwd_check.classList.toggle("is-valid", pval === cval)
		pwd_check.classList.toggle("is-invalid", pval !== cval)
		pwd.classList.toggle("is-valid", pval === cval)
		pwd.classList.toggle("is-invalid", pval !== cval)
	}
}
pwd.addEventListener("focusout", updateCheck)
pwd_check.addEventListener("keyup", updateCheck)

async function signup(e) {
	e.preventDefault()
	let em = email.value;
	let name = username.value;
	let password = pwd.value;
    let lang = langSelect.value;
	
	let pwdVerify = pwd_check.value;
	if(password !== pwdVerify) {
		bundled.createToast({
			status: "error",
			title: '{{getText "differentPwds"}}'
		})
		return
	}

	let res = await bundled.postCall("/auth/signup", {email: em, username: name, password, language: lang})
	if(res.status == "error") {
		bundled.apiToast(res)
		return
	}
    bundled.clearLanguageCookie()
    bundled.setSession(res.data)
	window.location.assign("/");
}
document.getElementById("signup_form").addEventListener("submit", signup)
</script>
{{ end }}




{{ define "content" }}
    {{ if not signupEnabled }}
        {{ template "content_signup_disabled" .}}    
    {{ else }}
        {{ template "content_signup_enabled" .}}    
    {{ end }}
{{ end }}
