{{ define "title" }} {{getText "auth.signup"}} {{ end }}

{{ define "head"}}
<link rel="canonical" href='{{formatCanonical "/signup"}}'>
{{ end }}

{{ define "content_signup_disabled" }}
<h1>{{getText "disabled_signup"}}</h1>
{{ end }}

{{ define "content_signup_enabled" }}
<div class="flex items-center justify-center min-h-screen">
    <div style="width: 500px;">
        <form class="segment-panel" id="signup_form">
            <h1 class="mb-2">{{getText "auth.signup"}}</h1>
            <label class="block mb-2">
                <span>{{getText "email"}}</span>
                <input class="form-input w-full" type="email" id="email" name="email" autocomplete="email" required />
            </label>
            <label class="block mb-2">
                <span>{{getText "username"}}</span>
                <input class="form-input w-full" type="text" id="name" name="username" minlength="3" maxlength="24" autocomplete="username" required />
            </label>
            <label class="block mb-2">
                <span>{{getText "password"}}</span>
                <input class="form-input w-full" type="password" id="pwd" name="password" minlength="6" maxlength="72" autocomplete="new-password" required />
            </label>
            <label class="block mb-2">
                <span>{{getText "passwordCheck"}}</span>
                <input class="form-input w-full" type="password" id="pwd_check" name="pwd_check" minlength="6" maxlength="72" autocomplete="new-password" required />
            </label>
            <label class="block mb-2">
                <span>{{getText "displayLang"}}</span>
                <select id="langSelect" name="langSelect" class="form-select w-full">
                    <option value="ro" {{if eq language "ro" }}selected{{end}}>🇷🇴 Română</option>
                    <option value="en" {{if eq language "en" }}selected{{end}}>🇬🇧 English</option>
                </select>
            </label>

            {{if boolFlag "feature.captcha.enabled"}}
            {{$captcha := getCaptchaID}}
            <div id="captcha_container" class="segment-panel" {{if not mustSolveCaptcha}} style="display: none;"{{end}}>
                <p>
                    {{getText "auth.captcha.title"}}:<br/>
                    <img id="captcha_img" class="rounded-sm" src="/api/auth/captcha/{{$captcha}}.png" alt="Captcha image" width="240" height="80" style="background-color: white;" />
                </p>
                <input type="hidden" id="captcha_id" value="{{$captcha}}" />
                <label class="block my-2">
                    <span>{{getText "response"}}</span>
                    <input type="text" id="captcha_response" class="form-input w-full" pattern="[0-9]*" value="" autocomplete="off" />
                </label>
                <button id="captcha_reload_btn" class="btn btn-blue" type="button"><i class="fas fa-fw fa-rotate"></i> {{getText "reload"}}</button>
            </div>
            <script>
                function reloadCaptcha() {
                    document.getElementById("captcha_img").src = `/api/auth/captcha/${document.getElementById("captcha_id").value}.png?reload=${bundled.dayjs().valueOf()}`
                }
                document.getElementById("captcha_reload_btn").addEventListener("click", reloadCaptcha)
                function resetCaptcha(newID) {
                    document.getElementById("captcha_container").style.display = "block"
                    document.getElementById("captcha_id").value = newID
                    document.getElementById("captcha_response").value = ""
                    reloadCaptcha()
                }
                function getCaptchaData() {
                    return {captcha_id: document.getElementById("captcha_id").value, captcha_response: document.getElementById("captcha_response").value}
                }
            </script>
            {{else}}
            <script>
                function resetCaptcha() {
                    // CAPTCHA module not loaded in, prompt a page reload
                    window.location.reload();
                }
                function getCaptchaData() {
                    return {captcha_id: "", captcha_response: ""}
                }
            </script>
            {{end}}

            <button type="submit" class="block btn btn-blue">{{getText "auth.signup"}}</button>
            <p class="text-gray-500 dark:text-gray-300"> {{getText "loginReminder" | safeHTML}}</p>
        </form>
    </div>
</div>

<script>
let pwd = document.querySelector("#signup_form #pwd")
let pwd_check = document.querySelector("#signup_form #pwd_check")
function updateCheck() {
	let pval = pwd.value;
	let cval = pwd_check.value;
	if(cval == "" || pval == "") {
		pwd_check.classList.remove("is-valid", "is-invalid")
	} else {
		pwd_check.classList.toggle("is-valid", pval === cval)
		pwd_check.classList.toggle("is-invalid", pval !== cval)
		pwd.classList.toggle("is-valid", pval === cval)
		pwd.classList.toggle("is-invalid", pval !== cval)
	}
}
pwd.addEventListener("focusout", updateCheck)
pwd_check.addEventListener("keyup", updateCheck)

async function signup(e) {
	e.preventDefault()
    let data = {
        email: document.querySelector("#signup_form #email").value,
        username: document.querySelector("#signup_form #name").value,

        password: pwd.value,

        language: document.querySelector("#signup_form #langSelect").value,

        ...getCaptchaData()
    }
	
	if(pwd.value !== pwd_check.value) {
		bundled.createToast({
			status: "error",
			title: bundled.getText("differentPwds")
		})
		return
	}

	let res = await bundled.postCall("/auth/signup", data)
	if(res.status == "error") {
        if(typeof res.data === "object") {
            resetCaptcha(res.data.captcha_id)
            if(res.data.hasOwnProperty("translation_key")) {
                bundled.apiToast({"status": "error", "data": bundled.getText(res.data.translation_key)})
            } else {
                bundled.apiToast({"status": "error", "data": res.data.text})
            }
        } else {
            bundled.apiToast(res)
        }
		return
	}
    bundled.clearLanguageCookie()
    bundled.setSession(res.data)
    bundled.navigateBack()
}
document.getElementById("signup_form").addEventListener("submit", signup)
</script>
{{ end }}




{{ define "content" }}
    {{ if not (boolFlag "feature.platform.signup") }}
        {{ template "content_signup_disabled" .}}    
    {{ else }}
        {{ template "content_signup_enabled" .}}    
    {{ end }}
{{ end }}
