{{ template "util/header" . }}

<div class="container">
	<div id="changelog-content"></div>
	<script>
		$("#changelog-content").html(md.render({{ .Changelog }}))
	</script>
</div>

{{ template "util/footer" . }}
