{{ define "title" }} {{getText "title.edit.access_control" .Problem.ID .Problem.Name}} {{ end }}
{{ define "content" }}

{{ template "topbar.html" . }}

<div class="page-holder">
    <div class="page-content-wrapper">
        <div class="segment-panel">
            <h2>{{getText "header.edit.access_control"}}</h2>
            
            <h3>{{getText "editors"}}:</h3>
            <div id="editors_list" class="list-group mb-2">
                <div class="list-group-head">
                    {{getText "loading"}}
                </div>
            </div>
            <h3>{{getText "viewers"}}:</h3>
            <div id="viewers_list" class="list-group mb-2">
                <div class="list-group-head">
                    {{getText "loading"}}
                </div>
            </div>
        </div>
    </div>
    <aside class="page-sidebar">
        <div class="segment-panel">
            <h2>{{getText "add_user"}}</h2>
            <label class="block">
                <span class="form-label">{{getText "username"}}:</span>
                <input class="form-input my-1 block" type="text" id="userToAdd" placeholder="AlexVasiluta" autocomplete="off">
            </label>
            <div class="mt-2 mb-2 inline-flex">
                <button type="button" class="btn-blue font-bold py-2 px-4 rounded-l-sm" onclick="addEditor()">{{getText
                    "add_editor"}}</button>
                <button type="button" class="btn-blue font-bold py-2 px-4 rounded-r-sm" onclick="addViewer()">{{getText
                    "add_viewer"}}</button>
            </div>
        </div>

    </aside>
</div>

<script>
    const problem_id = {{ .Problem.ID }};

    async function addEditor() {
        const username = document.getElementById('userToAdd').value;
        let res = await bundled.postCall(`/problem/${problem_id}/update/addEditor`, { username: username })
        bundled.apiToast(res)
        await loadView();
    }

    async function addViewer() {
        const username = document.getElementById('userToAdd').value;
        let res = await bundled.postCall(`/problem/${problem_id}/update/addViewer`, { username: username })
        bundled.apiToast(res)
        await loadView();
    }

    async function stripAccess(id) {
        let res = await bundled.postCall(`/problem/${problem_id}/update/stripAccess`, { user_id: id })
        bundled.apiToast(res)
        await loadView();
    }

    async function loadProblem() {
        const res = await bundled.getCall(`/problem/${problem_id}/get/accessControl`, {});
        if (res.status === "error") {
            bundled.apiToast(res)
            return
        }
        return res.data
    }

    async function loadUsers(users, id) {
        console.log(id, document.getElementById(id))
        //document.getElementById(id).innerHTML = `<div class="list-group-head">${bundled.getText("loading")}</div>`
        let outhtml = ""
        if (users.length == 0) {
            outhtml += `<div class="list-group-head">No users</div>`
        }
        for (let user of users) {
            outhtml += `
            <div class="list-group-item flex justify-between items-center">
                <a href="/profile/${user.name}">
                    <img class="rounded-sm inline-block mr-2" src="/api/user/byName/${user.name}/avatar?s=32" width="32" height="32" alt="Avatar"/>
                    ${user.name}
                </a>
                ${user.id != window.platform_info.user_id ? `<span style="cursor: pointer;" onclick="stripAccess(${user.id})">X</span>` : ''}
            </div>`
        }
        document.getElementById(id).innerHTML = outhtml
    }

    async function loadView() {
        const data = await loadProblem();
        loadUsers(data.editors, 'editors_list')
        loadUsers(data.viewers, 'viewers_list')
    }

    document.addEventListener("DOMContentLoaded", () => loadView());

</script>


{{ end }}