{{ define "title" }} {{getText "title.edit.index" .Problem.ID .Problem.Name}} {{end}}
{{ define "boolean_expression"}}{{if .}}<span class="text-lg">✅</span>{{else}}<span class="text-lg">❌</span>{{end}}{{ end }}
{{ define "content" }}
{{ template "topbar.html" . }}

<div class="page-holder">
    <div class="page-content-wrapper">
        <div class="segment-panel">
            <h2>{{ getText "header.edit.index" }}</h2>
            <form id="updateProblemForm" autocomplete="off">
                <label class="block my-2">
                    <span class="form-label">{{getText "title"}}:</span>
                    <input id="problemName" class="form-input" type="text" value="{{.Problem.Name}}" />
                </label>
                <label class="block my-2">{{getText "author_moved"}}</label>
                <label class="block my-2">
                    <span class="form-label">{{getText "source"}}:</span>
                    <input id="sourceCredits" class="form-input" type="text" value="{{.Problem.SourceCredits}}" />
                </label>
                <label class="block my-2">
                    <input id="consoleInput" class="form-checkbox" type="checkbox" {{if .Problem.ConsoleInput}} checked {{ end }}>
                    <span class="form-label ml-2">{{getText "consoleInput"}}</span>
                </label>
                <label class="block my-2">
                    <span class="form-label">{{getText "scoring_strategy"}}:</span>
                    <select id="scoring_strategy" class="form-select">
                        <option value="max_submission" {{if eq .Problem.ScoringStrategy `max_submission`}}selected{{end}}>{{getText "max_submission_strat"}}</option>
                        <option value="sum_subtasks" {{if eq .Problem.ScoringStrategy `sum_subtasks`}}selected{{end}}>{{getText "sum_subtasks_strat"}}</option>
                        <option value="acm-icpc" {{if eq .Problem.ScoringStrategy `acm-icpc`}}selected{{end}}>{{getText "acm_icpc_strat"}}</option>
                    </select>
                </label>
                <label class="block my-2">
                    <span class="form-label">{{getText "testName"}}:</span>
                    <input id="testName" class="form-input" type="text" value="{{.Problem.TestName}}" />
                </label>
                <label class="block my-2">
                    <span class="form-label">{{getText "memoryLimit"}}:</span>
                    <input id="memoryLimit" type="number" class="form-input" placeholder="Limită de memorie (total)" min="0"
                        step="0.1" max="{{maxMemMB}}" pattern="[\d]*" value="{{KBtoMB .Problem.MemoryLimit}}">
                    <span class="ml-1 text-xl">MB</span>
                </label>
                <label class="block my-2">
                    <span class="form-label">{{getText "timeLimit"}}:</span>
                    <input id="timeLimit" type="number" class="form-input" placeholder="Limită de timp..." min="0"
                        step="0.01" pattern="[\d]*" value="{{.Problem.TimeLimit}}">
                    <span class="ml-1 text-xl">{{getText "seconds"}}</span>
                </label>
                <label class="block my-2">
                    <span class="form-label">{{getText "scorePrecision"}}:</span>
                    <input id="scorePrecision" class="form-input" type="number" min="0" max="4" step="1" pattern="[\d]*"
                        value="{{.Problem.ScorePrecision}}" />
                </label>

                <details>
                    <summary>
                        {{getText "advancedOptions"}}
                    </summary>
                    <label class="block my-2">
                        <span class="form-label">{{getText "defaultPoints"}}:</span>
                        <input id="defaultPoints" class="form-input" type="number" min="0" max="100" step="{{scoreStep .Problem}}" pattern="[\d]*\.?[\d]*"
                            value="{{.Problem.DefaultPoints}}" />
                    </label>
                    <label class="block my-2">
                        <span class="form-label">{{getText "scoreScale"}}:</span>
                        <input id="scoreScale" class="form-input" type="number" min="0" max="10000" step="1" pattern="[\d]*\.?[\d]*"
                            value="{{.Problem.ScoreScale}}" />
                    </label>
                    <label class="block my-2">
                        <span class="form-label">{{getText "sourceSize"}}:</span>
                        <!--2MB should be a healthy upper limit-->
                        <input id="sourceSize" class="form-input" type="number" min="100" max="2000000" step="1" pattern="[\d]*" 
                            value="{{.Problem.SourceSize}}" />
                        <span class="ml-1 text-xl">Bytes</span>
                    </label>
                </details>

                <label class="block my-2">
                    <input id="visibleTests" class="form-checkbox" type="checkbox" {{if .Problem.VisibleTests}}checked{{end}}>
                    <span class="form-label ml-2">{{getText "visibleTests"}}</span>
                </label>
                <button type="submit" class="btn btn-blue">{{getText "updateProblem"}}</button>
            </form>
            <div class="block my-2">
                <button type="button" id="deleteProblemButton" class="btn btn-red mr-2">{{getText "deleteProblem"}}</button>
            </div>
        </div>
        <div class="segment-panel">
            <h2 class="mb-0">{{getText "problem_tags"}}</h2>
            <p class="text-sm text-muted mb-2">{{getText "problem_tags_explainer"}}</p>
            <kn-pb-tag-edit enc="{{problemTags .Problem | encodeJSON}}" pbid="{{.Problem.ID}}"></kn-pb-tag-edit>
        </div>
        <div class="segment-panel reset-list">
            <h2>{{getText "problem_checklist"}}</h2>
            
            <h3>{{getText "checklist_required"}}:</h3>
            <ul>
                <li>
                    {{template "boolean_expression" (ne .Checklist.NumMarkdown 0)}} {{getText "checklist_md"}};
                </li>
                <li>
                    {{template "boolean_expression" (ne .Checklist.NumTests 0)}} {{getText "checklist_tests" .Checklist.NumTests}};
                </li>
                <li>
                    {{template "boolean_expression" (ne .Checklist.NumAuthorTags 0)}} {{getText "checklist_author_tags"}};
                </li>
                <li>
                    {{template "boolean_expression" (ne .Checklist.NumSolutions 0)}} {{getText "checklist_solutions"}}.
                </li>
            </ul>

            <h3>{{getText "checklist_contest_required"}}:</h3>
            <ul>
                <li>
                    {{template "boolean_expression" (ne .Checklist.NumPDF 0)}} {{getText "checklist_pdf"}}.
                </li>
            </ul>

            <h3>{{getText "checklist_optional"}}:</h3>
            <ul>
                <li>
                    {{template "boolean_expression" (ne .Checklist.NumSubtasks 0)}} {{getText "checklist_subtasks" .Checklist.NumSubtasks}}.
                </li>
                <li>
                    {{template "boolean_expression" (ne .Checklist.NumOtherTags 0)}} {{getText "checklist_other_tags"}};
                </li>
            </ul>

            <form class="segment-panel" id="visibility_form" autocomplete="off">
                <h2>{{getText "toggle_visibility"}}</h2>
                {{ if not isAdmin }}
                <h3>{{getText "visibility_admin"}}</h3>
                {{ end }}
                <div class="block my-2">
                    <label class="inline-flex items-center text-lg">
                        <input class="form-checkbox" type="checkbox" id="visibility_check" {{if not isAdmin}}disabled{{end}} {{if .Problem.Visible}}checked{{end}}>
                        <span class="ml-2">{{getText "visible"}}</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-blue" {{if not isAdmin}} disabled {{ end }}>{{getText
                    "button.update"}}</button>
            </form>
        </div>
        <script>
            let problem = {{.Problem }};
            async function updateVisibility(e) {
                e.preventDefault();
                const visible = document.getElementById("visibility_check").checked
                let res = await bundled.postCall(`/problem/${problem.id}/update/`, { visible })
                bundled.apiToast(res)
            }
            document.getElementById("visibility_form").addEventListener("submit", updateVisibility)
        </script>
    </div>
    <div class="page-sidebar">
        <div class="segment-panel reset-list">
            {{with problemSettings .Problem.ID}}
            <h3>Pe baza atașamentelor, aceste informații vor fi transmise evaluatorului:</h3>
            <ul>
                <li>Limbaje permise: {{with .LanguageWhitelist}}[{{stringList .}}]{{else}}Toate{{end}}</li>
                <li>Checker: {{if (ne (len .CheckerName) 0)}}Custom (este executat {{.CheckerName}}){{else}}Clasic/Default
                    (verifică conținutul fișierului de ieșire){{end}}</li>
                <li>Fișiere extra incluse: {{with .HeaderFiles}}{{stringList .}}{{else}}N/A{{end}}</li>
                <li>Fișiere grader: {{with .GraderFiles}}{{stringList .}}{{else}}N/A{{end}}</li>
            </ul>
            {{end}}
            <button class="btn btn-red mt-2" onclick="reevaluateSubs()">Reevaluare submisii</button>
        </div>
        {{with stringFlag "integrations.openai.token"}}
        <div class="segment-panel">
            <h3>{{getText "experimentalZone"}}</h3>
            <button class="btn btn-blue" onclick="translateStatement()">{{getText "translateStatement"}}</button>
            <script>
                async function translateStatement() {
                    if(!(await bundled.confirm(bundled.getText("translateStatementWarning")))) {
                        return
                    }
                    let res = await bundled.postCall(`/problem/${problem.id}/update/translateStatement`, {})
                    bundled.apiToast(res)
                }
            </script>
        </div>
        {{end}}
    </div>
</div>


<script>

    async function reevaluateSubs() {
        if (!(await bundled.confirm(bundled.getText("confirmSubReevaluate")))) {
            return
        }
        let res = await bundled.postCall(`/problem/${problem.id}/reevaluateSubs`, {})
        bundled.apiToast(res)
    }

    async function updateProblem(e) {
        e.preventDefault();
        const data = {
            name: document.getElementById("problemName").value,
            source_credits: document.getElementById("sourceCredits").value,
            console_input: document.getElementById("consoleInput").checked,
            scoring_strategy: document.getElementById("scoring_strategy").value,
            test_name: document.getElementById("testName").value,
            memory_limit: Math.trunc(parseFloat(document.getElementById("memoryLimit").value) * 1024),
            time_limit: parseFloat(document.getElementById("timeLimit").value),
            default_points: parseFloat(document.getElementById("defaultPoints").value),
            score_scale: parseFloat(document.getElementById("scoreScale").value),
            source_size: parseFloat(document.getElementById("sourceSize").value),
            score_precision: parseInt(document.getElementById("scorePrecision").value),
            visible_tests: document.getElementById("visibleTests").checked,
        }

        if (data.name === "") {
            bundled.createToast({ status: "error", description: bundled.getText("emptyTitle") });
            return
        }
        bundled.apiToast(await bundled.postCall(`/problem/${problem.id}/update/`, data));
    }

    document.getElementById("scorePrecision").addEventListener("change", e => {
        document.getElementById("defaultPoints").step = Math.pow(10, -e.currentTarget.value)
    })

    async function deleteProblem(e) {
        e.preventDefault();
        if (!(await bundled.confirm(bundled.getText("confirmProblemDelete")))) {
            return
        }
        let res = await bundled.postCall(`/problem/${problem.id}/delete`, {})
        if (res.status === "success") {
            window.location.assign("/");
            return
        }
        bundled.apiToast(res)
    }

    document.getElementById("updateProblemForm").addEventListener("submit", updateProblem);
    document.getElementById("deleteProblemButton").addEventListener("click", deleteProblem);

    document.getElementById("testName").disabled = document.getElementById("consoleInput").checked;
    document.getElementById("consoleInput").addEventListener("change", (e) => {
        document.getElementById("testName").disabled = document.getElementById("consoleInput").checked;
    });
</script>
{{ end }}
