{{ define "title" }}{{getText "title.edit.subtask_edit" .SubTask.VisibleID .Problem.ID .Problem.Name}}{{ end }}
{{ define "content" }}
{{ template "topbar.html" . }}

{{ $root := . }}

<div class="page-holder no-bottom-border">
    {{ template "subtaskSidebar.html" . }}
    <div class="page-content">
        <form id="subtask-update">
            <h2> {{getText "header.edit.subtask_edit" .SubTask.VisibleID}} </h2>
            {{ if not (len .SubTask.Tests) }} {{getText "warning.emptySubTask"}} {{ end }}
        
            {{ with problemTests .Problem }}
                <label class="block my-2">
                    <span class="form-label">{{getText "id"}}: </span>
                    <input class="form-input" id="subtask-id" type="number" min="0" value="{{$root.SubTask.VisibleID}}" autocomplete="off">
                </label>
                <label class="block my-2">
                    <span class="form-label">{{getText "score"}}: </span>
                    <input class="form-input" id="subtask-score" type="number" min="0" max="100" value="{{$root.SubTask.Score}}" autocomplete="off">
                </label>
                <table class="kn-table my-2" style="table-layout: fixed">
                    <thead>
                        <th scope="col" class="w-1/2">
                            <input class="form-checkbox" type="checkbox" id="selectAllBox" />
                        </th>
                        <td scope="col" class="w-1/2 text-center px-4 py-2">
                            {{getText "testID"}}
                        </td>
                    </thead>
                    <tbody>
                    {{ range . }}
                        <tr id="row-test-{{.VisibleID}}" class="kn-table-row">
                            <td class="kn-table-cell">
                                <input class="form-checkbox" type="checkbox" id="pb-test-{{.VisibleID}}" autocomplete="off" {{if $root.TestInSubTask .}}checked{{end}}>
                            </td>
                            <td class="kn-table-cell">
                                {{.VisibleID}}
                            </td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
                <button class="btn btn-blue block my-2" type="submit">{{getText "button.update"}}</button>
            {{ else }}
                <h3> {{getText "noTestsError"}} </h3>
            {{ end }}
        </form>
    </div>
</div>


<script>
var pbid = {{.Problem.ID}}, rowreg = /row-test-([0-9]+)/;
const pref = {{.Topbar.URLPrefix}};

const mgr = new bundled.CheckboxManager(document.getElementById("selectAllBox"), document.querySelectorAll("[id^='pb-test-']"))

async function updateSubTask(e) {
	e.preventDefault();
	let data = {
		subtask_id: {{.SubTask.VisibleID}},
		new_id: parseInt(document.getElementById('subtask-id').value),
		score: parseInt(document.getElementById('subtask-score').value),
		tests: []
	};
	
	if(isNaN(data.new_id) || isNaN(data.score)) {
		bundled.apiToast({status: "error", data: "Invalid score/id. Please contact administrator"})
		return
	}
	
	for(let e of document.querySelectorAll("[id^='row-test-']")) {
		let id = parseInt(rowreg.exec(e.id)[1]);
		if(isNaN(id)) {
			console.error("id is somehow NaN", e.id)
			continue
		}
		let checked = document.getElementById(`pb-test-${id}`).checked;
		if(checked) {
			data.tests.push(id);
		}
	}

	let res = await bundled.bodyCall(`/problem/${pbid}/update/updateSubTask`, data)
	if(res.status === "success" && data.new_id !== data.subtask_id) {
		window.location.assign( `${pref}/problems/${pbid}/edit/subtasks/${data.new_id}`);
		return;
	}
	bundled.apiToast(res);
}

document.getElementById("subtask-update").addEventListener("submit", updateSubTask);
</script>

{{ end }}
