{{ define "title" }}{{getText "title.edit.subtask" .Problem.ID .Problem.Name}}{{ end }}
{{ define "content" }}
{{ template "topbar.html" . }}

{{ $root := . }}

<div class="page-holder no-bottom-border">
    {{ template "subtaskSidebar.html" . }}
    <div class="page-content">
        <h2>{{getText "header.edit.subtask"}}</h2>
        {{ with problemSubtasks .Problem }}
            <table class="kn-table my-2" style="table-layout: fixed">
                <thead>
                    <th scope="col" class="w-1/4">
                        <input class="form-checkbox" type="checkbox" id="selectAllBox" autocomplete="off" />
                    </th>
                    <th scope="col" class="w-1/4 text-center px-4 py-2">
                        {{getText "id"}}	
                    </th>
                    <th scope="col" class="w-1/2">
                        {{getText "score"}}
                    </th>
                </thead>
                <tbody>
                {{ range . }} 
                    <tr id="row-subtask-{{.VisibleID}}" class="kn-table-row">
                        <td class="kn-table-cell">
                            <input class="form-checkbox" type="checkbox" id="pb-subtask-{{.VisibleID}}" autocomplete="off" />
                        </td>
                        <td class="kn-table-cell">
                            {{.VisibleID}}
                        </td>
                        <td class="kn-table-cell">
                            <input class="form-input" type="number" id="score-subtask-{{.VisibleID}}" value="{{.Score}}" min="0" max="100" autocomplete="off" />
                        </td>
                    </tr>
                {{ end }}
                    <tr class="kn-table-simple">
                        <td colspan="2" class="kn-table-cell"></td>
                        <td id="scoreOutput" class="kn-table-cell"></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-red mr-2" onclick="deleteSubTasks()">{{getText "deleteSubTasks"}}</button>
            <button class="btn btn-blue" onclick="updateSubTasks()">{{getText "updateSubTasks"}}</button>
        {{ else }}
            <h3> {{getText "noSubTasks"}} </h3>
        {{ end }}
        
        <div class="my-4 page-sidebar-divider"></div>

        <h2> {{getText "testAssociations"}} </h2>
        {{ with problemTests .Problem }}
            <table class="kn-table my-2" style="table-layout: fixed">
                <thead>
                    <th scope="col" class="w-1/2 text-center px-4 py-2">
                        {{getText "id"}}	
                    </th>
                    <th scope="col" class="w-1/2">
                        {{getText "subTasks"}}	
                    </th>
                </thead>
                <tbody>
                {{ range . }} 
                    <tr class="kn-table-row">
                        <td class="kn-table-cell">
                            {{.VisibleID}}
                        </td>
                        <td class="kn-table-cell">
                            {{$root.TestSubTasks .ID}}
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
        {{ else }} 
            <h3> {{getText "noTestsError"}} </h3>
        {{ end }}
    </div>
</div>


<script>
var pbid = {{.Problem.ID}}, rowreg = /row-subtask-([0-9]+)/;
var scores = document.querySelectorAll("[id^='score-subtask-']");
for(let e of scores) {
	e.addEventListener('input', updateFinalScore);
}

function updateFinalScore() {
	var score = 0;
	var defaultPoints = {{.Problem.DefaultPoints}};
	score += defaultPoints;
	for(let e of scores) {
		score += Number(e.value);
	}
	let suffix = "";
	if(defaultPoints > 0) {
		suffix = ` (${defaultPoints} ${bundled.getText('byDefault')})`;
	}
    
	if(score != 100) {
		document.getElementById("scoreOutput").innerHTML = `<span class='text-red-600 dark:text-red-400'>${score}</span>` + suffix;	
	} else {
		document.getElementById("scoreOutput").innerHTML = score + suffix;
	}
}

const mgr = new bundled.CheckboxManager(document.getElementById("selectAllBox"), document.querySelectorAll("[id^='pb-subtask-']"))
updateFinalScore();

async function deleteSubTasks() {
	var subTasks = [];
	for(let e of document.querySelectorAll("[id^='row-subtask-']")) {
		let id = parseInt(rowreg.exec(e.id)[1]);
		if(isNaN(id)) {
			console.error("id is somehow NaN", e.id)
			continue
		}
		let checked = document.getElementById(`pb-subtask-${id}`).checked;
		if(checked) {
			subTasks.push(id);
		}
	}
	let res = await bundled.bodyCall(`/problem/${pbid}/update/bulkDeleteSubTasks`, subTasks);
	if(res.status === "success") {
		window.location.reload();
		return;
	}
	bundled.apiToast(res);
}

async function updateSubTasks() {
	var subTasks = {};
	for(let e of document.querySelectorAll("[id^='row-subtask-']")) {
		let id = parseInt(rowreg.exec(e.id)[1]);
		if(isNaN(id)) {
			console.error("id is somehow NaN", e.id)
			continue
		}
		let score = document.getElementById(`score-subtask-${id}`).value;
		subTasks[id] = Number(score);
	}
	console.log(subTasks);
	let res = await bundled.bodyCall(`/problem/${pbid}/update/bulkUpdateSubTaskScores`, subTasks);
	if(res.status === "success") {
		window.location.reload();
		return;
	}
	bundled.apiToast(res);
}

</script>

{{ end }}
