{{ define "title" }} {{getText "title.edit.test_add" .Problem.ID .Problem.Name}} {{ end }}
{{ define "content" }}

{{ template "topbar.html" . }}

<div class="page-holder">
    {{ template "testSidebar.html" . }}
    <div class="page-content">
        <form id="test_create_form">	
            <h2> {{getText "createTest"}} </h2>
            <label class="block my-2">
                <span class="form-label">{{getText "id"}}: </span>
                <input id="vID" type="number" class="form-input" value="{{.NextVID}}" required />
            </label>
            <label class="block my-2">
                <span class="form-label">{{getText "score"}}: </span>
                <input id="score" type="number" class="form-input" min="0" max="100" step="{{scoreStep .Problem}}" value="0" required />
            </label>
            <div class="segment-panel">
                <h2> {{getText "input"}} </h2>
                <label class="block mb-2">
                    <span class="form-label">{{getText "upload_method"}}:</span>
                    <select id="input_submit_style" class="form-select" autocomplete="off">
                        <option value="text">{{getText "text_insert"}}</option>
                        <option value="file">{{getText "file"}}</option>
                    </select>
                </label>

                <label id="input_textarea_label" class="block mb-2">
                    <textarea class="form-textarea" id="input_textarea" rows="15" style="width: 80%;"></textarea>
                </label>
                <label id="input_file_label" class="block mb-2 hidden">
                    <span class="form-label">{{getText "upload_file"}}:</span>
                    <input class="form-input" id="input_file" type="file" autocomplete="off">
                </label>
            </div>
            <div class="segment-panel">
                <h2> {{getText "output"}} </h2>
                <label class="block mb-2">
                    <span class="form-label">{{getText "upload_method"}}:</span>
                    <select id="output_submit_style" class="form-select" autocomplete="off">
                        <option value="text">{{getText "text_insert"}}</option>
                        <option value="file">{{getText "file"}}</option>
                    </select>
                </label>

                <label id="output_textarea_label" class="block mb-2">
                    <textarea class="form-textarea" id="output_textarea" rows="15" style="width: 80%;"></textarea>
                </label>
                <label id="output_file_label" class="block mb-2 hidden">
                    <span class="form-label">{{getText "upload_file"}}:</span>
                    <input class="form-input" id="output_file" type="file" autocomplete="off">
                </label>
            </div>
            <button class="btn btn-blue mb-2">{{getText "button.add"}}</button>
        </form>
    </div>
</div>


<script>

["input", "output"].map(type => document.getElementById(type+"_submit_style").addEventListener("change", (e) => {
    const val = e.currentTarget.value;
    document.getElementById(type+"_file_label")?.classList.toggle("hidden", val === "text")
    document.getElementById(type+"_textarea_label")?.classList.toggle("hidden", val !== "text")
}))

function getValue(type) {
    if(document.getElementById(type+"_submit_style").value === "text") {
        return new File([document.getElementById(type+"_textarea").value], "test."+type)
    }
    const files = document.getElementById(type+"_file").files
    if(files.length > 1) {
        throw new Error(bundled.getText("invalid_file"))
    }
    if(files.length === 0) {
        throw new Error(bundled.getText("no_file"))
    }
    return files[0]
}

async function addTest(e) {
	e.preventDefault()
    try {
        var data = new FormData();
        data.append("visibleID", document.getElementById("vID").value);
        data.append("score", document.getElementById("score").value);
        data.append("input", getValue("input"));
        data.append("output", getValue("output"));

        let res = await bundled.multipartCall("/problem/{{ .Problem.ID }}/update/addTest", data)
        if(res.status === "success") {
            window.location.reload();
        }
    } catch(e) {
        bundled.apiToast({status: "error", data: e.toString()})
        return
    }
}
document.getElementById("test_create_form").addEventListener("submit", addTest)
</script>

{{ end }}
