
{{ $topbar := .Topbar }}
{{ $id := .Problem.ID}}
<div class="page-sidebar lg:order-last">
    <div class="page-sidebar-box">
        <div class="list-group grid grid-cols-2 xl:grid-cols-3">
            <a class="list-group-head col-span-full {{if and (eq $topbar.Page "tests") (eq $topbar.PageID -2)}} list-group-selected {{end}}" href="/problems/{{$id}}/edit/test">
                <h2>{{getText "tests"}}</h2>
            </a>
            <a class="list-group-item col-span-full {{if (eq $topbar.PageID -1)}} list-group-selected {{end}}" href="/problems/{{$id}}/edit/test/add">{{getText "createTest"}}</a>
            {{ range problemTests .Problem }}
                <a class="list-group-item {{if (eq $topbar.PageID .VisibleID)}} list-group-selected {{end}}"
                    href="/problems/{{$id}}/edit/test/{{.VisibleID}}">
                    {{getText "nthTest" .VisibleID}}
                </a>
            {{ end }}
        </div>
    </div>
</div>