{{ define "title" }} {{getText "title.edit.test_edit" .Test.VisibleID .Problem.ID .Problem.Name}} {{ end }}
{{ define "content" }}
{{ template "topbar.html" . }}

<div class="page-holder">
    {{ template "testSidebar.html" .}}
    <div class="page-content">
        <h2> Editare test {{ .Test.VisibleID }} </h2>	

        <form id="test_id_edit_form">
            <label class="block my-2">
                <span class="mr-2 text-xl">ID: </span>
                <input id="vID" type="number" class="form-input" value="{{ .Test.VisibleID }}" required />
            </label>
            <label class="block my-2">
                <span class="mr-2 text-xl">{{getText "score"}}: </span>
                <input id="score" type="number" class="form-input" value="{{ .Test.Score }}" required />
            </label>
            <button class="btn btn-blue mb-2">{{getText "button.update"}}</button>
        </form>
        <button id="test_del_button" class="btn btn-red block my-2"> {{getText "button.delete"}} </button>
    
        <div class="mb-2">
            <a class="btn btn-blue" href="/assets/problem/{{.Problem.ID}}/test/{{.Test.VisibleID}}/input" download>Download input</a>
            <a class="btn btn-blue" href="/assets/problem/{{.Problem.ID}}/test/{{.Test.VisibleID}}/output" download>Download output</a>
        </div>
    
        <form id="test_edit_form">
            {{ $test := .GetFullTests }}
            <div class="mb-3">
                <h3> Input: </h3>
                <textarea class="form-textarea" style="width:80%;" rows="15" id="input">{{$test.In}}</textarea>
            </div>
            <div class="mb-3">
                <h3> Output: </h3>
                <textarea class="form-textarea" style="width:80%;" rows="15" id="output">{{$test.Out}}</textarea>
            </div>
            <button class="btn btn-blue mb-2" >{{getText "button.update"}}</button>
        </form>
    </div>
</div>

<script>
const pref = {{.Topbar.URLPrefix}};
async function updateID(e) {
	e.preventDefault()
	let q = {
		id: document.getElementById("vID").value,
        score: document.getElementById("score").value
	}
	let res = await bundled.postCall("/problem/{{.Problem.ID}}/update/test/{{.Test.VisibleID}}/info", q);
	if(res.status === "success") {
        if(q.id != {{.Test.VisibleID}}) {
            window.location.assign(pref + "/problems/{{.Problem.ID}}/edit/test/"+q.id)
            return
        }
	}
	bundled.apiToast(res)
}

async function updateData(e) {
	e.preventDefault()
    let q = {}
    {{if $test.OkIn}}
    q.input = document.getElementById("input").value
    {{else}}
    const inputVal = document.getElementById("input").value
    if(inputVal !== {{$test.In}}) {
        q.input = val
    }
    {{end}}

    {{if $test.OkOut}}
    q.output = document.getElementById("output").value
    {{else}}
    const outputVal = document.getElementById("output").value
    if(outputVal !== {{$test.Out}}) {
        q.output = val
    }
    {{end}}

	let res = await bundled.postCall("/problem/{{.Problem.ID}}/update/test/{{.Test.VisibleID}}/data", q)
	bundled.apiToast(res);
}

async function removeTest(e) {
	e.preventDefault()

	if(!(await bundled.confirm(bundled.getText("confirmTestDelete")))) {
		return
	}
	let res = await bundled.postCall("/problem/{{.Problem.ID}}/update/test/{{.Test.VisibleID}}/delete", {})
	if(res.status === "success") {
		window.location.assign(pref + "/problems/{{.Problem.ID}}/edit/test")
		return
	}
	bundled.apiToast(res);
}
document.getElementById("test_edit_form").addEventListener("submit", updateData)
document.getElementById("test_id_edit_form").addEventListener("submit", updateID)
document.getElementById("test_del_button").addEventListener("click", removeTest)
</script>

{{ end }}
