{{ define "title" }} {{getText "title.edit.tests" .Problem.ID .Problem.Name}} {{ end }}
{{ define "content" }}
{{ template "topbar.html" . }}

{{$pb := .Problem }}

<div class="page-holder">
    {{ template "testSidebar.html" . }}
    <div class="page-content-wrapper">
        {{ with problemTests .Problem }}
        <div class="segment-panel">
            <h2>Actualizare teste</h2>
            <table class="kn-table my-2">
                <thead>
                    <th scope="col" class="w-1/4">
                        <input class="form-checkbox" type="checkbox" id="selectAllBox" autocomplete="off" />
                    </th>
                    <th scope="col" class="w-1/4 text-center px-4 py-2">
                        ID
                    </th>
                    <th scope="col" class="w-1/2">
                        {{getText "score"}}	
                    </th>
                </thead>
                <tbody>
                {{ range . }} 
                    <tr id="row-test-{{.VisibleID}}" class="kn-table-row">
                        <td class="kn-table-cell">
                            <input class="form-checkbox" type="checkbox" id="pb-test-{{.VisibleID}}" autocomplete="off" />
                        </td>
                        <td class="kn-table-cell">
                            {{.VisibleID}}
                        </td>
                        <td class="kn-table-cell">
                            <input class="form-input" type="number" id="score-test-{{.VisibleID}}" value="{{.Score}}" min="0" max="100" step="{{scoreStep $pb}}" autocomplete="off" />
                        </td>
                    </tr>
                {{ end }}
                    <tr class="kn-table-simple">
                        <td colspan="2" class="kn-table-cell"></td>
                        <td id="scoreOutput" class="kn-table-cell"></td>
                    </tr>
                </tbody>
            </table>
            <div class="block mb-2">
                <button class="btn btn-red mr-2" onclick="deleteTests()">{{getText "deleteTests"}}</button>
                <button class="btn btn-blue" onclick="updateTests()">{{getText "updateTestScores"}}</button>
            </div>
        </div>
        {{ end }}

        <form class="segment-panel" id="test_add_form">
            <h2> {{getText "testArchive"}} (200MB max) </h2>
            <label class="block my-2">
                <span class="mr-2 text-xl"> {{getText "archive"}}:</span>
                <input id="tests" type="file" class="form-input" accept=".zip" required />
            </label>
            <label class="block my-2">
                <span class="mr-2 text-xl"> {{getText "scoreParams"}}:</span>
                <input id="scoreParams" type="text" class="form-input" autocomplete="off" />
            </label>
            <button class="btn btn-blue mb-2">{{getText "button.upload"}}</button>
            <p class="text-muted text-sm">{{getText "polygonArchiveWarn"}}</p>
        </form>


    </div>
</div>



<script>
var pbid = {{.Problem.ID}}, rowreg = /row-test-([0-9]+)/;
var scores = document.querySelectorAll("[id^='score-test-']");
for(let e of scores) {
	e.addEventListener('input', updateFinalScore);
}
var precision = {{.Problem.ScorePrecision}}

const mgr = new bundled.CheckboxManager(document.getElementById("selectAllBox"), document.querySelectorAll("[id^='pb-test-']"))

function updateFinalScore() {
	var score = 0;
	var defaultPoints = {{.Problem.DefaultPoints}};
	score += defaultPoints;
	for(let e of scores) {
		score += Number(e.value);
	}
	let suffix = "";
	if(defaultPoints > 0) {
		suffix = ` (${defaultPoints} ${bundled.getText("byDefault")})`;
	}
    score = score.toFixed(precision)
    
	if(score != 100) {
		document.getElementById("scoreOutput").innerHTML = `<span class='text-red-600 dark:text-red-400'>${score}</span>` + suffix;	
	} else {
		document.getElementById("scoreOutput").innerHTML = score + suffix;
	}
}


if(document.getElementById("scoreOutput") !== null) {
    updateFinalScore();
}

async function deleteTests() {
	var tests = [];
	for(let e of document.querySelectorAll("[id^='row-test-']")) {
		let id = parseInt(rowreg.exec(e.id)[1]);
		if(isNaN(id)) {
			console.error("id is somehow NaN", e.id)
			continue
		}
		let checked = document.getElementById(`pb-test-${id}`).checked;
		if(checked) {
			tests.push(id);
		}
	}
    if(tests.length == 0) {
        return;
    }
    if(tests.length == 1) {
        if(!(await bundled.confirm(bundled.getText("oneTestDeleteConfirm")))) {
            return
        }
    } else if(!(await bundled.confirm(bundled.getText("testDeleteConfirm", tests.length)))) {
        return
    }
	let res = await bundled.bodyCall(`/problem/${pbid}/update/bulkDeleteTests`, tests);
	if(res.status === "success") {
		window.location.reload();
		return;
	}
	bundled.apiToast(res);
}

async function updateTests() {
	var tests = {};
	for(let e of document.querySelectorAll("[id^='row-test-']")) {
        let id = parseInt(rowreg.exec(e.id)[1]);
		if(isNaN(id)) {
			console.error("id is somehow NaN", e.id)
			continue
		}
		let score = parseFloat(document.getElementById(`score-test-${id}`).value);
		if(isNaN(score)) {
			console.error("Score is somehow NaN", document.getElementById(`score-test-${id}`))
			continue
		}
		tests[id] = score;
	}
	console.log(tests);
	let res = await bundled.bodyCall(`/problem/${pbid}/update/bulkUpdateTestScores`, tests);
	bundled.apiToast(res);
}

async function uploadTests(e) {
	e.preventDefault()
	var form = new FormData();
	var files = document.getElementById("tests").files;
	if(files === null || files.length === 0) {
		bundled.createToast({status: "error", title: '{{getText "noFiles"}}'})
		return
	}
	form.append("testArchive", files[0]);
    const scoreParams = document.getElementById("scoreParams").value;
    if(scoreParams.length > 0) {
        form.append("scoreParameters", scoreParams);
    }

	let res = await bundled.multipartProgressCall("/problem/{{.Problem.ID}}/update/processTestArchive", form)
	if(res.status === "success") {
		window.location.reload();
		return
	}
	bundled.apiToast(res)
}

document.getElementById("test_add_form").addEventListener("submit", uploadTests)
</script>

{{ end }}
