@import "@fontsource/noto-sans";
@import "notyf/notyf.min.css";
@import "highlight.js/styles/default.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "highlightjs-copy/dist/highlightjs-copy.min.css";
@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/monokai.css";
@import "katex/dist/katex.css";

/* prettier-ignore */
.dark {
	/* Copy highlight.js monokai theme for dark mode class strategy */
    /*@import "highlight.js/styles/monokai.css" (prefers-color-scheme: dark);*/
    pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#272822;color:#ddd}.hljs-keyword,.hljs-literal,.hljs-name,.hljs-selector-tag,.hljs-strong,.hljs-tag{color:#f92672}.hljs-code{color:#66d9ef}.hljs-attribute,.hljs-link,.hljs-regexp,.hljs-symbol{color:#bf79db}.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-emphasis,.hljs-section,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-string,.hljs-subst,.hljs-template-tag,.hljs-template-variable,.hljs-title,.hljs-type,.hljs-variable{color:#a6e22e}.hljs-class .hljs-title,.hljs-title.class_{color:#fff}.hljs-comment,.hljs-deletion,.hljs-meta,.hljs-quote{color:#75715e}.hljs-doctag,.hljs-keyword,.hljs-literal,.hljs-section,.hljs-selector-id,.hljs-selector-tag,.hljs-title,.hljs-type{font-weight:700}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.hljs-copy-button {
	@apply bg-[#333] !important;
	@apply top-2;
}
.bg-hljs,
.hljs {
	background: #f0f0f0;
	@apply dark:bg-[#333];
}
.cm-s-monokai.CodeMirror {
	@apply dark:bg-[#333];
}
.cm-s-monokai .CodeMirror-gutters {
	@apply dark:bg-[#333];
}

/* .notyf__message a {
	@apply text-gray-300 hover:text-gray-400 active:text-blue-500 focus:text-blue-500;
} */

@layer base {
	[v-cloak] {
		display: none;
	}

	table {
		@apply border-collapse;
	}

	h1 {
		@apply text-3xl leading-normal;
	}

	h2 {
		@apply text-2xl leading-normal mb-2;
	}

	h3 {
		@apply text-xl leading-normal;
	}

	h4 {
		@apply text-lg leading-normal;
	}

	a {
		@apply text-blue-500 hover:text-blue-600 active:text-blue-600 focus:text-blue-600;
	}

	.default-background {
		@apply bg-white dark:bg-gray-900;
	}

	.CodeMirror {
		@apply text-lg leading-normal rounded-lg;
	}

	.reset-list {
		@apply leading-normal;
	}

	.reset-list h1,
	.reset-list h2 {
		@apply mb-2 mt-1;
	}

	.reset-list p {
		@apply my-1;
	}

	.reset-list ul {
		@apply list-disc list-inside;
	}

	.reset-list ol {
		@apply list-decimal list-inside;
	}
	.reset-list ol > li {
		@apply pl-4;
	}

	.reset-list ul > li {
		@apply pl-4;
	}

	.enhance-tables table {
		@apply kn-table kn-table-slim my-2;
	}

	.enhance-tables table tr {
		@apply kn-table-simple;
	}

	.enhance-tables table td {
		@apply kn-table-cell;
	}

	.enhance-tables table th {
		@apply kn-table-cell;
	}

	.statement-images img {
		@apply py-1 pl-2 lg:pl-4;
	}
}

@layer components {
	.c-container {
		max-width: 98%;
		@apply mx-auto min-h-screen mt-6;
	}
	@media (min-width: 576px) {
		.c-container {
			max-width: 97%;
		}
	}
	@media (min-width: 768px) {
		.c-container {
			max-width: 96%;
		}
	}
	@media (min-width: 992px) {
		.c-container {
			max-width: 95%;
		}
	}

	.kn-border {
		@apply border-gray-700 dark:border-gray-200;
	}

	.border-wh {
		@apply border-gray-600 dark:border-gray-200;
	}

	.border-gr {
		@apply border-gray-300 dark:border-gray-700;
	}

	.list-group {
		@apply border-gray-300 w-full;
		@apply dark:border-gray-700;
	}

	.list-group-head {
		@apply block border-b border-t border-x border-gray-300 dark:border-gray-700 w-full px-4 text-lg leading-normal py-2;
		@apply bg-white dark:bg-gray-800;
	}
	.list-group-selected {
		@apply bg-gray-100 dark:bg-gray-600 text-black dark:text-white !important;
	}
	.list-group-item {
		@apply black-anchor list-group-head hover:list-group-selected;
	}

	.list-group-rounded {
		@apply rounded-lg;
	}
	.list-group-rounded > *:first-child {
		@apply rounded-t-lg;
	}
	.list-group-rounded > *:last-child {
		@apply rounded-b-lg;
	}

	.dropdown-divider {
		@apply h-0 my-1 border-t border-gray-200;
		@apply dark:border-black;
	}
	.dropdown-list {
		@apply absolute right-0 w-full md:w-64;
		@apply py-1 mt-1 text-xl bg-white rounded-lg shadow-lg;
		@apply dark:bg-gray-800;
	}
	.dropdown-list-item {
		@apply block px-4 py-1 text-gray-800 focus:text-gray-800 hover:text-gray-800 hoverable;
		@apply dark:text-gray-200 dark:focus:text-gray-100 dark:hover:text-gray-100;
	}
	.dropdown-list-item:first-child {
		@apply rounded-t-lg -mt-1;
	}
	.dropdown-list-item:last-child {
		@apply rounded-b-lg -mb-1;
	}

	.black-anchor {
		@apply text-gray-600 hover:text-black focus:text-black active:text-black outline-none;
		@apply dark:text-gray-300 dark:hover:text-white dark:focus:text-white dark:active:text-white;
	}

	.topbar-selected {
		@apply inline-block p-1 rounded bg-gray-200 dark:bg-gray-700;
	}

	.topbar-separator {
		@apply inline-block my-1;
	}

	.topbar-separator::after {
		content: "|";
	}

	.topbar-separator-lg::after {
		@apply text-xl;
	}

	.hoverable {
		@apply hover:bg-gray-200 focus:bg-gray-200;
		@apply dark:hover:bg-gray-700 dark:focus:bg-gray-700;
	}

	.paginator {
		@apply my-2 flex;
	}
	.paginator > *:first-child {
		@apply rounded-l;
	}
	.paginator > *:last-child {
		@apply rounded-r;
	}

	.paginator-item {
		@apply btn-blue py-1 px-2;
	}

	.paginator-item-active {
		@apply border-2 border-black dark:border-gray-200;
	}

	.kn-table {
		@apply border-2 border-collapse table-auto w-full mb-2 kn-border;
	}

	.kn-table-slim {
		width: auto;
	}

	.kn-table-simple-border {
		@apply border-t kn-border;
	}

	.kn-table-simple {
		@apply text-center kn-table-simple-border;
	}

	.kn-table-row {
		@apply kn-table-simple hoverable;
	}

	.kn-table-cell-notext {
		@apply border-r px-4 py-2 kn-border;
	}

	.kn-table-cell {
		@apply text-center kn-table-cell-notext;
	}

	.alert {
		@apply w-full;
	}

	.alert-green {
		@apply bg-green-200;
	}

	details > summary {
		@apply list-none;
	}
	summary::-webkit-details-marker {
		@apply hidden;
	}
	summary::after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		@apply text-gray-600 dark:text-gray-200 ml-2;
		content: "\f0d7";
	}
	details[open] > summary::after {
		content: "\f0d8";
	}
	summary {
		@apply cursor-pointer;
	}

	.segment-colors {
		@apply bg-gray-50 dark:bg-gray-900;
		@apply border-gray-100 dark:border-gray-800;
		@apply shadow-gray-200/50 hover:shadow-gray-200/50;
		@apply dark:shadow-gray-800/50 dark:hover:shadow-gray-800/50;
	}

	.segment-colors-2 {
		@apply bg-gray-100 dark:bg-gray-800;
		@apply border-gray-200 dark:border-gray-700;
		@apply shadow-gray-300/50 hover:shadow-gray-300/50;
		@apply dark:shadow-gray-700/50 dark:hover:shadow-gray-700/50;
	}

	.segment-panel {
		@apply segment-colors;
		@apply border-2 rounded-lg p-2 lg:px-4 lg:py-3 mx-1 my-2 lg:my-3 shadow;
		@apply hover:shadow-md transition-shadow;
	}

	.segment-panel .segment-panel {
		@apply segment-colors-2;
	}

	.btn {
		@apply inline-flex justify-center px-4 py-2 leading-5 rounded-md font-medium ring-1 ring-opacity-50;
		@apply transition ease-in-out duration-150;

		@apply bg-gray-200 text-gray-800 ring-gray-100;
		@apply dark:bg-gray-700 dark:text-white dark:ring-gray-600;
		font-family: inherit;
	}

	.btn:not([disabled]) {
		@apply hover:bg-gray-700 hover:text-white;
		@apply active:bg-gray-700 active:text-white;
		@apply focus:bg-gray-700 focus:text-white focus:outline-none;
		@apply focus:ring-4 focus:ring-gray-600 hover:ring-2 hover:ring-gray-600;
		@apply dark:hover:bg-gray-600 dark:hover:text-white;
		@apply dark:active:bg-gray-600 dark:active:text-white;
		@apply dark:focus:bg-gray-600 dark:focus:text-white;
		@apply dark:focus:ring-gray-400 dark:hover:ring-gray-400;
	}

	.btn-blue {
		@apply bg-blue-500 text-white ring-blue-400;
		@apply dark:bg-blue-600 dark:ring-blue-500;
	}

	.btn-blue:not([disabled]) {
		@apply hover:bg-blue-700 active:bg-blue-700;
		@apply focus:bg-blue-700 focus:outline-none hover:ring-blue-600 focus:ring-blue-600;
		@apply dark:hover:ring-blue-500 dark:focus:ring-blue-500;
		@apply dark:hover:bg-blue-800 dark:active:bg-blue-800 dark:focus:bg-blue-800;
		@apply dark:hover:text-white dark:active:text-white dark:focus:text-white;
	}

	.btn-red {
		@apply bg-red-500 text-white ring-red-400;
		@apply dark:bg-red-600 dark:ring-red-500;
	}

	.btn-red:not([disabled]) {
		@apply hover:bg-red-700 active:bg-red-700;
		@apply focus:bg-red-700 focus:outline-none hover:ring-red-600 focus:ring-red-600;
		@apply dark:hover:ring-red-500 dark:focus:ring-red-500;
		@apply dark:hover:bg-red-800 dark:active:bg-red-800 dark:focus:bg-red-800;
		@apply dark:hover:text-white dark:active:text-white dark:focus:text-white;
	}

	.is-invalid {
		@apply ring-red-500 ring-1;
		@apply transition ease-out duration-500;
	}

	.is-valid {
		@apply ring-green-500 ring-1;
		@apply transition ease-out duration-500;
	}

	.form-input,
	.form-textarea,
	.form-select,
	.form-multiselect {
		@apply rounded-lg dark:bg-gray-600 dark:text-white border-gr !important;
	}

	.form-input:disabled {
		@apply dark:bg-gray-700 text-gray-600 dark:text-gray-200 !important;
	}

	.form-input {
		@apply inline-block px-2 py-2 border bg-white text-black;
	}

	select.form-select {
		@apply pr-8;
	}

	.form-input::placeholder,
	.form-select::placeholder,
	.form-textarea::placeholder {
		@apply text-gray-500 dark:text-gray-300 !important;
	}

	.badge-lite {
		@apply inline-block rounded-md py-1 px-2 text-base bg-teal-700 text-white h-fit;
	}

	.badge {
		@apply badge-lite rounded-full font-semibold;
	}

	.badge-red {
		@apply bg-red-700;
	}

	.badge-green {
		@apply bg-green-700;
	}

	.badge-blue {
		@apply bg-blue-500 text-white ring-blue-400;
		@apply dark:bg-blue-600 dark:ring-blue-500;
	}

	.tag {
		@apply inline-block rounded-md py-1 px-2 my-1 bg-teal-700 text-white h-fit;
	}
	.tag-author {
		@apply bg-amber-700;
	}
	.tag-contest {
		@apply bg-green-700;
	}
	.tag-method {
		@apply bg-fuchsia-700;
	}
	.tag-other {
		@apply bg-cyan-700;
	}

	.tag-editable:empty:before {
		content: attr(data-bf);
		@apply text-gray-300 italic;
	}

	.tag-editable {
		@apply outline-none;
	}

	.modal-container[open] {
		@apply z-50 p-4 md:inset-0 dark:bg-gray-800 rounded-lg shadow-lg;
		@apply flex flex-col items-stretch;
		@apply border-2 border-gr;
		@apply max-h-[95vh] lg:max-h-[70vh] !important;
		@apply max-w-[90vw] lg:max-w-[50vw];
	}

	/* Set min width only on large containers */
	.modal-container-large[open] {
		@apply min-h-[max(30vh,100px)] lg:min-h-[70vh];
		@apply min-w-[90vw] lg:min-w-[max(50vw,700px)];
	}

	.modal-container::backdrop {
		@apply opacity-60 bg-black;
	}

	.modal-header {
		@apply flex border-b-2 border-gr justify-between items-center pb-1;
	}

	.modal-close {
		@apply fas fa-xmark text-2xl mr-2 rounded-lg border border-gr px-2 py-1 ml-4 shadow-sm;
	}

	.modal-content {
		@apply w-full h-full my-2 grow;
	}

	.modal-footer {
		@apply flex border-t-2 border-gr justify-end items-center pt-2;
	}

	/*
        This is a huge hack because contest_list.html has no way of actually knowing what its ancestors are.
    */

	.contest-grid {
		@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2;
	}

	.contest-small-grid > .contest-grid {
		@apply md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2;
	}

	/* 
        this looks like it's going to be a sort of "standard" design between pages
        so let's standardize it
    */

	.page-holder {
		@apply grid grid-cols-1 lg:grid-cols-4;
	}

	.page-content {
		@apply page-content-wrapper segment-panel;
	}

	.page-content-wrapper {
		@apply col-span-1 min-w-fit lg:min-w-0 lg:col-span-3;
	}

	.page-content-full {
		@apply col-span-full min-w-fit segment-panel;
	}

	.page-content-full-wrapper {
		@apply col-span-full min-w-fit;
	}

	.page-sidebar {
		@apply col-span-1;
	}

	.page-sidebar-box {
		@apply segment-panel;
	}
}

@layer utilities {
	code {
		@apply bg-hljs rounded-md mt-2 mb-2 px-1;
	}
	pre code {
		@apply px-0;
	}
	pre code.hljs {
		@apply px-2 py-1;
	}
	.dark pre code.hljs {
		/* we also need this specificity for dark mode */
		@apply px-2 py-1;
	}

	.server_timestamp {
		visibility: hidden;
	}
	.server_timestamp::before {
		visibility: visible;
		content: "...";
	}

	blockquote {
		@apply rounded-md p-3 my-2 border-l-4 border-gray-300 bg-gray-100 dark:border-gray-500 dark:bg-gray-800;
		@apply italic leading-relaxed;
	}

	pre {
		white-space: pre-wrap; /* Since CSS 2.1 */
		white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
		tab-size: 4;
		@apply break-normal;
		@apply bg-hljs rounded-lg px-2 mt-1 mb-1;
	}

	body {
		font-size: 16px;
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Roboto, "Helvetica Neue", Arial, "Noto Sans",
			sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}

	html {
		tab-size: 4;
		@apply font-sans;
		/* @apply dark:bg-gray-900 dark:text-white; */
	}

	/* @media (prefers-color-scheme: dark) {
		html {
			color-scheme: dark;
		}
	} */
	html.dark {
		/* We'll soon probably use the class strategy instead of browser preference */
		color-scheme: dark;
		@apply bg-gray-950 text-white;
	}

	.form-label {
		@apply text-xl text-gray-700 mr-2;
		@apply dark:text-white;
	}
}
