{{ define "title" }} {{getText .Ctx.Language "panel.proposer"}} {{ end }}
{{ define "content" }}

<h1>{{getText .Ctx.Language "panel.proposer"}}</h1>

{{ template "createpb.html" . }}

<div class="reset-list segment-container">
	<h2> Modificări recente în urma introducerii problemelor interactive: </h2>
	<ul>
		<li>Tipul problemei este dedus automat. Prezența unui fișier care începe cu <code>checker</code> și are o extensie validă va duce la utilizarea lui automată ca și checker-ul problemei, nu mai este necesar să specifici expicit (chiar am șters setarea din panoul de editare fiindcă nu mai este utilă);</li>
		<li>Alte fișiere cu extensie validă sau cu <code>.h</code> vor fi incluse și compilate atunci când este evaluată o soluție;</li>
		<li>De menționat că la problemele interactive sunt suportate numai soluții în C++;</li>
		<li>Dacă vreți să atașați un fișier de cod problemei (alte fișiere precum imagini sunt ignorate oricum), însă nu vreți să îl includeți la compilare, acesta trebuie prefixat cu <code>_</code>.</li>
	</ul>
</div>

{{ end }}
