{{ template "util/header" . }}

<div class="c-container">
	<h1>Panou propunător</h1>
	<br/>

	{{ template "proposer/createpb" . }}
	<br/>
	{{ template "proposer/cdn_manager" . }}
</div>

{{ template "util/footer" . }}
