{{ define "footer" }}
<footer class="w-full bg-gray-200 dark:bg-gray-700 py-2 mt-6">
	<div class="c-container min-h-0 mx-auto">
		<div class="grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-2 justify-between">
			<div class="h-auto mb-2">
				<div class="text-lg">{{getText "usefulInfo"}}</div>
				<ul>
					<li><a class="black-anchor" href="/">{{getText "frontPage"}}</a></li>
					<li><a class="black-anchor" href="/problems">{{getText "problem.list"}}</a></li>
					<li><a class="black-anchor" href="/contests">{{getText "contests"}}</a></li>
					<li><a class="black-anchor" href="/submissions">{{getText "submission.list"}}</a></li>
				</ul>
                <label class="block my-2">
                    <select id="sessionLang" class="form-select">
                        <option value="ro" {{if eq language "ro" }}selected{{end}}>🇷🇴 Română</option>
                        <option value="en" {{if eq language "en" }}selected{{end}}>🇬🇧 English</option>
                    </select>
                    <span>{{getText "displayLang"}}</span>
                </label>
			</div>
			
			<div class="h-auto mb-2">
				<div class="text-lg">{{getText "otherInfo"}}</div>
				<ul>
					<li><a class="black-anchor" href="https://kilonova.ro/docs/CHANGELOG"><i class="fas fa-fw fa-code-branch"></i> Kilonova {{version}}</a></li>
					{{if debug}}<li><span class="black-anchor"><i class="text-red-600 fas fa-fw fa-exclamation-triangle"></i> Debug Mode active</span></li>{{end}}
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="https://discord.gg/Qa6Ytgh"><i class="fab fa-fw fa-discord"></i> KiloProjects Discord</a></li>
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="https://github.com/KiloProjects/Kilonova"><i class="fab fa-fw fa-github"></i> GitHub</a></li>
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="mailto:admin@kilonova.ro?subject=Contact"><i class="fas fa-fw fa-envelope"></i> Contact</a></li>
				</ul>
			</div>

            {{ if ccDisclaimer }}
                <div class="h-auto mb-2">
                    <div class="text-lg">Copyright policy</div>
                    <ul>
                        <li>
                            <div class="block">
                                Cu excepția cazurilor unde este specificat diferit, conținutul platformei este publicat sub licența <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>. Vedeți <a href="/docs/CREATIVE-COMMONS">Aici</a> mai multe detalii.
                            </div>
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                                <img alt="Creative Commons Licence" style="border-width:0" width="88" height="31" src="/static/by-nc-sa.eu.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            {{ end }}
		</div>
	</div>
</footer>
<script>
    document.getElementById("sessionLang").addEventListener("change", (e)=>{
        e.preventDefault();
        bundled.setLanguage(e.currentTarget.value)
    })
</script>
{{ end }}
