{{ define "footer" }}
<footer class="w-full bg-gray-200 dark:bg-gray-800 py-2 mt-6">
	<div class="c-container min-h-0 mx-auto">
		<div class="grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-2 justify-between">
			<div class="h-auto mb-2">
				<div class="text-lg">{{getText "usefulInfo"}}</div>
				<ul>
					<li><a class="black-anchor" href="/">{{getText "frontPage"}}</a></li>
                    {{if boolFlag "frontend.donations.enabled"}}
                    <li><a class="black-anchor" href="/donate">{{getText "donate"}}</a></li>
                    {{end}}
					<li><a class="black-anchor" href="/problems">{{getText "problem.list"}}</a></li>
					<li><a class="black-anchor" href="/contests?page=official">{{getText "contests"}}</a></li>
					<li><a class="black-anchor" href="/submissions">{{getText "submission.list"}}</a></li>
					<li><a class="black-anchor" href="/posts">{{getText "blogpost.list"}}</a></li>
				</ul>
                <label class="block my-2">
                    <select id="sessionLang" class="form-select" autocomplete="off">
                        <option value="ro" {{if eq language "ro" }}selected{{end}}>🇷🇴 Română</option>
                        <option value="en" {{if eq language "en" }}selected{{end}}>🇬🇧 English</option>
                    </select>
                    <span>{{getText "displayLang"}}</span>
                </label>
			</div>
			
			<div class="h-auto mb-2">
				<div class="text-lg">{{getText "otherInfo"}}</div>
				<ul>                    
                    <li><span class="black-span"><i class="fas fa-fw fa-code-branch"></i> Kilonova {{version}}</span></li>
                    <li><span class="black-span"><i class="fas fa-fw fa-clock"></i> {{getText "serverTime"}}: <span id="footer_server_time">{{serverTimeFooter}}</span></span></li>
                	{{if debug}}<li><span class="black-span"><i class="text-red-600 fas fa-fw fa-exclamation-triangle"></i> Debug Mode active</span></li>{{end}}
                    {{with stringFlag "frontend.footer.discord_id"}}
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="https://discord.gg/{{.}}"><i class="fab fa-fw fa-discord"></i> Discord Server</a></li>
                    {{end}}
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="https://github.com/KiloProjects/Kilonova"><i class="fab fa-fw fa-github"></i> GitHub</a></li>
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="mailto:admin@kilonova.ro?subject=Contact"><i class="fas fa-fw fa-envelope"></i> Contact</a></li>
				</ul>
			</div>

            <div class="h-auto mb-2 reset-list">
                <div class="text-lg">{{getText "credits"}}</div>
                <ul>
                    <li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="https://github.com/AlexVasiluta"> Platform made with <i class="fas fa-fw fa-heart"></i> by Alex Vasiluță </a></li>
                    <li class="black-span"> Problems generously uploaded by the Kilonova community</li>
                    <li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="https://github.com/Secret-chest"> Favicon by Secret-chest </a></li>
                    {{ if (boolFlag "frontend.footer.cc_disclaimer") }}
                        {{$disclaimerImg := hashedName "static/by-nc-sa.eu.png" -}}
                        <li class="black-anchor">
                            Cu excepția cazurilor unde este specificat diferit, conținutul platformei este publicat sub licența <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>. Vedeți <a href="https://kilonova.ro/posts/creative-commons">aici</a> mai multe detalii.
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                                <img alt="Creative Commons Licence" style="border-width:0" width="88" height="31" src="/{{$disclaimerImg}}">
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
		</div>
	</div>
</footer>
<script>
    document.getElementById("sessionLang").addEventListener("change", (e)=>{
        e.preventDefault();
        bundled.setLanguage(e.currentTarget.value)
    })
</script>
{{with stringFlag "feature.analytics.goat_prefix"}}
<script data-goatcounter="{{.}}/count"
    async src="{{.}}/count.js"></script>
{{end}}

{{ end }}
