{{ define "footer" }}
<footer class="w-full bg-gray-200 dark:bg-gray-700 py-2 mt-6">
	<div class="c-container min-h-0 mx-auto">
		<div class="md:flex mb-2 justify-between">
			<div class="h-auto mb-2">
				<div class="text-lg">{{getText .Ctx.Language "usefulInfo"}}</div>
				<ul>
					<li><a class="black-anchor" href="/">{{getText .Ctx.Language "frontPage"}}</a></li>
					<li><a class="black-anchor" href="/problems">{{getText .Ctx.Language "listOfProblems"}}</a></li>
					<li><a class="black-anchor" href="/submissions">{{getText .Ctx.Language "subList"}}</a></li>
				</ul>
			</div>
			
			<div class="h-auto mb-2">
				<div class="text-lg">{{getText .Ctx.Language "otherInfo"}}</div>
				<ul>
					<li><span class="black-anchor"><i class="fas fa-fw fa-code-branch"></i> Kilonova {{version}}</span></li>
					{{if debug}}<li><span class="black-anchor"><i class="text-red-600 fas fa-fw fa-exclamation-triangle"></i> Debug Mode active</span></li>{{end}}
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="https://discord.gg/Qa6Ytgh"><i class="fab fa-fw fa-discord"></i> KiloProjects Discord</a></li>
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="https://github.com/KiloProjects/Kilonova"><i class="fab fa-fw fa-github"></i> GitHub</a></li>
					<li><a class="black-anchor" target="_blank" rel="noopener noreferrer" href="mailto:admin@kilonova.ro?subject=Contact"><i class="fas fa-fw fa-envelope"></i> Contact</a></li>
				</ul>
			</div>
		</div>
		<p>&copy; KiloProjects 2021</p>
	</div>
</footer>
{{ end }}
