<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{{- with .Title -}}
		<title>{{- . }} | Kilonova</title>
	{{- else -}}
		<title>Kilonova</title>
	{{- end -}}
	
	{{$fav := hashedName "static/favicon.ico"}}
	{{$bundle := hashedName "static/bundle.js"}}
	{{$style := hashedName "static/styles.css"}}

	<link rel="icon" type="image/x-icon" href="/{{$fav}}"/>
	<link rel="shortcut icon" type="image/x-icon" href="/{{$fav}}"/>
	
	<!-- OpenGraph stuff -->
	{{- with .OGTitle -}}
		<meta property="og:title" content="{{- . -}}" />
	{{- else -}}
		{{- with .Title -}}
			<meta property="og:title" content="{{- . -}}" />
		{{- else -}}
		<meta property="og:title" content="Kilonova" />
		{{- end -}}
	{{- end -}}
	{{- with .OGType -}}
		<meta property="og:type" content="{{- . -}}" />
	{{- else -}}
		<meta property="og:type" content="website" />
	{{- end -}}
	<meta property="og:url" content="https://kilonova.ro{{- .OGUrl -}}" />
	{{- with .OGImage -}}
		<meta property="og:image" content="{{- .OGImage -}}" />
	{{- else -}}
		<meta property="og:image" content="https://cdn.kilonova.ro/m/ti2SMt/logo.png" />
	{{- end -}}
	{{- with .OGDesc -}}
		<meta property="og:description" content="{{- .OGDesc -}}" />
		<meta name="description" content="{{- .OGDesc -}}" />
	{{- else -}}
		<meta property="og:description" content="Programming platform for learning and exercising" />
		<meta name="description" content="Programming platform for learning and exercising" />
	{{- end -}}
	<meta property="og:locale" content="ro_RO" />
	<meta property="og:site_name" content="Kilonova" />

	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">

	<!-- pretty icons (fontawesome) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

	<!--Dependency bundle-->
	<script src="/{{$bundle}}"></script>

	<!--highlight.js-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css" />
	<style>@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/monokai.min.css") (prefers-color-scheme: dark);</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

	<!--use KaTeX instead of MathJax-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.12.0/katex.min.css" />
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.12.0/katex.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.12.0/contrib/auto-render.min.js"></script>
	<script>
		function loadKaTeX() {
			renderMathInElement(document.body, {
				delimiters:	[
					{left: "$$", right: "$$", display: true},
					{left: "$", right: "$", display: false},
					{left: "\\(", right: "\\)", display: false},
					{left: "\\[", right: "\\]", display: true}
				]
			});
		}
		document.addEventListener('DOMContentLoaded', loadKaTeX);
	</script>

	<!--Codemirror-->
	{{- if .Codemirror -}}
		<!--CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/monokai.css" />
		<!--JS-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/addon/mode/overlay.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/meta.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/markdown/markdown.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/gfm/gfm.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/clike/clike.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/go/go.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/python/python.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/haskell/haskell.min.js"></script>
	<script>
CodeMirror.defaults.lineNumbers = true;
CodeMirror.defaults.indentUnit = 4;
CodeMirror.defaults.tabSize = 4;
CodeMirror.defaults.indentWithTabs = true;
CodeMirror.defaults.lineWrapping = true;
CodeMirror.defaults.viewportMargin = Infinity;
if(window.matchMedia('(prefers-color-scheme: dark)').matches) { // Dark Mode
	CodeMirror.defaults.theme = "monokai";
}
hljs.configure({languages:['c', 'cpp', 'py', 'go', 'haskell']}) // TODO
hljs.initHighlightingOnLoad();
	</script>
	{{- end -}}

	{{- if .Vue -}}
		{{- if .Debug -}}
			<!-- development version, includes helpful console warnings -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.4/vue.global.js"></script>
		{{- else -}}
			<!-- production version, optimized for size and speed -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.4/vue.global.prod.js"></script>
		{{- end -}}
	{{- end -}}

	<link rel="stylesheet" href="/{{$style}}" />
</head>

<body>
	{{ template "util/navbar" . }}

	{{ if .LoggedIn }}
		{{ if not .User.VerifiedEmail }}
			<div class="w-full py-1 px-2 bg-green-200 dark:bg-green-700 text-black dark:text-white text-center">Se pare că încă nu ți-ai verificat e-mail-ul. Apasă <a class="underline text-black dark:text-white" href="/verify/resend">aici</a> dacă trebuie să reprimești verificarea.</div>
		{{ end }}
	{{ end }}
