{{ template "util/header" . }}

<div class="c-container">
	<div class="mb-10 reset-list">{{.Markdown}}</div>
</div>
<script>
var checks = document.querySelectorAll('.c-container input')
for(var i = 0; i < checks.length; i++) {
	checks[i].classList.add('form-input');
}
</script>

{{ template "util/footer" . }}
