{{ define "navbar" }}
<header class="text-2xl bg-gray-100 dark:bg-gray-800 border-b-2 border-gr md:flex md:justify-between md:px-5 md:py-3 md:items-center">
	<div class="flex items-center justify-between px-4 py-3 md:p-0">
		<div class="inline-block">
			<a class="roboto h-8 black-anchor" href="/">{{stringFlag "frontend.navbar.branding"}}</a>
		</div>
		<div class="md:hidden inline-block">
            <a id="theme_button_mobile" class="text-gray-500 dark:text-gray-300 hover:text-black focus:text-black dark:hover:text-white dark:focus:text-white focus:outline-none h-6 w-6 mx-2" href="#">
                {{ if isDarkMode }}
                    <i id="theme_button_mobile_icon" class="fas fa-fw fa-lightbulb"></i>
                {{ else }}
                    <i id="theme_button_mobile_icon" class="fas fa-fw fa-moon"></i>
                {{ end }}
                <span class="fa-sr-only">{{getText "toggleTheme"}}</span>
            </a>
			<button id="nav-toggler" type="button" onclick="navbar_mgr.toggleNavbar()" class="fas fa-bars text-gray-500 dark:text-gray-300 hover:text-black focus:text-black dark:hover:text-white dark:focus:text-white focus:outline-none h-6 w-6 mx-2" aria-label="{{getText `toggleNavbar`}}"></button>
		</div>
	</div>
	<nav id="nav-dropdown" class="px-2 pt-1 pb-3 md:flex md:p-0 z-50">
        <a id="theme_button" class="hidden md:block black-anchor mt-1 md:mt-0 md:ml-1 px-2 py-1 rounded hoverable" href="#">
            {{ if isDarkMode }}
                <i id="theme_button_mobile_icon" class="fas fa-fw fa-lightbulb"></i>
            {{ else }}
                <i id="theme_button_mobile_icon" class="fas fa-fw fa-moon"></i>
            {{ end }}
            <span class="fa-sr-only">{{getText "toggleTheme"}}</span>
        </a>
        {{ if (boolFlag "feature.frontend.navbar.problems_btn") }}
            <a class="block black-anchor mt-1 md:mt-0 md:ml-1 px-2 py-1 rounded hoverable" href="/problems">{{getText "problem.list"}}</a>
        {{ end }}
        {{ if (boolFlag "feature.frontend.navbar.contests_btn") }}
            <a class="block black-anchor mt-1 md:mt-0 md:ml-1 px-2 py-1 rounded hoverable" href="/contests?page=official">{{getText "contests"}}</a>
        {{ end }}
        {{ if canViewAllSubs }}
            {{ if (boolFlag "feature.frontend.navbar.submissions_btn") }}
		    <a class="block black-anchor mt-1 md:mt-0 md:ml-1 px-2 py-1 rounded hoverable" href="/submissions">{{getText "submission.list"}}</a>
            {{ end }}
        {{ end }}
		{{if not authed }}
            {{ if (boolFlag "feature.platform.signup") }}
			    <a class="block black-anchor mt-1 md:mt-0 md:ml-1 px-2 py-1 rounded hoverable" href="/signup?back={{reqPath}}">{{getText "auth.signup"}}</a>
            {{ end }}
            <a class="block black-anchor mt-1 md:mt-0 md:ml-1 px-2 py-1 rounded hoverable" href="/login?back={{reqPath}}">{{getText "auth.login"}}</a>
		{{else}}
			<div id="pr-dropdown" class="relative">
				<button onclick="navbar_mgr.toggleDropdown()" id="profile-dropdown-button" class="relative z-10 block black-anchor mt-1 md:mt-0 md:ml-1 px-2 py-1 rounded hoverable">{{authedUser.Name}}<i id="dropdown-caret" class="ml-1 fas fa-caret-down"></i></button>
				<div id="profile-dropdown" class="dropdown-list hidden">
					<a class="dropdown-list-item" href="/profile">
						<i class="ml-n2 fas fa-user fa-fw"></i> {{getText "profile.url"}} 
					</a>	
					<a class="dropdown-list-item" href="/settings">
						<i class="ml-n2 fas fa-user-cog fa-fw"></i> {{getText "settings"}}
					</a>
                    {{ if canViewAllSubs }}
                        {{ if not (boolFlag "feature.frontend.navbar.submissions_btn") }}
                        <a class="dropdown-list-item" href="/submissions">
                            <i class="ml-n2 fas fa-table-list fa-fw"></i> {{getText "submission.list"}}
                        </a>
                        {{ end }}
                    {{ end }}
                    {{ if not (boolFlag "feature.frontend.navbar.contests_btn") }}
                        <a class="dropdown-list-item" href="/contests?page=official">
                            <i class="ml-n2 fas fa-medal fa-fw"></i> {{getText "contests"}}
                        </a>
                    {{ end }}
                    <a class="dropdown-list-item" href="/tags/">
                        <i class="ml-n2 fas fa-tag fa-fw"></i> {{getText "tags"}}
                    </a>
					{{if authedUser.IsProposer}}
						<div class="dropdown-divider"></div>
						<a class="dropdown-list-item" href="/proposer">
							<i class="ml-n2 fas fa-chalkboard-teacher fa-fw"></i> {{getText "panel.proposer"}}
						</a>
						<a class="dropdown-list-item" href="/problem_lists">
							<i class="ml-n2 fas fa-list-ul fa-fw"></i> {{getText "problem_lists"}}
						</a>
						<a class="dropdown-list-item" href="/posts">
							<i class="ml-n2 fas fa-newspaper fa-fw"></i> {{getText "blog_posts"}}
						</a>
					{{end}}
					{{if authedUser.IsAdmin}}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-list-item" href="/admin">
                            <i class="ml-n2 fas fa-sliders-h fa-fw"></i> {{getText "panel.admin"}}
                        </a>
                        <a class="dropdown-list-item" href="/admin/users">
                            <i class="ml-n2 fas fa-users fa-fw"></i> {{getText "users"}}
                        </a>
                        <a class="dropdown-list-item" href="/admin/auditLog">
                            <i class="ml-n2 fas fa-file-medical-alt fa-fw"></i> {{getText "panel.audit_log"}}
                        </a>
                        <a class="dropdown-list-item" href="/admin/debug">
                            <i class="ml-n2 fas fa-bug-slash fa-fw"></i> {{getText "panel.debug"}}
                        </a>
                        <a class="dropdown-list-item" href="/grader">
                            <i class="ml-n2 fas fa-heart-pulse fa-fw"></i> {{getText "panel.grader"}}
                        </a>
					{{end}}
					<div class="dropdown-divider"></div>
					<a class="dropdown-list-item" href="/logout?back={{reqPath}}">
						<i class="ml-n2 fas fa-sign-out-alt fa-fw"></i> {{getText "auth.logout"}}
					</a>
				</div>
			</div>
		{{end}}
	</nav>
</header>


<script>
var navbar_mgr = new bundled.NavBarManager()
document.getElementById("theme_button").addEventListener("click", bundled.toggleTheme)
document.getElementById("theme_button_mobile").addEventListener("click", bundled.toggleTheme)
</script>
{{end}}
