{{ define "title" }} Error {{.Code}} | Kilonova {{ end }}
{{ define "head" }}
<meta name="robots" content="none">
{{ end }}
{{ define "content" }}

<div class="text-center">
	<h2>{{.Code}}: {{httpstatus .Code}}</h2>
	{{ with .Message }}
		<h1>{{.}}</h1>
	{{ else }}
		<p> {{getText .Ctx.Language "errorMessage"}} </p>
	{{ end }}
</div>
{{ if .ShouldLogin }}
	{{ if not .Ctx.User }}
		<h1>{{getText .Ctx.Language "errorLogin"}}:</h1>
		{{ block "login_modal" . }}
			{{getText .Ctx.Language "errorLoginError"}}
		{{ end }} 
	{{ end }}
{{ end }}

{{ end }}
