{{ define "title" }} Error {{.Code}} | Kilonvoa {{ end }}
{{ define "head" }}
<meta name="robots" content="none">
{{ end }}
{{ define "content" }}

<div class="text-center">
	<h2>{{.Code}}: {{httpstatus .Code}}</h2>
	{{ with .Message }}
		<h1>{{.}}</h1>
	{{ else }}
		<p> That's an error </p>
	{{ end }}
</div>
{{ if .ShouldLogin }}
	{{ if not .User }}
		<h1>Probabil vei putea să accesezi dacă te loghezi:</h1>
		{{ block "login_modal" . }}
			Whoops, nu prea știu cum să te loghezi
		{{ end }} 
	{{ end }}
{{ end }}

{{ end }}
