{{define "older_subs"}}
<details hx-ext="morph" open>
    {{$url := printf "/problems/%d/submissions/?user_id=%d" .Problem.ID .UserID}}
    {{if .Contest}}
        {{$url = printf "/contests/%d/problems/%d/submissions/?user_id=%d" .Contest.ID .Problem.ID .UserID}}
    {{end}}
    <summary><h2 class="inline-block mb-2">{{getText "oldSubs"}}</h2></summary>
    <div id="older_subs" hx-select="#older_subs" hx-get="{{$url}}" hx-swap="outerHTML" hx-trigger="kn-poll{{if not .AllFinished}},load delay:1s{{end}}">
        {{with .Submissions.Submissions}}
            {{range .}}
                <a href="/submissions/{{.ID}}" class="black-anchor flex justify-between items-center rounded py-1 px-2 hoverable">
                    <span>
                        #{{.ID}}: <span class="server_timestamp">{{.CreatedAt.UnixMilli}}</span>
                    </span>
                    <span class="badge-lite text-sm">
                        {{if eq .Status "finished"}}
                            {{formatScore $.Problem .Score}}
                        {{else if eq .Status "working"}}
                            <i class="fas fa-cog animate-spin"></i>
                        {{else}}
                            <i class="fas fa-clock"></i>
                        {{end}}
                    </span>
                </a>
            {{end}}
        {{else}}
            <p class="px-2">{{getText "noSub"}}</p>
        {{end}}
        {{if gt .NumHidden 0}}
            <a class="px-2" href="{{$url}}">
                {{if eq .NumHidden 1}}
                    {{getText "seeOne"}}
                {{else if lt .NumHidden 20}}
                    {{getText "seeU20" .NumHidden}}
                {{else}}
                    {{getText "seeMany" .NumHidden}}
                {{end}}
            </a>
        {{end}}
    </div>
</details>
{{end}}